Activate it in 'trac.ini':
--------
[components]
wikicalendar.* = enabled

[wikiticketcalendar]
 - optional configuration section
 - for use with a custom due date field
   (see WikiTicketCalendarMacro home at trac-hacks.org for details)

Simple Usage
------------
[[WikiTicketCalendar([year,month,[showbuttons,[wiki_page_format,
                      [show_ticket_open_dates,[wiki_page_template,
                      [query_expression,[list_condense,[cal_width]]]]]]]])]]

Arguments
---------
year, month = display calendar for month in year
              ('*' for current year/month)
showbuttons = true/false, show prev/next buttons
wiki_page_format = strftime format for wiki pages to display as link
                   (if exist, otherwise link to create page)
                   default is "%Y-%m-%d", '*' for default
show_ticket_open_dates = true/false, show also when a ticket was opened
wiki_page_template = wiki template tried to create new page
query_expression = TracQuery style ticket selection argument(s)
list_condense = ticket count limit to switch off ticket summary display
cal_width = calendar table width low limit 'min-width', and optional 'width'
            setting for surrounding div triggered by prepending '+' to value

Advanced Use
------------
[[WikiTicketCalendar([nav=(0|1)],[wiki=<strftime-expression>],
    [cdate=(0|1)],[base=<wiki_page_template>],[query=<query_expression>],
    [short=<integer-value>],[width=[+]<valid-CSS-size>])]]

 - equivalent keyword-argument available for all but first two arguments
 - mixed use of keyword-arguments with simple arguments permitted,
   but strikt order of simple arguments (see above) still applies while
   keyword-arguments in-between do not count for that positional mapping,
 - query evaluates a valid TracQuery expression based on any ticket field
   including multiple expressions grouped by 'and' and 'or' 

Examples
--------
[[WikiTicketCalendar(2006,07)]]
[[WikiTicketCalendar(2006,07,false)]]
[[WikiTicketCalendar(*,*,true,Meeting-%Y-%m-%d)]]
[[WikiTicketCalendar(2006,07,false,Meeting-%Y-%m-%d)]]
[[WikiTicketCalendar(2006,07,true,*,true)]]
[[WikiTicketCalendar(2006,07,true,Meeting-%Y-%m-%d,true,Meeting)]]
[[WikiTicketCalendar(wiki=Talk-%Y-%m-%d,base=Talk)]]
 equivalent to [[WikiTicketCalendar(*,*,true,Talk-%Y-%m-%d,true,Talk)]]
[[WikiTicketCalendar(wiki=Meeting-%Y-%m-%d,query=type=task&owner=wg1)]]
[[WikiTicketCalendar(wiki=Meeting_%Y/%m/%d,short=6)]]
[[WikiTicketCalendar(*,*,true,Meeting-%Y%m%d,width=+75%;)]]
