<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="downloads-macros.html"/>
  <xi:include href="layout.html"/>
  <head>
    <title>Downloads</title>
  </head>

  <body>
    <div id="content" class="downloads">
      <div class="title">
        <h1>${downloads.title}</h1>
      </div>

      ${wiki_to_html(context(parent), downloads.description)}

      <form py:if="'DOWNLOADS_ADMIN' in perm" method="post" action="${href.downloads()}">
        <fieldset>
          <legend>
            Edit Description:
          </legend>

          <div py:if="req.args.action == 'edit'" class="field">
            <textarea id="description" name="description" class="wikitext" rows="10" cols="78">${downloads.description}</textarea>
          </div>

          <div class="buttons">
            <input type="submit" name="submit" value="Edit"/>
            <py:choose>
              <py:when test="req.args.action == 'edit'">
                <input type="button" name="cancel" value="Cancel" onclick="location.replace('${href.downloads()}?order=${downloads.order};desc=${downloads.desc}')"/>
                <input type="hidden" name="action" value="post-edit"/>
              </py:when>
              <py:otherwise>
                <input type="hidden" name="action" value="edit"/>
              </py:otherwise>
            </py:choose>
            <input type="hidden" name="order" value="${downloads.order}"/>
            <input type="hidden" name="desc" value="${downloads.desc}"/>
          </div>
        </fieldset>
      </form>

      <py:choose>
        <py:when test="len(downloads.downloads)">
          <div class="downloads-list">
            <table class="listing">
              <thead>
                <tr>
                  <py:if test="downloads.visible_fields.id">
                    ${sortable_th(downloads.order, downloads.desc, 'id', 'ID', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.file">
                    ${sortable_th(downloads.order, downloads.desc, 'file', 'File', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.description">
                    ${sortable_th(downloads.order, downloads.desc, 'description', 'Description', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.size">
                    ${sortable_th(downloads.order, downloads.desc, 'size', 'Size', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.time">
                    ${sortable_th(downloads.order, downloads.desc, 'time', 'Uploaded', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.count">
                    ${sortable_th(downloads.order, downloads.desc, 'count', 'Downloads', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.author">
                    ${sortable_th(downloads.order, downloads.desc, 'author', 'Uploader', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.tags and downloads.has_tags">
                    ${sortable_th(downloads.order, downloads.desc, 'tags', 'Tags', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.component">
                    ${sortable_th(downloads.order, downloads.desc, 'component', 'Component', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.version">
                    ${sortable_th(downloads.order, downloads.desc, 'version', 'Version', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.architecture">
                    ${sortable_th(downloads.order, downloads.desc, 'architecture', 'Architecture', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.platform">
                    ${sortable_th(downloads.order, downloads.desc, 'platform', 'Platform', href.downloads())}
                  </py:if>
                  <py:if test="downloads.visible_fields.type">
                    ${sortable_th(downloads.order, downloads.desc, 'type', 'Type', href.downloads())}
                  </py:if>
                </tr>
              </thead>
              <tbody>
                <py:for each="line, download in enumerate(downloads.downloads)">
                  <tr class="${line % 2 and 'even' or 'odd'}">
                    <td py:if="downloads.visible_fields.id" class="id">
                      <div class="id">
                        <a href="${href.downloads(download.id)}">
                          ${download.id}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.file" class="file">
                      <div class="file">
                        <a href="${href.downloads(download.id)}">
                          ${download.file}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.description" class="description">
                      <div class="description">
                        ${wiki_to_oneliner(context(parent), download.description)}
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.size" class="size">
                      <div class="size">
                        <a href="${href.downloads(download.id)}">
                          ${pretty_size(download.size)}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.time" class="time">
                      <div class="time">
                        <a href="${href.downloads(download.id)}">
                          ${format_datetime(download.time)}<br/>(${pretty_timedelta(download.time)} ago)
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.count" class="count">
                      <div class="count">
                        <a href="${href.downloads(download.id)}">
                          ${download.count or '0'}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.author" class="author">
                      <div class="author">
                        <a href="${href.downloads(download.id)}">
                          ${download.author}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.tags and downloads.has_tags" class="tags">
                      <div class="tags">
                        <a href="${href.downloads(download.id)}">
                          ${download.tags}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.component" class="component">
                      <div class="component">
                        <a href="${href.downloads(download.id)}">
                          ${download.component}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.version" class="version">
                      <div class="version">
                        <a href="${href.downloads(download.id)}">
                          ${download.version}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.architecture" class="architecture">
                      <div class="architecture">
                        <a href="${href.downloads(download.id)}">
                          ${download.architecture.name}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.platform" class="platform">
                      <div class="platform">
                        <a href="${href.downloads(download.id)}">
                          ${download.platform.name}
                        </a>
                      </div>
                    </td>

                    <td py:if="downloads.visible_fields.type" class="type">
                      <div class="type">
                        <a href="${href.downloads(download.id)}">
                          ${download.type.name}
                        </a>
                      </div>
                    </td>
                  </tr>
                </py:for>
              </tbody>
            </table>
          </div>
        </py:when>
        <py:otherwise>
          <p class="help">There are no downloads created.</p>
        </py:otherwise>
      </py:choose>
    </div>

  </body>

</html>
