<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Cc selector window</title>
    <py:if test="chrome.links">
      <py:for each="rel, links in chrome.links.items()">
        <link rel="${rel}" py:for="link in links" py:attrs="link" />
      </py:for>
    </py:if>
    <script py:for="script in chrome.scripts"
            type="${script.type}" src="${script.href}"></script>
  </head>
  
  <body>
    <p>Select Cc, then
      <a href="javascript:window.close();">close</a> this window.
    </p>

    <div id="ccdiv">
      <!-- checkboxes will be inserted here -->
    </div>

    <div id="cc_developers" >
      <!-- developer names will be taken from here  -->
      <var class="cc_dev" title="${d[0]}" name="${d[1]}" email="${d[2]}"
        py:for="d in cc_developers"></var>
      <var id="show_fullname" py:if="show_fullname"></var>
    </div>

    <!-- additional close button, removed from short lists -->
    <p py:if="len(cc_developers) > 9">
      <input type="button" name="btt_close" value="Close"
             title="Back to ticket editor" onclick="window.close()" />
    </p>
  </body>
</html>
