#batchmod-form fieldset,
#batchmod-form fieldset input,
#batchmod-form fieldset select,
.batchmod_label {
	font-size: 11px;
}

#batchmod-form fieldset input[type="button"]{
	padding: 0.1em 0.5em;
}

#batchmod-form th {
    text-align: right;
	white-space: nowrap;
	font-size: 11px;
}

.batchmod_property {
    width: 100%;
}