td input.name {
    display: inline;
    text-align: right;
    }

/* Upload and move/delete file forms */
.bsop_form .bsop_ctl {
    display: block;
    margin-bottom:12px;
    padding: .4em;
    }

.bsop_form fieldset {
    padding: 0; 
    border: 0; 
    margin-top: 25px;
    }

#bsop_buttons {
    text-align: right;
    }
