<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="watchlist"
      py:strip="">
  <fieldset id="${realm}_fields" class="orderadd">
    <legend>${realm.capitalize()} Fields</legend>
    <table>
      <tbody>
        <tr>
          <td>
            Active fields
          </td>
          <td>
          </td>
          <td>
            Available fields
          </td>
        </tr>
        <tr>
          <td rowspan="5">
            <select class="active_fields" size="8" 
              multiple="multiple" style="min-width:12em">
              <py:for each="field in active_fields.get(realm)">
                <option value="${field}">
                    ${available_fields[realm][field]}
                </option>
              </py:for>
            </select>
          </td>
          <td>
            <button type="button" name="up">&#8593;</button>
          </td>
          <td rowspan="5">
            <select class="available_fields" size="8" multiple="multiple" style="min-width:12em">
              <py:for each="
              field in 
              [ c for c in available_fields.get(realm) if c not in active_fields.get(realm) ]
              ">
                <option value="${field}">
                    ${available_fields[realm][field]}
                </option>
              </py:for>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" name="down">&#8595;</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" name="right">&#8594;</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" name="left">&#8592;</button>
          </td>
        </tr>
        <tr>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="hidden" class="choosen_fields" name="${realm}_fields" value="" />
  </fieldset>
</html>
