<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="watchlist">
  <xi:include href="layout.html"/>
  <head>
    <link type="text/css"
      href="${href.chrome('watchlist','css','style.css')}"
      rel="stylesheet" />
    <link type="text/css"
      href="${href.chrome('watchlist','css','dataTable.css')}"
      rel="stylesheet" />
    <title>Watchlist</title>
    <meta py:if="version" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <script type="text/javascript" 
      src="${href.chrome('watchlist','js','jquery.dataTables.min.js')}">
    </script>
    <script type="text/javascript" 
      src="${href.chrome('common','js','folding.js')}">
    </script>
    <script type="text/javascript" 
      src="${href.chrome('watchlist','js','watchlist.js')}"></script>
    <script type="text/javascript" 
      src="${href.chrome('common','js','folding.js')}"></script>
    <py:def function="link(realm, resid, text='')">
        <a href="${href(realm,resid)}">${text or ":".join([realm,resid])}</a>
    </py:def>
    <py:def function="slink(realm, resid, text='')">
        <a href="${href(realm,resid)}">${text or resid}</a>
    </py:def>
    <py:def function="modify_form(realm, label=None)">
      <div class="modwatch">
      <form method="get" action="" class="addtowatch">
        <span>
          Add ${label or (realm.capitalize() + 's')}:
          <input type="text" name="resid" />
          <input type="hidden" name="realm" value="$realm" />
          <input type="hidden" name="action" value="watch" />
        </span>
      </form>
      <form method="get" action="" class="remfromwatch">
        <span>
          Remove ${label or (realm.capitalize() + 's')}:
          <input type="text" name="resid" />
          <input type="hidden" name="realm" value="$realm" />
          <input type="hidden" name="action" value="unwatch" />
        </span>
      </form>
      </div>
    </py:def>
  </head>

  <body>
    <div id="content" class="watchlist">
        <py:def function="ackmsg">
              <input class="ackmsg" type="button" value="Ok" />
        </py:def>
        <py:def function="unwatchicon">
          <img src="${href.chrome('watchlist/ico/unwatch.png')}" width="14px"
            height="14px" title="Unwatch" alt="Unwatch" />
        </py:def>
        <py:def function="notifybox(realm,name,notifyon)">
          <py:choose test="">
            <a class="notifyon plainlink" py:when="notifyon" 
              href="${href.watchlist(action='notifyoff',realm=realm,
              resid=name)}">
              <input checked="checked" type="checkbox" name="$name" />
            </a>
            <a class="notifyoff plainlink" py:otherwise="" 
              href="${href.watchlist(action='notifyon',realm=realm,
              resid=name)}">
              <input type="checkbox" name="$name" />
            </a>
          </py:choose>
        </py:def>
        <py:def function="tablepager(name)">
          <!-- Deprecated -->
        </py:def>

        <h1 id="top"><a href="${href.watchlist()}">Watchlist</a></h1>
        <div py:if="show_messages and action"
          py:choose="action" id="message-box">
            <py:when test="'watch'">
                <div class="system-message" id="error"
                  py:if="err_res or err_pat">
                    <h3 class="system-message-title">Not found</h3>
                    <div py:if="err_res" class="err_res">
                      <p i18n:msg="realm">
                        The following selected ${realm}s where not found
                        and could therefore not be added to the watchlist:
                      </p>
                      <ul><li py:for="res in err_res">$res</li></ul>
                    </div>
                    <div py:if="err_pat" class="err_pat">
                      <p>The following patterns did not result in any matches:
                      </p>
                      <ul><li py:for="pat in err_pat">$pat</li></ul>
                    </div>
                    <p class="ackmsg">${ackmsg()}</p>
                </div>
                <div class="system-message" id="warning"
                  py:if="len(alw_res)==1" py:with="resid=alw_res[0]">
                    <h3 class="system-message-title">Already on Watchlist</h3>
                    <p i18n:msg="realm, resid">
                      Selected ${link(realm,resid)} is already watched.
                      (<a href="${href.watchlist(action='unwatch',realm=realm,
                      resid=resid)}">Unwatch it?</a>)${ackmsg()}
                    </p>
                </div>
                <div class="system-message" id="warning"
                  py:if="len(alw_res)>1">
                    <h3 class="system-message-title">Already on Watchlist</h3>
                    <p i18n:msg="realm">
                      The following selected ${realm}s where already
                      on the watchlist:
                    </p>
                    <ul>
                      <li py:for="res in alw_res">${slink(realm,res)}</li>
                    </ul>
                    <p class="ackmsg">${ackmsg()}</p>
                </div>
                <div class="system-message" id="notice"
                  py:if="len(new_res)==1" py:with="resid=new_res[0]">
                    <h3 class="system-message-title">Added to Watchlist</h3>
                    <p i18n:msg="realm, resid">
                      The selected ${link(realm,resid)} was added
                      to the watchlist.
                      (<a href="${href.watchlist(action='unwatch',realm=realm,
                      resid=resid)}">Remove again</a>)${ackmsg()}
                    </p>
                </div>
                <div class="system-message" id="notice" py:if="len(new_res)>1">
                    <h3 class="system-message-title">Added to Watchlist</h3>
                    <p i18n:msg="realm, new_res">
                      The following selected ${realm}s where added
                      to the watchlist:
                      (<a href="${href.watchlist(action='unwatch',realm=realm,
                      resid=new_res)}">Remove them again</a>)
                    </p>
                    <ul>
                      <li py:for="res in new_res">${slink(realm,res)}</li>
                    </ul>
                    <p class="ackmsg">${ackmsg()}</p>
                </div>
            </py:when>
            <py:when test="'unwatch'">
                <div class="system-message" id="notice"
                  py:if="len(del_res)==1" py:with="resid=del_res[0]">
                    <h3 class="system-message-title">Removed from Watchlist
                    </h3>
                    <p i18n:msg="realm, resid">
                      The selected ${link(realm,resid)} was removed
                      from the watchlist.
                      (<a href="${href.watchlist(action='watch',realm=realm,
                      resid=resid)}">Add again</a>)${ackmsg()}
                    </p>
                </div>
                <div class="system-message" id="notice"
                  py:if="len(del_res)>1">
                    <h3 class="system-message-title">Removed from Watchlist
                    </h3>
                    <p i18n:msg="realm, del_res">
                      The following selected ${realm}s where removed
                      from the watchlist:
                      (<a href="${href.watchlist(action='watch',realm=realm,
                      resid=del_res)}">Add them again</a>)
                    </p>
                    <ul>
                      <li py:for="res in del_res">${slink(realm,res)}</li>
                    </ul>
                    <p class="ackmsg">${ackmsg()}</p>
                </div>
                <div class="system-message" id="warning"
                  py:if="err_res or err_pat">
                    <h3 class="system-message-title">Not on Watchlist</h3>
                    <div py:if="err_res" class="err_res">
                      <p i18n:msg="realm">
                        The following to-be-deleted ${realm}s
                        where not on the watchlist:
                      </p>
                      <ul>
                        <li py:for="res in err_res">${slink(realm,res)}</li>
                      </ul>
                    </div>
                    <div py:if="err_pat" class="err_pat">
                      <p>The following patterns did not result
                        in any matches in the watchlist:
                      </p>
                      <ul><li py:for="res in err_pat">$res</li></ul>
                    </div>
                    <p class="ackmsg">${ackmsg()}</p>
                </div>
            </py:when>
        </div>
    <xi:include href="wl-${realm}.html" py:for="realm in realms" />


    <div id="settings">
      <h2 class="foldable">Settings</h2>
      <div>
        <form action="${href.watchlist()}" method="get">
          <div>
            <input type="hidden" name="action" value="settings" />
            <input type="checkbox" name="autonotify" value="1"
            checked="${user_settings.get('autonotify')}" />
            Auto Notify (${user_settings.autonotify})<br />
            <input type="checkbox" name="notifications" value="1"
            checked="${user_settings.get('notifications')}" />
            Notifications <br />
            ${str(user_settings)}
            <br />
            <input type="submit" value="Save" />
            <input type="reset" />
          </div>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
