<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="watchlist"
      py:strip="">

  <div id="tickets">
        <py:choose test="">
          <div class="system-message" py:when="'TICKET_VIEW' not in perm">
            <h2>Tickets</h2>
            You lack permission to view tickets.
          </div>
          <div class="ticketlist-main" id="ticketlist-main" py:otherwise="">
            <div>
            <h2 class="${ticketlist and 'foldable' or ''}">Tickets</h2>
            <div class="watchlist-parent" id="ticketlist-parent" py:if="ticketlist">
            <table class="watchlist" id="ticketlist">
              <thead>
                <tr py:with="attr = {
                    'unwatch': { 'class':'nosorting' },
                    'notify': { 'class':'nosorting' },
                  }">
                  <th py:for="k in active_columns[realm]"
                      py:if="k != 'notify' or notifications"
                      class="${k}" py:attrs="attr.get(k,{})">${available_columns[realm][k]}</th>
                </tr>
              </thead>
              <tbody>
                  <td py:def="ticket_id" class="id">
                    <a href="${href('ticket', ticket.id)}"
                      title="${ticket.summary}" class="${ticket.status == 'closed' and 'closed'}">#${ticket.id}</a>
                  </td>
                  <td py:def="ticket_datetime" class="datetime">$ticket.datetime
                      <span py:if="ticket.timedelta"
                        i18n:msg="timeline_link, timedelta"> (<a
                        href="$ticket.timeline_link">$ticket.timedelta</a> ago)</span></td>
                  <td py:def="ticket_author" class="author">$ticket.author</td>
                  <td py:def="ticket_commentnum" class="commentnum"><a href="${href('ticket',ticket.id)
                      + ((ticket.commentnum != '0') and ('#comment:'
                      + ticket.commentnum) or
                      '')}">$ticket.commentnum</a></td>
                  <td py:def="ticket_unwatch" class="unwatch"><a class="plainlink"
                      href="${href.watchlist(action='unwatch',realm='ticket',
                      resid=ticket.id)}">${unwatchicon()}</a></td>
                  <td py:def="ticket_notify" class="notify" py:if="notifications">
                      ${notifybox('ticket',ticket.id,ticket.notify)}</td>
                  <td py:def="ticket_changes" class="changes">$ticket.changes</td>
                  <td py:def="ticket_comment" class="comment">$ticket.comment</td>
                <tr py:for="ticket in ticketlist">
                  <py:for each="k in active_columns[realm]">
                      ${value_of('ticket_' + k,noop)()}
                  </py:for>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="noentrymessage" style="${ticketlist or 'display:block'}">
            No tickets are currently watched.
          </p>
          </div>
          ${modify_form('ticket')}
          </div>
        </py:choose>
  </div>
</html>
