.tabs {
 border: 1px solid black;
 border-color: gray black black gray;
 margin: 2em 0;
 padding: .5em 0 0;
 float: left;
 width: 12em;
}
.tabs ul { list-style: none; margin: 0 0 .5em; padding: 0 }
.tabs li { margin: 0; padding: 0.1em .5em }
.tabs li li { margin: 0 -0.5em; padding-left: 1.5em }
.tabs li li.active { background: #ccb; }
.tabs :link, .tabs :visited { border: none; display: block }
.tabs :link:hover, .tabs :visited:hover { background: transparent }

.tabcontents {
 padding: 0.4em 2em;
 margin-left: 12em;
 min-height: 300px;
}
p.help { color: #666; font-size: 90%; margin: 1em .5em .5em }

form.addnew { clear: right; float: right; margin: -2em 0 4em; width: 33% }
form.mod { margin-top: 1em; }
form.mod .field { margin: .5em 0; }
form .field em { color: #888; font-size: smaller }
form .field .disabled em { color: #d7d7d7 }

table.listing { clear: none; width: 64% }
table.listing .sel, table.listing .default { text-align: center; width: 1% }

/* Plugins panel */
form#addplug { width: 35% }
.plugin {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 0 0 2em;
 padding: 2px .5em;
 text-align: left;
 width: 60%;
}
.plugin h3 {
 background: url(../img/expanded.png) 0 50% no-repeat;
 margin: .5em 0 0;
 padding-left: 16px;
}
.collapsed h3 { background-image: url(../img/collapsed.png); }
.plugin .buttons { margin-top: 0; text-align: right }
.plugin .uninstall { margin-top: -2em; padding: 0 }
.plugin .summary, .plugin .info {
 color: #999;
 font-size: 80%;
 padding-left: 16px;
}
.plugin .summary { margin: -.5em 0 .5em }
.plugin .info { margin: 1em 0 .5em; }
.plugin .info dt { float: left; width: 7em; }
.plugin .info dd { padding: 0; margin: 0; }
.plugin .listing { width: 100% }
.collapsed .info, .collapsed .listing, .collapsed .update { display: none }
.plugin .listing td { background: #fff }
.plugin .listing .name p { color: #999; font-size: 80%; margin: 0 }
