#main-wrapper {
    position: relative;
    width: 100%;
}

#main-wrapper .report-wrapper h2 {
    text-align: center;
}

#main-wrapper .report-wrapper h3 {
    text-align: center;
}

#main-wrapper .report-wrapper {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;    
    border-bottom: 1px solid #DDD;
    margin-bottom: 30px;
    padding: 10px 20px;
    clear: both;
}

#main-wrapper .report-wrapper .clear {
    line-height: 1px;
    clear: both;
}

#main-wrapper .report-wrapper .graph {
    position: relative;
    float: left;
}

#main-wrapper .report-wrapper .data-table {
    position: relative;
    float: right;
}

#main-wrapper .report-wrapper .data-table table {
    width: 240px;
    background-color: #CCC;
}

#main-wrapper .report-wrapper .data-table table thead tr th {
    background: black;
    color: white;
    padding: 3px 5px;
    white-space: nowrap;
    font-size: 0.85em;    
}

#main-wrapper .report-wrapper .data-table table tbody tr td {
    font-size: 0.85em;
    text-align: center;
    background-color: #FFF;
}