<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"      
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="tracforms">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title py:if="title">$title</title>
  </head>

  <body>
    <div id="content" class="tracforms">
      <h1 py:if="page_title">${page_title}</h1>
      <div>
        <h2>Change History</h2>
        <div id="changelog" py:choose="">
          <py:when test="history" py:for="changeset in history">
            <div id="change">
              <h3 class="change" i18n:msg="time, author">
                Changed on ${changeset.time} by ${changeset.author}:
              </h3>
              <ul class="changes">
                <li py:for="change in changeset.changes">
                  ${change['field']} ${change['change']}
                </li>
              </ul>
            </div>
          </py:when>
          <py:otherwise>(No change recorded)</py:otherwise>
        </div>
      </div>
      <form id="form_reset" method="post"
            py:if="allow_reset is True">
        <div class="buttons">
          <input type="submit" name="reset"
                 value="${dgettext('tracforms', 'Reset form')}" />
          <input type="hidden" name="action" value="reset"/>
        </div>
      </form>
    </div>
  </body>
</html>
