.property_group { white-space: nowrap; line-height: 100%; padding: .5em }
.property_group table { border-spacing: 0; width: 100%; padding: 0 .5em }
.property_group table th {
  padding: .4em;
  text-align: right;
  width: 20%;
  vertical-align: top;
}
.property_group table th.col2 { border-left: 1px dotted #d7d7d7 }
.property_group table td { vertical-align: middle; width: 30% }
.property_group table td.fullrow { vertical-align: middle; width: 80% }

/* Section folding */
.property_group > legend :link, .property_group > legend :visited {
  background: url(images/expanded.png) 0 50% no-repeat;
  border: none;
  padding-left: 16px;
}
.property_group :link:hover, .property_group :visited:hover { background-color: transparent }
.collapsed.property_group :link, .collapsed.property_group :visited {
  background-image: url(images/collapsed.png);
}
fieldset.property_group > legend :link, fieldset.property_group > legend :visited {
  color: #999;
  font-size: 110%;
}

fieldset.property_group.collapsed { border: none; margin: 0; padding-left: 0; }
