/* Buttons forms styles. */
div.screenshot_buttons
{
  text-align: center;
}

/* Controls form styles. */
div.controls
{
  text-align: left;
}

div.controls fieldset
{
  margin: 1em;
  padding: 0.5em;
}

div.controls div.field
{
  display: inline;
}

div.order fieldset.order
{
  float: left;
  padding: 1em;
  margin: 0.5em;
}

div.order hr
{
  padding: 0em;
  margin: 0.5em 0em;
}

div.order div.buttons
{
  clear: both;
}

/* Wiki [[Screenshot()]] macro styles. */
span.thumbnail
{
  display: block;
  margin: 0em;
  padding: 0em;
}

span.thumbnail span.aux
{
  display: block;
  padding: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
}

span.thumbnail a
{
  display: block;
  border-color: #b00;
  border-style: solid;
}

span.thumbnail a img
{
  display: block;
  margin: auto;
}

span.thumbnail span.description
{
  display: block;
  margin-top: 0.5em;
}

span.thumbnail-left, span.thumbnail-right
{
  display: block;
  margin: 0em 2em;
  padding: 0em;
}

span.thumbnail-left span.aux, span.thumbnail-right span.aux
{
  display: block;
  margin: 0.5em 0em;
  padding: 0em;
}

span.thumbnail-left a, span.thumbnail-right a
{
  display: block;
  margin: 0em;
  padding: 0em;
  border-color: #b00;
  border-style: solid;
}

span.thumbnail-left a img, span.thumbnail-right a img
{
  display: block;
  margin: auto;
}

span.thumbnail-left span.description, span.thumbnail-right span.description
{
  display: block;
  margin-top: 0.5em;
}

span.thumbnail, span.thumbnail-left, span.thumbnail-right
{
  font-size: 75%;
  text-align: center;
}

span.thumbnail-left
{
  margin-left: 0em;
  float: left;
}

span.thumbnail-right
{
  margin-right: 0em;
  float: right;
}
