<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title>Create Code Review</title>
    <style>
      <!--
      table.code th.addFileNums { width: 4em; }
      //-->
    </style>
  </head>

  <body>
	<!-- Top Navigation Bar -->
	<div id="ctxtnav" class="nav"> 
		<h2>Peer Review Navigation</h2> 
		<ul>
			<li py:if="main == 'yes'" class="first">My Code Reviews</li>
			<li py:if="main == 'no'" class="first"><a href="${href.peerReviewMain()}">My Code Reviews</a></li>

			<li py:if="create == 'yes'">Create a Code Review</li>
			<li py:if="create == 'no'"><a href="${href.peerReviewNew()}">Create a Code Review</a></li>

			<li py:if="manager == 0 and search == 'yes'" class="last">Search Code Reviews</li>
			<li py:if="manager == 0 and search == 'no'" class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
			<li py:if="manager == 1 and search == 'yes'">Search Code Reviews</li>
			<li py:if="manager == 1 and search == 'no'"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>

			<li py:if="manager == 1 and option == 'yes'" class="last">Manager Options</li>
			<li py:if="manager == 1 and option == 'no'" class="last"><a href="${href.peerReviewOptions()}">Manager Options</a></li>
		</ul> 
	</div> 

	<p><h1>Create a New Code Review</h1></p>
	
	<h2>Step 1: Choose a name for this review.</h2><br />
	
	<!-- CodeReview name is empty if new, with previous name is resubmitted -->
	<form method="post" action="${href.peerReviewNew()}" onsubmit="return validateInput(this);">
		Name: <input type="text" name="Name" MAXLENGTH="50" value="${name}" /><br />
		
		<h2>Step 2: Select the sections to be reviewed.</h2><br />
		<!-- Displays the file browser -->
		<span id="browserArea"></span>
		<table class="listing" id="myfilelist">
			<thead>
				<tr>
					<td>Filename (Click to remove)</td>
					<td>Start Line</td>
					<td>End Line</td>
					<td>Rev</td>
				</tr>
			</thead>
		
		<!-- Display an empty file list if it's a new CodeReview, display previous list if resubmitted -->
			<tbody py:if="new == 'yes'" id = "myfilebody">
				<tr id = "nofile" class="even">
					<td>No files have been added to the code review.</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>

			<tbody py:with="cls=cycle(('odd', 'even'))" id = "myfilebody">
				<tr py:for="item in prevFiles" id="${item[0]},${item[1]},${item[2]},${item[3]}id" class="${cls.next()}">
					<td value="${item[0]},${item[1]},${item[2]},${item[3]}">
						<a href="javascript:removefile('${item[0]},${item[1]},${item[2]},${item[3]}')">${item[0]}</a>
					</td>
					<td>${item[2]}</td>
					<td>${item[3]}</td>
					<td>${item[1]}</td>
				</tr>
			</tbody>
		</table><br /><br />

		<h2>Step 3: Select reviewers for your review.</h2>

		<!-- Display a full reviewer drop-down list if it's a new CodeReview, display unassigned reviewers if resubmitted -->
		<py:choose test="new">
			<span py:when="'yes'">
				<select id="Reviewers">
					<option py:for="item in users" value="${item}">${item}</option>
				</select>
			</span>
			<span py:otherwise="">
				<py:choose test="emptyList">
					<span py:when="0">
						<select id="Reviewers">
							<option py:for="item in notPrevUsers" value="${item}">${item}</option>
						</select>
					</span>
					<span py:otherwise="">
						<select id="Reviewers">
							<option value="-1">--All users exhausted--</option>
						</select>
					</span>
				</py:choose>
			</span>
		</py:choose>
		<py:choose test="emptyList">
			<input py:when="1" disabled="true" id="adduserbutton" type="button" onclick="adduser()" value="Add user" />
			<input py:otherwise="" id="adduserbutton" type="button" onclick="adduser()" value="Add user" />
		</py:choose>

		<!-- Display an empty file list if it's a new CodeReview, display previous list if resubmitted -->
		<div py:choose="new">
			<span py:when="'yes'">
				<table class="listing" id="myuserlist">
					<thead>
						<tr>
							<td>Username (Click to remove)</td>
						</tr>
					</thead>
					<tbody id = "myuserbody">
						<tr id = "No Users" class="even">
							<td>No users have been added to the code review.</td>
						</tr>
					</tbody>
				</table>
			</span>
			<span py:otherwise="">
				<table class="listing" id="myuserlist">
					<thead>
						<tr>
							<td>Username (Click to remove)</td>
						</tr>
					</thead>
					<tbody py:with="cls=cycle(('odd', 'even'))" id = "myuserbody">
						<tr py:for="item in prevUsers" id="${item}id" class="${cls.next()}">
							<td value="${item}"><a href="javascript:removeuser('${item}')">${item}</a></td>
						</tr>
					</tbody>
				</table>
			</span>
		</div>
		<br />

		<h2>Step 4: Write general notes and instructions for the reviewers. (Optional)</h2>
		<!-- Display an empty notes area if it's a new CodeReview, display previous notes if resubmitted -->
		<textarea name="Notes" cols="60" rows="8" py:content="notes"></textarea>
		<br />
		<input py:if="oldid > -1" type="hidden" name="oldid" value="${oldid}" />
		<input type="hidden" name="ReviewersSelected" id="ReviewersSelected" py:attrs="reviewersSelectedValue" />
		<input type="hidden" name="FilesSelected" id="FilesSelected" py:attrs="filesSelectedValue" />
		<input type="hidden" name="reqAction" value="createCodeReview" />
		<input type="submit" name="Next" value="${new == 'yes' and 'Add Code Review' or 'Resubmit Code Review'}" />
		<br />

	</form>

	<script type="text/javascript">
		var browserCallback = "${href.peerReviewBrowser()}";
	</script>
	<script type="text/javascript" src="${href.chrome('hw/js/peerReviewNew.js')}"/>

  </body>

</html>
