<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

<head>
</head>

<body>
	<!-- Top Navigation Bar -->
	<div id="ctxtnav" class="nav"> 
		<h2>Peer Review Navigation</h2> 
		<ul>
			<li py:if="main == 'yes'" class="first">My Code Reviews</li>
			<li py:if="main == 'no'" class="first"><a href="${href.peerReviewMain()}">My Code Reviews</a></li>

			<li py:if="create == 'yes'">Create a Code Review</li>
			<li py:if="create == 'no'"><a href="${href.peerReviewNew()}">Create a Code Review</a></li>

			<li py:if="manager == 0 and search == 'yes'" class="last">Search Code Reviews</li>
			<li py:if="manager == 0 and search == 'no'" class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
			<li py:if="manager == 1 and search == 'yes'">Search Code Reviews</li>
			<li py:if="manager == 1 and search == 'no'"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>

			<li py:if="manager == 1 and option == 'yes'" class="last">Manager Options</li>
			<li py:if="manager == 1 and option == 'no'" class="last"><a href="${href.peerReviewOptions()}">Manager Options</a></li>
		</ul> 
	</div>

	<br /><b>File Information</b><br />

	<table border="0" width="100%" style="border-collapse: collapse" id="infoTable">
		<tr>
			<td>Path: ${review_path}</td>
		</tr>
		<tr>
			<td>Revision: ${review_version}</td>
		</tr>
		<tr>
			<td>Start Line: ${review_lineStart}<br /></td>
		</tr>
		<tr>
			<td>End Line: ${review_lineEnd}<br /></td>
		</tr>
	</table>
	<br />

	<table border="0" width="100%" style="border-collapse: collapse" id="table1">
		<tr>
			<td align="left"><font size="2">Click line number to Add/View comments</font></td>
			<td align="right"><font size="2">View <input type="text" id="SelectRangeTextBox"
			                   size="1" value="3" onKeyDown="if(event.keyCode == 13 || event.keyCode == 3){resetLines();}" 
			                   style="text-align: center" /> lines on either side of selection.</font>
			</td>
		</tr>
	</table>

	<!-- displays the contents of the file being reviewed -->
	<div id="FilePreview">${file}</div>

	<br />
	Back to the <a href="${href.peerReviewView()}?Review=${review_reviewID}"> Code Review Details</a> page
	<br /><br />

	<div id="ViewCommentArea" style="position:absolute;left:0px;top:0px;z-index:1;display:none;width:455px;height:500px;" cellpadding="0" cellspacing="0">
		<table width="450px" bgcolor="#F7F7F7" style="border-collapse: collapse;">
			<tr height="15px">
				<td id="ViewCommentTitle" width="432px" onmousedown="dragStart(event, 'ViewCommentArea');" 
				    style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000;" 
				    background="${href.chrome('/hw/images/top_bar_repeater_1x17.gif')}">
				</td>
				<td width="18px" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;" 
				    background="${href.chrome('/hw/images/close_btn_18x17.gif')}" 
				    onclick="closeCommentWindow('ViewCommentArea');">
				</td>
			</tr>
			<tr height="10px">
				<td style="border-left: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2" />
			</tr>
			<tr>
				<td width="450px" align="center" style="border-left: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2">
					<div style="background-color: #F7F7F7; border: 1px solid #C0C0C0; overflow: auto; max-height: 400px; width: 425px" id="innerCommentDiv">
						Loading...
					</div>
				</td>
			</tr>
			<tr height="5px">
				<td style="border-left: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2" />
			</tr>
			<tr>
				<td width="450px" align="right" style="border-left: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2" id="ViewAddCommentButtonArea" />
			</tr>
			<tr height="3px">
				<td style="border-left: 1px solid #C8C8C8; border-bottom: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2" />
			</tr>
		</table>
	</div>

	<div id="AddCommentArea" style="position:absolute;left:0px;top:0px;z-index:1;display:none;width:305px;height:325px;">
		<table width="300px" bgcolor="#F7F7F7" style="border-collapse: collapse;">
			<tr height="15px">
				<td id="AddCommentTitleArea" width="282px" onmousedown="dragStart(event, 'AddCommentArea');" 
				    style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000;" 
				    background="${href.chrome('/hw/images/top_bar_repeater_1x17.gif')}">
				</td>
				<td width="18px" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;" 
				    background="${href.chrome('/hw/images/close_btn_18x17.gif')}" 
				    onclick="closeCommentWindow('AddCommentArea');">
				</td>
			</tr>
			<tr height="10px">
				<td style="border-left: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2" />
			</tr>
			<tr>
				<td valign="top" style="border-left: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2">
					<iframe frameborder="0" name="internalAddComment" id="internalAddComment" 
					        marginHeight="0" marginWidth="0" style="width:285px; height:196px" 
					        src="${href.peerReviewCommentCallback()}">
					</iframe>
				</td>
			</tr>
			<tr height="2px">
				<td style="border-left: 1px solid #C8C8C8; border-bottom: 1px solid #C8C8C8; border-right: 1px solid #C8C8C8;" colspan="2" />
			</tr>
		</table>	
	</div>

	<script type="text/javascript">
		var baseUrl = "${href.peerReviewCommentCallback()}";
		var tacUrl = "${href.chrome('/hw/images/thumbtac11x11.gif')}";
		var plusUrl = "${href.chrome('/hw/images/plus.gif')}";
		var minusUrl = "${href.chrome('/hw/images/minus.gif')}";
		var lineStart = ${review_lineStart};
		var lineEnd = ${review_lineEnd};
	</script>
	<script type="text/javascript" src="${href.chrome('/hw/js/peerReviewPerform.js')}"></script>

	<style>
		table.code th.performCodeReview { width: 4em;}
	</style>

  </body>
</html>