<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

<head>
	<link rel="stylesheet" href="/trac-mysql/chrome/common/css/code.css" type="text/css" media="screen, projector, print" />
	<link rel="stylesheet" href="/trac-mysql/chrome/common/css/browser.css" type="text/css" media="screen, projector, print" />
</head>

<body>
	<!-- Top Navigation Bar -->
	<div id="ctxtnav" class="nav"> 
		<h2>Peer Review Navigation</h2> 
		<ul>
			<li py:if="main == 'yes'" class="first">My Code Reviews</li>
			<li py:if="main == 'no'" class="first"><a href="${href.peerReviewMain()}">My Code Reviews</a></li>

			<li py:if="create == 'yes'">Create a Code Review</li>
			<li py:if="create == 'no'"><a href="${href.peerReviewNew()}">Create a Code Review</a></li>

			<li py:if="manager == 0 and search == 'yes'" class="last">Search Code Reviews</li>
			<li py:if="manager == 0 and search == 'no'" class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
			<li py:if="manager == 1 and search == 'yes'">Search Code Reviews</li>
			<li py:if="manager == 1 and search == 'no'"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>

			<li py:if="manager == 1 and option == 'yes'" class="last">Manager Options</li>
			<li py:if="manager == 1 and option == 'no'" class="last"><a href="${href.peerReviewOptions()}">Manager Options</a></li>
		</ul> 
	</div>

	<p><h1>Code Review Details</h1></p>

	Code review name: ${name}<br />
	Code review status: ${status}<br />
	Author:  ${author}<br />
	Creation Date:  ${datecreate}<br />
	<br />

	<script type="text/javascript">
		function handlerowclick(num){

		}
	</script>

	<h2>Files associated with this code review</h2>

	<table class="listing" id="filelist">
		<thead>
			<tr>
				<td>File ID</td>
				<td>Filename</td>
				<td>Revision</td>
				<td>Line Numbers</td>
				<td># of Comments</td>
			</tr>
		</thead>
		<tbody py:with="cls=cycle(('odd', 'even'))">
			<tr py:if="filesLength == 0" class="even">
				<td>There are no files included in this code review.</td>
			</tr>
			<tr py:if="filesLength > 0" py:for="item in files" class="${cls.next()}">
				<td><a href="${href.peerReviewPerform()}?IDFile=${item[0]}">${item[0]}</a></td>
				<td><a href="${href.peerReviewPerform()}?IDFile=${item[0]}">${item[2]}</a></td>
				<td><a href="${href.peerReviewPerform()}?IDFile=${item[0]}">${item[5]}</a></td>
				<td><a href="${href.peerReviewPerform()}?IDFile=${item[0]}">${item[3]}-${item[4]}</a></td>
				<td><a href="${href.peerReviewPerform()}?IDFile=${item[0]}">${item[6]}</a></td>
			</tr>
		</tbody>
	</table>

	<br />

	<h2>Users assigned to this code review</h2>

	<table py:if="author == myname or manager == 1" class="listing" id="userlist">
		<thead>
			<tr>
				<td>User name</td>
				<td>Vote</td>
			</tr>
		</thead>
		<tbody py:with="cls=cycle(('odd', 'even'))">
			<tr py:if="rvsLength == 0" class="even">
				<td>There are no users included in this code review.</td>
			</tr>
			<tr py:if="filesLength > 0" py:for="item in rvs" class="${cls.next()}">
				<td>${item[0]}</td>
				<td>${item[1]}</td>
			</tr>
		</tbody>
	</table>

	<table py:if="author != myname and manager != 1" class="listing" id="userlist">
		<thead>
			<tr>
				<td>User name</td>
			</tr>
		</thead>
		<tbody py:with="cls=cycle(('odd', 'even'))">
			<tr py:if="rvsLength == 0" class="even">
				<td>There are no users included in this code review.</td>
			</tr>
			<tr py:if="rvsLength > 0" py:for="item in rvs" class="${cls.next()}">
				<td>${item[0]}</td>
			</tr>
		</tbody>
	</table>

	<br /><br />
	<h2>Author's notes and instructions</h2>
	<textarea name="Notes" cols="60" rows="8" readonly="true">${notes}</textarea>
	<br /><br />

	<py:if test="viewvotesummary == 1">
	<h2>Vote summary</h2>
	<table width = "35%">
		<tr>
			<td><b>Vote tally:</b></td>
			<td><font color="limegreen"><b>Yes: ${voteyes}</b></font></td>
			<td><font color="red"><b>No: ${voteno}</b></font></td>
			<td><b>Pending: ${notvoted}</b></td>
		</tr>
		<tr py:if="canivote">
			<td><b>Your vote is:</b></td>
			<td>
				<b>
					<py:if test="myvote == -1">Pending</py:if>
					<py:if test="myvote == 0"><font color="red">No</font></py:if>
					<py:if test="myvote == 1"><font color="limegreen">Yes</font></py:if>
				</b>
			</td>
		</tr>
	</table>

	<br /><br />
	</py:if>

	<py:if test="canivote == 1 and status != 'Closed' and status !=  'Ready for inclusion'">
	<h2>${myvote != -1 and 'Modify' or 'Cast'} your vote:</h2>
	<table>
		<tr>
			<td>
				<form method="post" action="${href.peerReviewView()}">
					<input type="submit" value="Approve" />
					<input type="hidden" value="${reviewID}" name="Review" />
					<input type="hidden" value="yes" name="Vote" />
				</form>
			</td>
			<td>
				<form method="post" action="${href.peerReviewView()}">
					<input type="submit" value="Not Approve" />
					<input type="hidden" value="${reviewID}" name="Review" />
					<input type="hidden" value="no" name="Vote" />
				</form>
			</td>
		</tr>
	</table>
	</py:if>

	<py:if test="manager==1">
	<h2>Manager privileges</h2>
	Change code review status:
	<table valign="middle">
		<tr>
			<td>
				<form method="post" action="${href.peerReviewView()}">
					<select name="ManagerChoice" id="ManagerChoice">
						<option value="Open for review">Open for review</option>
						<option value="Reviewed">Reviewed</option>
						<option value="Ready for inclusion">Ready for inclusion</option>
						<option value="Closed">Closed</option>
					</select>
					<input type="hidden" value="${reviewID}" name="Review" />
					<input type="submit" name="submitbutton" value="Change Status" />
				</form>
			</td>
			<td width="30px" />
			<td>
				<form method="post" action="${href.peerReviewNew()}">
					<input type="submit" value="Resubmit For Review" />
					<input type="hidden" value="${reviewID}" name="resubmit" />
				</form>
			</td>
		</tr>
	</table>
	</py:if>

	<py:if test="manager != 1 and author == myname">
	<h2>Author privileges</h2>
	<table>
		<tr>
			<td py:if="status != 'Ready for inclusion' and status != 'Closed'">
				<form method="post" action="${href.peerReviewView()}">
					<input type="submit" value="Submit For Inclusion" disabled="${status != 'Reviewed' and 'true' or None}" />
					<input type="hidden" value="${reviewID}" name="Review" />
					<input type="hidden" value="1" name="Inclusion" />
				</form>
			</td>
			<td>
				<form method="post" action="${href.peerReviewNew()}">
					<input type="submit" value="Resubmit For Review" />
					<input type="hidden" value="${reviewID}" name="resubmit" />
				</form>
			</td>
			<td py:if="status != 'Closed'">
				<form method="post" action="${href.peerReviewView()}">
					<input type="submit" value="Close This Code Review" />
					<input type="hidden" value="1" name="Close" />
					<input type="hidden" value="${reviewID}" name="Review" />
				</form>
			</td>
		</tr>
	</table>
	</py:if>

</body>

</html>
