<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

<xi:include href="macros.html" />
<head>
<link rel="stylesheet" href="/trac-mysql/chrome/common/css/code.css" type="text/css" media="screen, projector, print" />
<link rel="stylesheet" href="/trac-mysql/chrome/common/css/browser.css" type="text/css" media="screen, projector, print" />
</head>
<body>
<py:def function="sortable_th(order, desc, class_, title)">
	<th class="$class_${order == class_ and (desc and ' desc' or ' asc') or ''}">
                  <a title="Sort by $class_${order == class_ and not desc and
                                             ' (descending)' or ''}"
                    href="${href.peerReviewBrowser(path, rev=stickyrev, order=(class_ != 'name' and class_ or None),
                    desc=(class_ == order and not desc and 1 or None))}">$title</a>
	</th>
</py:def>

<div id="content" class="browser">
	<h2>${browser_path_links(path_links, stickyrev)}</h2>
	
      <div id="jumprev">
          <div>
            <label for="rev" title="${stickyrev and 'Hint: clear the field to view latest revision' or None}">
              View revision:</label>
            <input type="text" onkeypress="switchRev(event);" id="rev" name="rev" value="$stickyrev" size="6" />
          </div>
      </div>

	<table py:if="dir" class="listing" id="dirlist">
		<thead>
			<tr>
				${sortable_th(dir.order, dir.desc, 'name', 'Name')}
				${sortable_th(dir.order, dir.desc, 'size', 'Size')}
				<th class="rev">Rev</th>
				${sortable_th(dir.order, dir.desc, 'date', 'Age')}
				<th class="change">Last Change</th>
			</tr>
		</thead>
		<tbody style="overflow: auto; max-height: 400px">
			<py:if test="'up' in chrome.links">
				<tr class="even">
					<td class="name" colspan="5">
						<a class="parent" title="Parent Directory" href="${chrome.links.up[0].href}">../</a>
					</td>
				</tr>
			</py:if>
			<py:for each="idx, item in enumerate(dir['items'])">
				<py:with vars="change = dir.changes[item.rev]">
					<tr class="${idx % 2 and 'even' or 'odd'}">
						<td class="name">
							<py:if test="not item.permission">
								<span class="${item.is_dir and 'dir' or 'file'}" title="Access Denied" href="">${item.name}</span>
							</py:if>
							<py:if test="item.permission">
								<a class="${item.is_dir and 'dir' or 'file'}" title="${item.is_dir and 'Browse Directory' or 'View File'}" href="${item.browser_href}">${item.name}</a>
							</py:if>
						</td>
						<td class="size">${item.size}</td>
						<td class="rev">
							<py:if test="not item.permission">${item.rev}</py:if>
							<py:if test="item.permission">
								<a title="View Revision Log" href="${item.log_href}">${item.rev}</a>
							</py:if>
						</td>
						<td class="age">
							<span title="${dir.changes[item.rev].date}">${dir.changes[item.rev] and dateinfo(dir.changes[item.rev].date) or '-'}</span>
						</td>
						<td class="change">
							<span class="author">${dir.changes[item.rev].author}:</span>
							<span class="change">${dir.changes[item.rev].message}</span>
						</td>
					</tr>
				</py:with>
			</py:for>
		</tbody>
	</table>

	<table py:if="props or file" id="info" summary="Revision info">
		<py:if test="file">
			<tr>
				<th scope="row">
					Revision <a href="${href.changeset(rev)}">${rev}</a>, ${sizeinfo(file.size)}
					(checked in by ${authorinfo(file.changeset.author)}, ${dateinfo(file.changeset.date)} ago)
				</th>
				<td class="message">${file.changeset.message}</td>
			</tr>
		</py:if>
		<py:if test="props">
			<tr>
				<td colspan="2">
					<ul class="props">
						<li py:for="prop in props">
						Property <strong>${prop.name}</strong> set to
						<py:choose>
							<em py:when="istext(prop.value)"><code>${prop.value}</code></em>
							<py:otherwise>${prop.value}</py:otherwise>
						</py:choose>
						</li>
					</ul>
				</td>
			</tr>
		</py:if>
	</table>

	<py:if test="file">
		<div id="preview" style="overflow: auto; max-height: 400px">
			<py:if test="file.preview">${file.preview}</py:if>
			<py:if test="not file.preview and file.max_file_size_reached">
				<br /><br />
				<strong>No HTML preview is available (the file size exceeds ${file.max_file_size} bytes) - you cannot add it to a code review</strong>.
				<br /><br />
			</py:if>
			<py:if test="not file.preview and not file.max_file_size_reached">
				<br /><br/>
				<strong>No HTML preview is available for this file - you cannot add it to a code review</strong>.
				<br /><br />
			</py:if>
		</div>
		<input type="button" onclick="addFile('${path}')" value="Add File" disabled="true" id="addFileButton" /> &nbsp;&nbsp;
		Start Line: <input type="text" onkeypress="lineEnter(event);" value="" size="5" id="lineBox1" onchange="addButtonEnable();" />&nbsp;&nbsp;
		End Line: <input type="text" onkeypress="lineEnter(event);" value="" size="5" id="lineBox2" onchange="addButtonEnable();" />
		<input type="hidden" value="${file.rev}" id="fileRevVal" />
	</py:if>

</div>

</body>
</html>