<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />  
  <head>
    <title>Ticket Hours</title>
  </head>

  <body>
    <h1>Edit Hours for <a href="${href('ticket', ticket.id)}">Ticket #${ticket.id}</a></h1>
      <div>
        <form id="ticket_hours" method="post">
          <table class="listing reports">
            <thead>
	          <tr>
	            <th>Worker</th>
	            <th>Hours worked</th>
	            <th>Date</th>
	            <th>Log</th>
	            <th py:if="can_add_hours">Remove Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="record in time_records">
	            <td>${record['worker']}<!-- should link to hours for this worker, either a view or a report/query --></td>
	            <py:choose test="can_add_others_hours or can_add_hours and req.authname == record['worker']">
	              <td py:when="True"><nobr>
	                <input type="text" name="hours_${record['id']}" size="3" style="text-align:right" 
	                       value="${record['hours_worked']}"/>:
	                <input type="text" name="minutes_${record['id']}" size="2" style="text-align:right"
	                       value="${'%02d' % record['minutes_worked']}"/></nobr>
	              </td>
	              <td py:when="False">${record['hours_worked']}:${'%02d' % record['minutes_worked']}</td>
	            </py:choose>
	            <td>${to_unicode(record['date_started'])}</td>
	            <td>${record['comments']}</td>
                <td py:if="can_add_hours">
                  <input py:if="can_add_others_hours or req.authname ==record['worker']"
	                     type="checkbox" name="rm_${record['id']}"/>
	            </td>
                </tr>
            </tbody>
          </table>
          <b>Total:</b> ${total} hours
          <py:if test="ticket['estimatedhours']"><b>Estimated:</b> ${ticket['estimatedhours']} hours<br/>
            <input py:if="can_add_hours" type="submit" name="edithours" value="Apply Changes"/>
          </py:if>
        </form>
      </div>
      
      <div>
        <form py:if="can_add_hours and users" method="POST">
          <fieldset>
            <legend>Add Hours</legend>
            <input type="text" name="hours" size="3" style="align-text:right"/> hours
            <input type="text" name="minutes" size="2" style="align-text:right"/> minutes by 
            <span py:if="can_add_others_hours">
	          <select name="worker">
	            <option py:for="user in users" value="${user}" py:attrs="{'selected': user == req.authname or None}">${user}</option>
	          </select>
            </span>
            <span py:if="not can_add_others_hours">${req.authname} </span> on 
            <select name="month">
	          <option py:for="month in months" value="${month[0]}" py:attrs="{'selected': month[2] or None}">${to_unicode(month[1])}</option>
            </select>
            <select name="day">
	          <option py:for="day in days" value="${day[0]}" py:attrs="{'selected': day[1] or None}">${day[0]}</option>
            </select>
            <select name="year">
	          <option py:for="year in years" value="${year}">${year}</option>
            </select><br/>
            Description (optional):<br/>
            <textarea name="comments" cols="60" rows="10"></textarea><br/>
            <input type="submit" name="addhours" value="Add Hours"/>
          </fieldset>
        </form>
      </div>    
    </body>
    
</html>
