/* 
 Numbered headers
 $Id$
*/

div#content div.wikipage h1.numbered {
  counter-increment: h1;
  counter-reset: h2 h3 h4 h5 h6;
}

div#content div.wikipage h2.numbered {
  counter-increment: h2;
  counter-reset: h3 h4 h5 h6;
}

div#content div.wikipage h3.numbered {
  counter-increment: h3;
  counter-reset: h4 h5 h6;
}

div#content div.wikipage h4.numbered {
  counter-increment: h4;
  counter-reset: h5 h6;
}

div#content div.wikipage h5.numbered {
  counter-increment: h5;
  counter-reset: h6;
}

div#content div.wikipage h6.numbered {
  counter-increment: h6;
}

/*
div#content div.wikipage h1.numbered:before {
}
*/

div#content div.wikipage h2.numbered:before {
  content: counter(h2) ". ";
}

div#content div.wikipage h3.numbered:before {
  content: counter(h2) "." counter(h3) ". ";
}

div#content div.wikipage h4.numbered:before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}

div#content div.wikipage h5.numbered:before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}

div#content div.wikipage h6.numbered:before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". ";
}

