<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Client Events</title>
    <style type="text/css">
      p.contextual { margin-top:0; margin-bottom:2em }
    </style>
  </head>

  <body>
    <h2>Manage Client Events</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" id="modclient" method="post">
        <fieldset>
          <legend>Event Overview:</legend>
          <div class="field">
            <label><b>Name:</b> $event.name</label>
            <p class="help">Run this event using the <a href="http://trac-hacks.org/browser/clientsplugin/0.11/cron/run-client-event">run-client-event</a> script with the argument: -c &quot;$event.name&quot;</p>
          </div>
          <div class="field">
            <label><b>Summary:</b> $event.summary</label>
            <p class="help">$event.summary_description</p>
          </div>
          <div class="field">
            <label><b>Action:</b> $event.action</label>
            <p class="help">$event.action_description</p>
          </div>
          <div class="field">
            <label><b>Last run:</b> ${pretty_timedelta(event.lastrun)} (${format_date(event.lastrun)} ${format_time(event.lastrun, str('%H:%M'))})</label>
          </div>
        </fieldset>
        <py:for each="options in (event.summary_options, event.action_options)">
          <fieldset py:if="options">
            <py:with vars="field = options==event.summary_options and 'summary' or 'action'">
              <legend py:if="'summary'==field">Summary Options</legend>
              <legend py:if="'action'==field">Action Options</legend>
              <div py:for="option in options.values()" class="field">
                <label>$option.name</label><br />
                <py:choose test="option.type">
                  <textarea py:when="'large'" name="${field}-option-${option.md5}" rows="10" cols="70">$option.value</textarea>
                  <input py:when="'small'" name="${field}-option-${option.md5}" type="text" size="5" value="$option.value" />
                  <select py:when="'list'" name="${field}-option-${option.md5}">
                    <option py:for="val in option.vals" selected="${val == option.value and 'selected' or None}">$val</option>
                  </select>
                  <input py:otherwise="" name="${field}-option-${option.md5}" type="text" size="60" value="$option.value" />
                </py:choose>
                <p class="help">$option.description</p>
              </div>
            </py:with>
          </fieldset>
        </py:for>
        <div class="buttons">
          <input type="submit" name="cancel" value="Cancel" />
          <input type="submit" name="save" value="Save" />
        </div>
      </form>

      <py:otherwise>
        <form class="addnew" method="post">
          <fieldset>
            <legend>Add Client Event:</legend>
            <div class="field">
              <label>Name:<br /><input type="text" name="name" /></label>
            </div>
            <div class="field">
              <label>Summary:<br />
                <select name="summary">
                  <option py:for="summary in summaries">
                    $summary
                  </option>
                </select>
              </label>
            </div>
            <div class="field">
              <label>Action:<br />
                <select name="action">
                  <option py:for="action in actions">
                    $action
                  </option>
                </select>
              </label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        <py:choose>
          <form py:when="events" method="POST">
            <table class="listing">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Name</th><th>Summary</th><th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="event in events">
                  <td class="sel"><input type="checkbox" name="sel" value="$event.name" /></td>
                  <td class="name">
                    <a href="${panel_href(event.name)}">$event.name</a>
                  </td>
                  <td class="summary">$event.summary</td>
                  <td class="action">$event.action</td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected items" />
              <input type="submit" name="apply" value="Apply changes" />
            </div>
          </form>
        </py:choose>
      </py:otherwise>
    </py:choose>
  </body>

</html>
