ul.ini {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ini li {
  width: 30%;
  display: inline;
  margin: 0.5em;
  float: left;
  padding-right: 0.25em;
}
.ini input[type="text"] {
  width: 90%;
}
.ini div.help {
  font-size: small;
}
.ini div.help p {
  margin: 0.5em;
}
.ini.buttons {
  clear: left;
}
