<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

jQuery(document).ready(function(){
    // "convert" prefs text inputs (if any) to a select dropdown
    <py:for each="var,options in data.vars.items()">
	if (${len(options)} != 0){
	    var input = jQuery('#prefs input[name=${var}]');
	    if (input.length != 0){
	        var html = '<select id="${var}">'
	                      <py:for each="option in options">
	                  +'  <option value="${option}">${option}</option>'
	                      </py:for>
	                  +'</select>';
	        input.after(html).hide();
	        jQuery('#${var}').val(input.val()).change(function(){
				var select = jQuery(this);
				var name = select.attr('id');
				var input = jQuery('#prefs input[name='+name+']');
	            input.val(select.val()); // set hidden text input
	            input.parents('form:first').submit();
	        });
	    }
	}
    </py:for>
});
</script>
