/* CSS definitions for TracFormsPlugin */
/* styles for history page */

#content.tracforms { 
 width: 58em; 
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
}

#changelog { border: 1px outset #996; padding: 1em }
#changelog h3, #ticketchange h3 {
 border-bottom: 1px solid #d7d7d7;
 color: #999;
 font-size: 100%;
 font-weight: normal;
}
#changelog .changes { list-style: square; margin-left: 2em; padding: 0 }
