div.growl {
  /* TODO: waiting for Growl team to validate use of the growl image 
     in the plugin... */
  /*background: url(../images/growl-180.png) no-repeat 380px -15px;*/
  min-height: 150px;
}
div.buttons {
  position: relative;
  background: transparent;
  margin-top: -30px;
}
label.growl {
  padding-right: 1em;
}