<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="ticketcalendar"
      py:with="preview_mode = 'preview' in req.args">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>
  <body>
    <div id="ticketcalendar">
      <h1>$title</h1>
      <xi:include href="ticketcalendar_query_form.html" />
      <py:choose test="ticketcalendar.mode">
        <py:when test="'calendar'">${content}</py:when>
        <xi:include py:otherwise="" href="ticketcalendar_list.html" />
      </py:choose>
    </div>
  </body>
</html>
