/* CSS definitions for CryptoPlugin */
/* styles for admin panel */

table th { padding: .4em; text-align: right; width: 20%; vertical-align: top }
table th.col2 { border-left: 1px dotted #d7d7d7 }
table td { vertical-align: middle; width: 30% }
