<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <title>Top</title>
            <link rel="stylesheet" type="text/css" href="htdocs/wikiwyg/wikiwyg.css" />
            <script type="text/javascript" src="htdocs/wikiwyg/Wikiwyg.js"></script>
            <script type="text/javascript" src="htdocs/wikiwyg/Toolbar.js"></script>
            <script type="text/javascript" src="htdocs/wikiwyg/Wysiwyg.js"></script>
            <script type="text/javascript" src="htdocs/wikiwyg/Wikitext.js"></script>
            <script type="text/javascript" src="htdocs/wikiwyg/Preview.js"></script>
            <script type="text/javascript" src="htdocs/wikiwyg/Trac.js"></script>
            <script type="text/javascript">
                onload = function() {
                    var wiki = document.getElementById('wikipage');
                    Wikiwyg.Trac.setup_wikiwyg_section(wiki, 'htdocs');
                }
            </script>
    </head>
    <body>
        <xi:include href="layout.html"></xi:include>
        <h1>Top</h1>
        <pre></pre>
    </body>
</html>
