<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">
  <script type="text/javascript">
    // global variables
    geolocator_url = "${req.abs_href('locate')}";

    // map layers
    function layers() {
    var thelayers = new Array();
    // layer for the tiles
    var wms = new OpenLayers.Layer.WMS(
    "WMS Layer",
    "${wms_url}",
    {layers: 'openstreetmap',
    format: 'image/png'} // use PNGs because they're cached
    );
    thelayers.push(wms);
    return thelayers;
    };
  </script>
</html>
