<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<head>
<title>map</title>
<script src="${openlayers_url}"></script>
<script src="${req.href('chrome/geoticket/js/mapscript.js')}"></script>
<script type="text/javascript">
$(document).ready(function() {
<py:for each="panel in panels">
  map_locations(${panel['locations']}, {id: "${panel['id']}"});
</py:for>
});
</script>
</head>
<body>
  
<div id="mapdashboard">
  <div class="panel" py:for="panel in panels" id="panel-${panel['id']}">

    <h1>${panel['title']}</h1>

    <div class="panel-map" id="${panel['id']}" style="width: 467px; height: 245px"></div>

    <div class="panel-data">
      <table>
        <tr py:for="ticket in panel['tickets']">
          <td><a href="${req.href.ticket(ticket.id)}">${ticket['summary']}</a></td>

          <!-- hack bc strftime("%B %-d") doesn't work on winblows -->
          <td py:with="ticket_date = getattr(ticket, panel['date_to_display'])">${ticket_date.strftime("%B") + " %s" % ticket_date.day}</td>
        </tr>
        <tr class="table-footer">
          <td>${panel['n_tickets']} ${panel['title']} in total</td>
          <td><i><a href="${panel['query_href']}">See Query View</a></i></td>
        </tr>
      </table>
    </div>
  </div>

  <div py:if="cloud" id="panel-tagcloud" class="panel">
	<h1>Issue Types</h1>
    ${cloud}
  </div>

</div>

</body>
</html>
