<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<head>
<title>map</title>
<script src="${openlayers_url}"></script>
<script src="${req.href('chrome/geoticket/js/mapscript.js')}"></script>
<script type="text/javascript">
$(document).ready(function() {
<py:for each="viewport in viewports">
  map_locations(${viewport['locations']});
</py:for>
});
</script>
</head>
<body>
  
  <div py:for="viewport in viewports">

    <h1>${viewport['title']}</h1>
    <div id="map" style="width: 600px; height: 300px"></div>
    <div>
      <table>
        <tr py:for="ticket in viewport['tickets']">
          <td><a href="${req.href.ticket(ticket.id)}">${ticket['summary']}</a></td>

          <!-- hack bc strftime("%B %-d") doesn't work on winblows -->
          <td>${ticket.time_changed.strftime("%B") + " %s" % ticket.time_changed.day}</td>
        </tr>
        <tr>
          <td>${viewport['n_tickets']} ${viewport['title']} in total</td>
          <td><i><a href="${viewport['query_href']}">See Query View</a></i></td>
        </tr>
      </table>
    </div>
  </div>

  <div py:if="cloud">
    ${cloud}
  </div>

</body>
</html>
