<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<head>
<title>map</title>
<script src="${openlayers_url}"></script>
<script src="${req.href('chrome/geotrac/js/mapscript.js')}"></script>
<script type="text/javascript">
$(document).ready(function() { 
var locations = ${locations};
map_locations(locations, "${wms_url}");
});
</script>
</head>
<body>
  <div id="map" style="width: 600px; height: 300px"></div>
</body>
</html>
