<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Manage Regions</title>
    
    <!--! render a map if the shapefile is uploaded -->
    <py:if test="columns">
      <script src="${openlayers_url}"></script>
      <script src="${req.href('chrome/geoticket/js/mapscript.js')}"></script>
      <script type="text/javascript">
$(document).ready(function() {
map_locations([],
              {kml: ${bool(kml) and ('"%s"' % kml) or 'null'} });
});
      </script>

    </py:if>


  </head>
  <body>

    <h2>Import Regions</h2>
    
    <form py:if="'shapefile' in drivers" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload Shapefiles</legend>
        <dl>

          <dd>
            Shapefile shape format (.shp)
          </dd>
          <dt>
            <input type="file" name="shp"/> 
          </dt>

          <dd>
            Shapefile shape index format (.shx)
          </dd>
          <dt>
            <input type="file" name="shx"/> 
          </dt>

          <dd>
            Shapefile attribute format (.dbf)
          </dd>
          <dt>
            <input type="file" name="dbf"/> 
          </dt>

          <dd>
            SRID
          </dd>
          <dt>
            <input type="text" name="srid" value="${srid}"/>
          </dt>

        </dl>
        <input type="submit" name="shapefile_upload" value="Submit"/>
      </fieldset>
    </form>

    <div py:if="len(drivers) == 2">
      <b>-or-</b>
    </div>

    <form py:if="'KML' in drivers" method="post" enctype="multipart/form-data">
      <fieldset>
        <legend>Upload KML</legend>
        <p><input type="file" name="kml"/></p>
        <p><input type="submit" name="kml_upload" value="Submit"/></p>
      </fieldset>
    </form>

    <form py:if="columns" method="post">
      <fieldset>
        <legend>Column to use</legend>
        <div id="map" style="width: 467px; height: 245px"></div>
        <p py:for="c in columns">
          <input type="radio" name="column" value="${c}" checked="${c == column and 'checked' or None}"/>
          ${c} <i>(E.g. ${row[c]})</i>
        </p>

        <p>
          Label for column <i>(optional)</i>:
          <input type="text" name="column_label" value="${column_label}"/>
        </p>
        <input type="submit" name="shapefile_label" value="Submit"/>
      </fieldset>
    </form>

    <form py:if="columns" method="post">
      <fieldset>
        <legend>Delete regions from database</legend>
        <input type="submit" name="shapefile_delete" value="Delete"/>
      </fieldset>
    </form>
  </body>
</html>
