<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>[${iniadmin.section}]</title>
    <script>
     //<![CDATA[
        jQuery(document).ready(function(){
            $('form').attr('autocomplete','off');
        });
     //]]>
    </script>
  </head>
  <body>
    <h2>[${iniadmin.section}]</h2>

    <div class="ini">
      <form method="post">
        <ul>
          <li py:for="idx, option in enumerate(iniadmin.options)" class="align${idx % 3}">
            <fieldset class="col${idx % 2}">
              <legend>${option.name}</legend>
              <py:choose test="option.type">
                <div class="select" py:when="'extension'">
                  <select name="${option.name}">
                    <option py:for="val in option.options"
                            value="$val"
                            selected="${option.value == val and 'selected' or None}"
                      >$val</option>
                  </select>
                </div>
                <div class="bool" py:when="'bool'">
                  <label py:for="val in ('true', 'false')">
                    <input type="radio" name="${option.name}" value="$val"
                           checked="${option.value == val or None}"
                      />$val</label>
                </div>
                <div class="text" py:when="'password'">
                  <input type="password" name="${option.name}" value="${option.value}" />
                </div>
                <div class="text" py:otherwise="">
                  <input type="text" name="${option.name}" value="${option.value}" />
                </div>
              </py:choose>
              <div class="help" xml:space="preserve">
                ${wiki_to_html(context, option.doc)}
              </div>
            </fieldset>
          </li>
        </ul>
        <div class="ini buttons">
          <input type="submit" value="Apply changes" />
        </div>
      </form>
    </div>
  </body>
</html>
