<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
      
  <head>
	<title>Time Tracking Management for Trac.11</title>
	<script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js"></script>
	<script type="text/javascript" py:choose="">
	  $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
    </script>
      </head>

      <body>
	<form method="post" action="${estimate.href}" >

	  <div id="content" class="estimate">
	    <div id="messages" >
	      <py:for each="item in estimate.messages" >
		<div class="message" >$item</div>
	      </py:for>
	    </div>

	<table border="0" cellpadding="3" cellspacing="0" >
	  <tr>
	    <td ><label for="tickets">Ticket Numbers:</label></td>
	    <td><input id="tickets" type="text" /></td>
	  </tr>
	  <tr>
	    <td ><label for="rate">Rate</label></td>
	    <td><input id="rate" type="text" onkeyup="runCalculation()" value="" /></td>
	  </tr>
	  <tr>
	    <td ><label for="variability">Variability</label></td>
	    <td><input id="variability" type="text" onkeyup="runCalculation()" value="" /></td>
	  </tr>
	  <tr>
	    <td ><label for="communication">Communication</label></td>
	    <td><input id="communication" type="text" onkeyup="runCalculation()" value="" /></td>
	  </tr>
	</table>


	<table border="0" cellpadding="3" cellspacing="0" >
	  <tr id="header">
	    <th>Description</th>
	    <th>Low </th>
	    <th>High </th>
	    <th>Ave </th>
	    <th>&nbsp; </th>
	  </tr>
	  
	  <!-- Item Rows Go Here -->

	  <tr id="lineItemFooter">
	    <th>Total:</th>
	    <td id="lowTotal" ></td>
	    <td id="highTotal"></td>
	    <td id="aveTotal"></td>
	    <td>&nbsp; </td>
	  </tr>
	  <tr>
	    <th>Adjusted Hours:</th>
	    <td id="lowAdjusted"></td>
	    <td id="highAdjusted"></td>
	    <td id="aveAdjusted"></td>
	    <td>&nbsp; </td>
	  </tr>
	  <tr>
	    <th>Cost:</th>
	    <td id="lowCost"></td>
	    <td id="highCost"></td>
	    <td id="aveCost"></td>
	    <td>&nbsp; </td>
	  </tr>
	</table>
	<script language="javascript" >
	   var lineItems = [
	      <py:for each="item in estimate.lineitems" >
	      </py:for>
	   ];
	   loadLineItems( );
	   newLineItem();
	</script >
	<button onclick="newLineItem();return false;">new row</button>
	<button onclick="runCalculation();return false;">refresh calculations</button>

<!--
	<div>
	  <h3>Comment Preview</h3>
	  <div id="estimateoutput" >
	    
	  </div>
	</div>
-->
      </div>
    <input type="submit" value="Save Estimate" />
    </form>
</body>
</html>
    