<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Wiki Rename</title>
  </head>

  <body>
    <h2>Wiki Rename</h2>

    <form class="mod" id="modwikirename" action="${href.admin('general','wikirename')}" method="post">
      <fieldset>
        <legend>Rename Page</legend>
        <div class="field">
          <label>Original name:<br />
            <input type="text" name="src_page" value="${src}" />
          </label>
        </div>
        <div class="field">
          <label>New name:<br />
            <input type="text" name="dest_page" value="${dest}" />
          </label>
        </div>
      </fieldset>
      <div class="buttons">
        <input type="hidden" name="redirect" value="${redir and '1' or '0'}" />
        <input type="submit" name="submit" value="Apply" />
      </div>
    </form> 
  </body>
</html>
