<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title>Add New Release</title>
    <script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js"></script>
    <script type="text/javascript" py:choose="">
      $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
    </script>
  </head>

  <body>
    <div id="content" class="release">
      <form action="$baseURL/add" method="post">
        <div id="releaseVersion">
            Version:
            <py:choose>
                <div py:when="not releaseVersion">
                    <input type="hidden" name="hiddenReleaseStep" id="hiddenReleaseStep" value="1"/>
                    <select name="selectReleaseVersion" id="selectReleaseVersion">
                        <py:for each="item in availableVersions">
                            <option label="$item.name" value="$item.name">$item.name</option>
                        </py:for>
                    </select>
                    <input type="submit" value="Next"/>
                </div>
                <div py:otherwise="">
                    <input type="hidden" name="selectReleaseVersion" id="selectReleaseVersion" value="$releaseVersion"/>
                    $releaseVersion
                </div>
            </py:choose>            
        </div>
        <div py:if="releaseVersion">
            <input type="hidden" name="hiddenReleaseStep" id="hiddenReleaseStep" value="2"/>
            <input type="hidden" name="hiddenReleaseTickets" id="hiddenReleaseTickets" value="$releaseTickets"/>
            
            <div id="releaseId">
                Release Name:
                <input type="text" name="txtReleaseName" id="txtReleaseName" value="$releaseName"/>
            </div>
            <div id="releaseDescription">
                Description:
                <textarea name="txtReleaseDescription" id="txtReleaseDescription">$releaseDescription</textarea>
            </div>
            <div id="releaseAuthor">
                Author:
                $req.authname
            </div>
            <div id="releaseCreationDate">
                Creation Date:
            </div>
            <div id="releasePlannedDate">
                Planned Date:
                <input type="text" name="txtPlannedDate" id="txtPlannedDate" value="$releasePlannedDate"/>
            </div>
            <div id="releaseInstallDate">
                Install Date:
            </div>
          
            <table id="releaseTickets">
              <thead>
                <tr>
                  <th>Ticket</th>
                  <th>Summary</th>
                  <th>Type</th>
                  <th>Component</th>
                  <th>Version</th>
                </tr>
              </thead>
              <tbody>
                <py:for each="item in releaseTicketItems">
                    <tr>
                        <td>$item.id</td>
                        <td>$item.summary</td>
                        <td>$item.type</td>
                        <td>$item.component</td>
                        <td>$item.version</td>
                    </tr>
                </py:for>
              </tbody>
            </table>
            <div id="releaseSignatures">
                Signatures (comma-separated list):
                <input type="text" name="hiddenReleaseSignatures" id="hiddenReleaseSignatures" value="$releaseSignatures"/>
            </div>
            <input type="submit" value="Add"/>
        </div>        
      </form>
      
    </div>
  </body>
</html>