<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title>Release Control</title>
    <script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js"></script>
    <script type="text/javascript" py:choose="">
      $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
    </script>
    <style>
	#content td {
	  vertical-align: top;
	}
	
	#content th {
	 color: #000;
	 font-weight: bold;
	 text-align: left;
         vertical-align: top;
	}
	
	#releaseBlock th {
	 color: #000;
	 font-weight: bold;
	 text-align: right;
	 width: 20%;
	}
	
	#tableInstallProcedures {
	 
	}
	
	#releaseTickets td {
	 
	}
	
	#releaseSignatures td {
	 min-width: 100px;
	}
	
	@media print {
	 #releaseLinks { display: none }
	 #releasePrintable { display: block }
	}
    
    </style>
  </head>

  <body>
    <div id="content" class="release">
      
      <h1 id="releaseHeader">
	Release Notes
      </h1>
      
      
      <fieldset id="releaseBlock">
	<legend>Release</legend>

	<table class="properties">
	  <tr>
	    <th>Release Id:</th>
	    <td class="fullrow" colspan="3">$release.id</td>
	  </tr>
	  
	  <tr>
	    <th>Release Name:</th>
	    <td class="fullrow" colspan="3">$release.version</td>
	  </tr>
  
	  <tr>
	    <th>Description:</th>
	    <td class="fullrow" colspan="3">
	      ${wiki_to_html(context, release.description)}
	    </td>
	  </tr>
  
	  <tr>
	    <th>Author:</th>
	    <td>$release.author</td>
	    <th>Creation Date:</th>
	    <td>${release.creation_date and format_date(release.creation_date, "%Y-%m-%d") or ""}</td>
	  </tr>
  
	  <tr>
	    <th>Planned Date:</th>
	    <td>
	      ${release.planned_date and format_date(release.planned_date, "%Y-%m-%d") or ""}
	    </td>
	    <th><label for="txtInstallDate">Install Date:</label></th>
	    <td>
	      ${release.install_date and format_date(release.install_date, "%Y-%m-%d") or ""}
	    </td>
	  </tr>
	</table>
      </fieldset>
	
      <fieldset id="releaseTickets">
	<legend>Tickets</legend>
	<table id="releaseTickets" name="releaseTickets">
	  <thead>
	    <tr>
	      <th>Ticket</th>
	      <th>Summary</th>
	      <th>Type</th>
	      <th>Component</th>
	      <th>Version</th>
	    </tr>
	  </thead>
	  <tbody>
	    <py:for each="item in release.tickets">
		<tr>
		    <td><a href="$ticketURL/$item.ticket_id">$item.ticket_id</a></td>
		    <td><a href="$ticketURL/$item.ticket_id">${wiki_to_oneliner(context, item.summary)}</a></td>
		    <td>$item.type</td>
		    <td>$item.component</td>
		    <td>$item.version</td>
		</tr>
	    </py:for>
	  </tbody>
	</table>
      </fieldset>
  
      <fieldset id="signatures">
	<legend>Authorizations</legend>
	<table id="releaseSignatures">
	  <thead>
	    <tr>
	      <th>User</th>
	      <th>Authorization Date</th>
	    </tr>
	  </thead>
	  <tbody>
	    <py:for each="item in release.signatures">
	      <tr>
		<td>$item.signature</td>
		<td>
		  <py:choose>
		    <py:when test="item.sign_date">
		      [$item.sign_date]
		    </py:when>
		    <py:when test="(not item.sign_date) and (req.authname == item.signature)">
		      <a href="$baseURL/sign/$release.id">Sign now</a>
		    </py:when>
		    <py:otherwise>
		      &nbsp;
		    </py:otherwise>
		  </py:choose>
		</td>
	      </tr>
	    </py:for>
	  </tbody>
	</table>
      </fieldset>    

      <fieldset id="releaseProcedures">
	<legend>Install Procedures</legend>
	<table>
	  <thead>
	    <tr>
	      <th>Procedure ID</th>
	      <th>Name</th>
	      <th>Description</th>
	      <th>Contains Files</th>
	      <th>Files</th>
	    </tr>
	  </thead>
	  <tbody>
	    <py:for each="item in release.install_procedures">
	      <tr>
		<td><a href="$baseURL/installproc/$item.install_procedure.id">$item.install_procedure.id</a></td>
		<td><a href="$baseURL/installproc/$item.install_procedure.id">$item.install_procedure.name</a></td>
		<td>${wiki_to_oneliner(context, item.install_procedure.description)}</td>
		<td>
		  <py:choose>
		    <py:when test="item.install_procedure.contain_files">
		      Sim
		    </py:when>
		    <py:otherwise>
		      N&atilde;o
		    </py:otherwise>
		  </py:choose>
		</td>
		<td>

		  <py:if test="item.install_files">
		    <py:for each="arq in item.install_files">
		      <li>${wiki_to_oneliner(context, arq)}</li>
		    </py:for>
		  </py:if>
		</td>
	      </tr>
	    </py:for>
	  </tbody>
	</table>
      </fieldset>
    </div>
    <div id="releaseLinks">
      <a py:if="'RELEASE_ADMIN' in perm" href="$baseURL/edit/$release.id">Edit Release</a>
      &nbsp;
      <a href="$baseURL">Releases</a>
    </div>
    <br/>
    <br/>
    <br/>
  </body>
</html>