<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<p>
<h1>Test-Case Management</h1>
<table>
    <py:for each="key, value in handlers.iteritems()" >         
    <tr>            
        <td>
            <a href="$value.path" >$value.name</a>
        </td>
    </tr>          
    </py:for>            
</table>
<br/>$testcase_page_content
</p>
</html>
