<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title py:if="title">$title</title>
  </head>

  <body>
    <div id="content" class="tags">
      <form id="query" method="get">
        <div>
          <input type="text" id="tag-query" name="q" size="40" accesskey="t"
            value="${query}"/>
          <input type="submit" value="Filter Hacks"/>
        </div>
        <div py:if="query_error" id="query-error">
          <strong>Error:</strong> ${query_error}
        </div>
        <div>
          <ul>
            <li>Showing <strong>${limit_message}</strong> results.</li>
          </ul>
        </div>
      </form>

      <div id="tag_body">
        ${body}
      </div>
    </div>
  </body>
</html>
