.report-wrapper {
    margin-bottom: 30px;
    padding: 10px 20px 10px 0px;
    clear: left;
}

.report-wrapper h2 {
    color: #000;
    background: #F7F7F7 none repeat scroll 0%;
    border-bottom: 1px solid #D7D7D7;
    margin: 0;
}

.report-wrapper h2 em {
    color: #b00;
    font-style: normal;
}

.report-wrapper .clear {
    line-height: 1px;
    clear: both;
}

.report-wrapper .graph {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.report-wrapper .data-table {
    position: relative;
    float: left;
    margin-top: 20px;
}

.report-wrapper .data-table table {
    width: 240px;
    background-color: #CCC;
}

.report-wrapper .data-table table thead tr th {
    background: black;
    color: white;
    padding: 3px 5px;
    white-space: nowrap;
    font-size: 0.85em;    
}

.report-wrapper .data-table table tbody tr td {
    font-size: 0.85em;
    text-align: center;
    background-color: #FFF;
}