div.tabs *
{
  display: inline;
}

div.tabs ul
{
  display: block;
  margin: 0em;
  padding: 0.5em 0em;
  font-size: 10px;
  list-style: none;
  text-align: left;
}

div.tabs li
{
  border-right: 1px solid #d7d7d7;
  padding: 0em 0.75em;
  white-space: nowrap;
}
