<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <div py:def="navigation(category)" id="${category}" class="nav">
    <ul py:if="chrome.nav[category]">
      <li py:for="idx, item in  enumerate(chrome.nav[category])"
          class="${classes(first_last(idx, chrome.nav[category]), active=item.active)}">${item.label}</li>
    </ul>
  </div>

  <py:match path="body" once="true" buffer="false">

<body>

	<div id="page-heading">
		<div class="content">
	
	      	${navigation('metanav')}
	
			<h1><a href="${chrome.logo.link or href.wiki('TracIni')+'#header_logo-section'}">${project.name}</a></h1>

			<ul class="nav" id="main-nav">
		        <li id="nav-issues"><a href="${req.href('query')}">Issues</a>     </li>
		     	<li id="nav-reports"><a href="${req.href('report')}">Reports</a>        </li>
		        <li id="nav-about"><a href="${req.href('wiki/about')}">About</a>              </li>
			</ul>		


			<form id="search" action="${href.search()}" method="get">
		      <div py:if="'SEARCH_VIEW' in perm">
		        <label for="proj-search">Search:</label>
		        <input type="text" id="proj-search" name="q" size="18" accesskey="f" value="" />
		        <input type="submit" value="Search" class="search-submit" />
		      </div>
		    </form>		
		
		
			<div id="subhead" class="enterprise-edition">
				<div class="tagline">Public Space Issue Management</div><!-- was: Cite.it is a tool to track problems in your area -->
				<div class="report-button"> <!-- was cite-button -->
					
					<!--<span class="know">Know of a problem?</span> -->
					<a href="${req.href('newticket')}">Report it!</a>
				</div>
			</div>
		
    	</div>
	</div>

<!-- mainnav end -->    

<div id="main"><div class="content">
	   <div id="warning" py:if="chrome.warnings" class="system-message">
        <py:choose test="len(chrome.warnings)">
          <py:when test="1">
            <strong>Warning:</strong> ${chrome.warnings[0]}
          </py:when>
          <py:otherwise>
            <strong>Warnings:</strong>
            <ul><li py:for="w in chrome.warnings">$w</li></ul>
          </py:otherwise>
        </py:choose>
      </div>

      <div id="notice" py:if="chrome.notices" class="system-message">
        <py:choose test="len(chrome.notices)">
          <py:when test="1">
            <strong>Notice:</strong> ${chrome.notices[0]}
          </py:when>
          <py:otherwise>
            <strong>Notices:</strong>
            <ul><li py:for="w in chrome.notices">$w</li></ul>
          </py:otherwise>
        </py:choose>
      </div>



      ${select('*|text()')}

	
    <div id="ctxtnav" class="nav">
      <h2>Context Navigation</h2>
        <ul py:if="chrome.ctxtnav">
            <li py:for="i, elm in enumerate(chrome.ctxtnav)"
                class="${classes(first_last(i, chrome.ctxtnav))}">$elm</li>
        </ul>
      <hr />
    </div>

   </div>
</div>

    <div id="footer" xml:lang="en">
	<div class="content">
		<p>
		${project.name} is produced by <a href="http://www.topplabs.org">TOPP Labs</a>. Powered by <a href="http://trac.edgewall.org/">Trac</a>. Maps displayed via <a href="http://opengeo.org/">OpenGeo</a>.
		</p>
      <p class="right">${chrome.footer}</p>
	</div>
    </div>
  </body></py:match>
</html>
