<html xmlns:py="http://genshi.edgewall.org/" py:strip="True">



<div class="ticket-properties" py:with="fields = [f for f in fields if not f.skip and f.name not in ('type', 'owner')]">


	<div class="summary-meta">
		
	   <a py:strip="not version and version != 0" href="${href.ticket(ticket.id)}">
	     Ticket #${ticket.id}
	   </a>

	  <py:if test="ticket.exists">
	    <span class="status">
			(
			 ${ticket.status}
			 <py:if test="ticket.type"> ${ticket.type}</py:if>
			 <py:if test="ticket.resolution">: ${ticket.resolution}</py:if>
			)
		</span>

	    <py:choose test="">
	      <py:when test="version is None" />
	      <py:when test="version == 0">
	        &mdash; at <a href="#comment:description">Initial Version</a>
	      </py:when>
	      <py:otherwise>
	        &mdash; at <a href="#comment:$version">Version $version</a>
	      </py:otherwise>
	    </py:choose>

	  </py:if>

	</div>


	<div class="authorship">
		<span headers="h_reporter" class="searchable">Reported by ${authorinfo(ticket.reporter)}</span>
		<span py:if="ticket.owner" headers="h_owner">Owned by ${ticket.owner and authorinfo(ticket.owner) or ''}</span>
	</div>

	<div class="edit-activity">
    
		<div class="date">
	        <span class="created-date" py:if="ticket.exists">Opened ${dateinfo(ticket.time_created)} ago</span>
	        <span class="modified-date" py:if="ticket.time_changed != ticket.time_created">Last modified ${dateinfo(ticket.time_changed)} ago</span>
    	</div>

		<a class="ticket-edit" href="?edit">Edit</a>

	</div>

</div>




	<div class="ticket-heading">

		<h2 class="summary searchable">$ticket.summary</h2>	
		<div class="location">
		    <span>${ticket['location'].strip() or 'Location not specified'}</span>
		</div>

	</div>
	
	
<div class="ticket-body">
	
	
	
	 
	<div class="content-main">
	
		<div class="photos">
	    	<img class="ticket-photo" py:for="image in images" src="$image"/>
		</div>
	
	
	
	    <div class="description data">

	      <h4 id="comment:description">
	        Description
	        <span py:if="description_change" class="lastmod" title="$description_change.date">
	          (last modified by ${authorinfo(description_change.author)})
	          (<a href="${href.ticket(ticket.id, action='diff', version=description_change.cnum)}">diff</a>)
	        </span>
	      </h4>

	      <!--! Quote the description (only for existing tickets) -->

	      <div py:if="ticket.description" class="searchable" xml:space="preserve">
	        	${wiki_to_html(context, ticket.description, escape_newlines=preserve_newlines)}
	      </div>

	    </div>

	</div>	
	



<div class="content-meta">

	
	<div id="map" class="ticket-map"></div>
		
	<div class="tags data" py:if="ticket['keywords'].strip()">
		<h4>Tags</h4>
		<span py:with="keywords=[f for f in fields if f.name=='keywords'][0]">${keywords.rendered}</span>
	</div>	

<!--
	<div class="cc data" py:if="ticket['cc'].strip()">
		<h4>Team</h4>			
		<span py:with="cc=[f for f in fields if f.name=='cc'][0]">${cc.rendered}</span>
	</div>	
-->	
	
    <py:if test="ticket.exists">
      <!--! do not show attachments for old versions of this ticket or for new tickets -->
		
		<div class="attachments data">
      		<py:if test="not version and version != 0 and ticket.exists">
	          	${list_of_attachments(attachments)}
	        </py:if>
		</div>
	</py:if>	
	
	

	    <!-- In case of custom fields -->
	    <div id="content" class="custom-fields" py:with="preview_mode = 'preview' in req.args">

	      	<!-- Do not show the ticket (pre)view when the user first comes to the "New Ticket" page. Wait until they hit preview. -->
	        <!-- Ticket Box (ticket fields along with description) -->
	        <div id="ticket" py:if="ticket.exists or preview_mode" class="${preview_mode and 'ticketdraft' or None}">

	          <!-- use a placeholder if it's a new ticket -->
	          <div class="properties" py:with="fields = [f for f in fields if not f.skip and f.name not in ('type', 'owner', 'location', 'cc', 'keywords')]">

				<div py:for="row in group(fields, 2, lambda f: f.type != 'textarea')" py:with="fullrow = len(row) == 1">

					<py:for each="idx, field in enumerate(row)">
					
						<div class="data">
							
							<h4 py:if="idx == 0 or not fullrow" id="${field and 'h_'+field.name or None}">
								<py:if test="field">${field.label or field.name}:</py:if>
							</h4>

							<div py:if="idx == 0 or not fullrow" headers="${field and 'h_'+field.name or None}" class="${field and field.name in ('cc', 'keywords') and 'searchable' or None}">

								<py:if test="field">
									<py:choose test="">
										<py:when test="'rendered' in field">${field.rendered}</py:when>
										<py:otherwise>${ticket[field.name]}</py:otherwise>
									</py:choose>
								</py:if>
					
							</div>
							
						</div>
						
					</py:for>
				</div>
	          </div>
			</div>
	      <!--! End of ticket box -->

		</div>
	
	</div>



</div>    <!--! End of ticket body -->



    <py:def function="commentref(prefix, cnum)">
      <a href="#comment:$cnum"><small>$prefix$cnum</small></a>
    </py:def>

    <py:def function="display_change(change)">
      <ul py:if="change.fields" class="changes">
        <li py:for="field_name, field in change.fields.items()">
          <strong>${field_name}</strong>
          <py:choose>
            <py:when test="field_name == 'attachment'">
              <a href="${href.attachment('ticket', ticket.id, field.new)}"><em>${field.new}</em></a> added
            </py:when>
            <py:when test="'rendered' in field">${field.rendered}</py:when>
            <py:when test="field.old and field.new">
              changed from <em>${field.old}</em> to <em>${field.new}</em>
            </py:when>
            <py:when test="not field.old and field.new">
              set to <em>${field.new}</em>
            </py:when>
            <py:otherwise>
              <em>${field.old}</em> deleted
            </py:otherwise>
          </py:choose>
        </li>
      </ul>
      <div py:if="'comment' in change" class="comment searchable" xml:space="preserve">
        ${wiki_to_html(context, change.comment, escape_newlines=preserve_newlines)}
      </div>
    </py:def>















      <!--! Add a comment -->


      <form py:if="not version and version != 0 and
                   ('TICKET_APPEND' in perm(ticket.resource) or
                    'TICKET_CHGPROP' in perm(ticket.resource) or
                    ('TICKET_CREATE' in perm(ticket.resource) and not ticket.id))"
            action="${ticket.exists and href.ticket(ticket.id) or href.newticket()}" method="post" id="propertyform">


	        <div py:if="ticket.exists" class="field">
	          <fieldset class="iefix">
	            <label for="comment">Comment (you may use <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here):</label>
	            <textarea id="comment" name="comment" class="wikitext" rows="10" cols="78">${comment}</textarea>
	          </fieldset>
	        </div>

	       <div class="buttons">
	          <py:if test="ticket.exists">
	            <input type="hidden" name="ts" value="${timestamp}" />
	            <input type="hidden" name="replyto" value="${replyto}" />
	            <input type="hidden" name="cnum" value="${cnum}" />
	          </py:if>
	          <input type="submit" name="preview" value="Preview" accesskey="r" />&nbsp;
	          <input type="submit" name="submit" value="${ticket.exists and 'Submit changes' or 'Create ticket'}" />
	        </div>

	   </form>




      <py:if test="ticket.exists">

		<py:if test="ticket.exists and changes">
          <div id="changelog" class="collapsed">

	          <h2 class="foldable"><a href="#no1">Change History</a></h2>

            <form py:for="change in changes" method="get" action="#comment" class="printableform">
              <div class="change">
                <h3 class="change" id="${'cnum' in change and 'comment:%d' % change.cnum or None}">
                  <span class="threading" py:if="replies and 'cnum' in change"
                        py:with="change_replies = replies.get(str(change.cnum), [])">
                    <py:if test="change_replies or 'replyto' in change">
                      <py:if test="'replyto' in change">
                        in reply to: ${commentref('&uarr;&nbsp;', change.replyto)}
                        <py:if test="change_replies">; </py:if>
                      </py:if>
                      <py:if test="change_replies">follow-up${len(change_replies) > 1 and 's' or ''}:
                        <py:for each="reply in change_replies">
                          ${commentref('&darr;&nbsp;', reply)}
                        </py:for></py:if>
                    </py:if>
                    &nbsp;
                  </span>
                  Changed ${dateinfo(change.date)} ago by ${authorinfo(change.author)}
                </h3>

                ${display_change(change)}
              </div>
            </form>
          </div>
        </py:if>
      </py:if>
      <!--! End of the section we don't show on initial new tickets -->




 
</html>
