<html xmlns:py="http://genshi.edgewall.org/" py:strip="True">

<div class="edit">

<div class="ticket-properties">

	<div class="summary-meta">
		
		<span py:if="ticket.exists">Editing Issue #${ticket.id}</span>
		<span py:if="not ticket.exists">New Issue</span>

	  <py:if test="ticket.exists">
	    <span class="status">
			(
			 ${ticket.status}
			 <py:if test="ticket.type"> ${ticket.type}</py:if>
			 <py:if test="ticket.resolution">: ${ticket.resolution}</py:if>
			)
		</span>

	    <py:choose test="">
	      <py:when test="version is None" />
	      <py:when test="version == 0">
	        &mdash; at <a href="#comment:description">Initial Version</a>
	      </py:when>
	      <py:otherwise>
	        &mdash; at <a href="#comment:$version">Version $version</a>
	      </py:otherwise>
	    </py:choose>

	  </py:if>

	</div>




	<div class="authorship">
		<span py:if="ticket.exists" headers="h_reporter" class="searchable">Reported by ${authorinfo(ticket.reporter)}</span>
		<span py:if="ticket.exists" headers="h_owner">Owned by ${ticket.owner and authorinfo(ticket.owner) or ''}</span>
	</div>

	<div class="edit-activity">
    
		<div class="date">
	        <span class="created-date" py:if="ticket.exists">Opened ${dateinfo(ticket.time_created)} ago</span>
	        <span class="modified-date" py:if="ticket.time_changed != ticket.time_created">Last modified ${dateinfo(ticket.time_changed)} ago</span>
    	</div>

		<a py:if="ticket.exists" class="ticket-edit cancel" href="./${ticket.id}">Cancel</a>

	</div>

</div>

<div class="ticket" py:with="preview_mode = 'preview' in req.args">

<form py:if="not version and version != 0 and
             ('TICKET_APPEND' in perm(ticket.resource) or
              'TICKET_CHGPROP' in perm(ticket.resource) or
              ('TICKET_CREATE' in perm(ticket.resource) and not ticket.id))"
      action="${ticket.exists and href.ticket(ticket.id) or href.newticket()}" method="post" id="propertyform" enctype="multipart/form-data">



	<fieldset id="properties" py:if="'TICKET_CHGPROP' in perm(ticket.resource) or (not ticket.exists and 'TICKET_CREATE' in perm)" py:with="fields = [f for f in fields if not f.skip]">

		<div class="ticket-heading">

            <div class="summary">
              <label for="field-summary">Issue Title:</label>
              <input type="text" id="field-summary" name="field_summary" value="$ticket.summary" size="70" />
            </div>

            <div class="location">
              <label for="field-location">Location:</label>
              <input type="text" id="field-location" title="Location" name="field_location" value="$ticket.location" />
            </div>

		</div>



		<div class="ticket-body">
 


			<div class="content-main">

				<fieldset class="photo-upload">
				
					<div class="image-uploader">
				
						<p class="help">Upload a picture of the issue:</p>			  
					    <input type="file" name="ticket_image" />
				
					 </div>
					
				</fieldset>

	            <py:if test="'TICKET_EDIT_DESCRIPTION' in perm(ticket.resource) or not ticket.exists">
	              <div class="description data">
	                  <label for="field-description">Description:</label>             
	                  <textarea id="field-description" name="field_description" class="wikitext" rows="10" cols="68" py:content="ticket.description">
	                  </textarea>
	              </div>
	            </py:if>
	
			</div>
			
	
			<div class="content-meta">

				<div id="map" class="ticket-map"></div>

				<div class="tags data">
	              <label for="field-keywords">Keywords:</label>
	              <input type="text" name="field_keywords" id="field-keywords" value="${ticket.keywords}" />
	            </div>

	            <py:if test="'TICKET_ADMIN' in perm(ticket.resource)">
	              <div class="reporter data" id="form-reporter">
	                <label for="field-reporter">Reporter:</label>
	                <input type="text" id="field-reporter" name="field_reporter" value="${ticket.reporter}" />
	              </div>
	            </py:if>

				<div class="follower data">
	              <label for="field-cc">Followers:</label>
	              <input type="text" name="field_cc" value="${ticket.cc}" title="Space or comma delimited email addresses and usernames are accepted." id="field-cc" autocomplete="off" class="ac_input"/>
	            </div>

			</div>

		</div> <!-- end ticket body -->

	</fieldset>












    <py:def function="commentref(prefix, cnum)">
      <a href="#comment:$cnum"><small>$prefix$cnum</small></a>
    </py:def>

    <py:def function="display_change(change)">
      <ul py:if="change.fields" class="changes">
        <li py:for="field_name, field in change.fields.items()">
          <strong>${field_name}</strong>
          <py:choose>
            <py:when test="field_name == 'attachment'">
              <a href="${href.attachment('ticket', ticket.id, field.new)}"><em>${field.new}</em></a> added
            </py:when>
            <py:when test="'rendered' in field">${field.rendered}</py:when>
            <py:when test="field.old and field.new">
              changed from <em>${field.old}</em> to <em>${field.new}</em>
            </py:when>
            <py:when test="not field.old and field.new">
              set to <em>${field.new}</em>
            </py:when>
            <py:otherwise>
              <em>${field.old}</em> deleted
            </py:otherwise>
          </py:choose>
        </li>
      </ul>
      <div py:if="'comment' in change" class="comment searchable" xml:space="preserve">
        ${wiki_to_html(context, change.comment, escape_newlines=preserve_newlines)}
      </div>
    </py:def>








			        <div py:if="authname == 'anonymous'" class="field">

			          <fieldset>
			            <legend>${ticket.exists and 'Author' or 'Reporter'}</legend>
			            <div>
			              <div class="form-row">
			                  <label for="author">Your email or username:</label><br />
			                  <input type="text" id="author" name="author" size="40" value="$author_id" />
			              </div>
			            </div>

			            <p py:if="author_id == 'anonymous'" class="hint">
			              E-mail address and user name can be saved in the <a href="${href.prefs()}">Preferences</a>.
			            </p>

			          </fieldset>

			        </div>

			        <div py:if="ticket.exists" class="field">
			          <fieldset class="iefix">
			            <label for="comment">Comment (you may use
			              <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here):
			            </label>
			            <textarea id="comment" name="comment" class="wikitext" rows="10" cols="78">${comment}</textarea>
			          </fieldset>
			        </div>
			
			
			
			
			
			        <!--! Workflow support -->
			        <py:if test="ticket.id"> <!--! do not display the actions for New tickets -->
			          <fieldset id="action">
			            <legend>Action</legend>
			            <div py:for="key, label, controls, hints in action_controls">
			              <input type="radio" id="action_$key" name="action" value="$key" checked="${action == key or None}" />
			                <label for="action_$key">$label</label>
			                $controls
			                <span class="hint" py:for="hint in hints">$hint</span>
			            </div>
			          </fieldset>
			        </py:if>

			        <p py:if="not ticket.exists and 'ATTACHMENT_CREATE' in perm(ticket.resource.child('attachment'))">
			          <label>
			            <input type="checkbox" name="attachment" checked="${'attachment' in req.args or None}" />
			            I have files to attach to this ticket
			          </label>
			        </p>
			        <div class="buttons">
			          <input py:if="not ticket.exists" type="hidden" name="field_status" value="new" />
			          <py:if test="ticket.exists">
			            <input type="hidden" name="ts" value="${timestamp}" />
			            <input type="hidden" name="replyto" value="${replyto}" />
			            <input type="hidden" name="cnum" value="${cnum}" />
			          </py:if>
			          <input type="submit" name="preview" value="Preview" accesskey="r" />&nbsp;
			          <input type="submit" name="submit" value="${ticket.exists and 'Submit changes' or 'Create ticket'}" />
			        </div>

		








      <!-- PREVIEW DISPLAY - Do not show the ticket (pre)view when the user first comes to the "New Ticket" page. Wait until they hit preview.-->
      <fieldset style="display:none" id="preview" py:strip="not preview_mode">
        <py:if test="preview_mode">
          <legend>Preview (<a href="#${ticket.exists and 'edit' or 'properties'}">skip</a>)</legend>

          <!-- Preview of ticket changes -->
          <div py:if="change_preview" id="ticketchange" class="ticketdraft">
            <h3 class="change" id="${'cnum' in change_preview and 'comment:%d' % change_preview.cnum or None}">
              <span class="threading" py:if="'replyto' in change_preview">
                in reply to: ${commentref('&darr;&nbsp;', change_preview.replyto)}
              </span>
              Changed by ${authorinfo(change_preview.author)}
            </h3>
            ${display_change(change_preview)}
          </div>
        </py:if>

        <!-- Ticket Box (ticket fields along with description) -->
        <div id="ticket" py:if="ticket.exists or preview_mode" class="${preview_mode and 'ticketdraft' or None}">

          <div class="date">
	            <p py:if="ticket.exists">Opened ${dateinfo(ticket.time_created)} ago</p>
	            <p py:if="ticket.time_changed != ticket.time_created">Last modified ${dateinfo(ticket.time_changed)} ago</p>
	            <p py:if="not ticket.exists"><i>(ticket not yet created)</i></p>
          </div>

          <!-- use a placeholder if it's a new ticket -->
          <h2 class="summary searchable">$ticket.summary</h2>

          <div class="properties" py:with="fields = [f for f in fields if not f.skip and f.name not in ('type', 'owner')]">

            <div class="form-row">

				<label id="h_reporter">Reported by:</label>
				<div headers="h_reporter" class="searchable">${authorinfo(ticket.reporter)}</div>

				<label id="h_owner">Owned by:</label>
				<div headers="h_owner">${ticket.owner and authorinfo(ticket.owner) or ''}</div>

            </div>


			<div py:for="row in group(fields, 2, lambda f: f.type != 'textarea')" py:with="fullrow = len(row) == 1">

				<py:for each="idx, field in enumerate(row)">

					<div py:if="idx == 0 or not fullrow" id="${field and 'h_'+field.name or None}">
						<py:if test="field">${field.label or field.name}:</py:if>
					</div>

					<div py:if="idx == 0 or not fullrow" headers="${field and 'h_'+field.name or None}" class="${field and field.name in ('cc', 'keywords') and 'searchable' or None}">

					<py:if test="field">
						<py:choose test="">
							<py:when test="'rendered' in field">${field.rendered}</py:when>
							<py:otherwise>${ticket[field.name]}</py:otherwise>
						</py:choose>
					</py:if>

					</div>

				</py:for>

			</div>
			

          </div>

        </div>
      </fieldset>


 
	
    </form>
</div>

</div>
</html>