<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html" />

<head><title>Available Projects</title></head>
<body>

<h2>模板: ${tt_name}
</h2>

<form id="savetickettemplate" action="tickettemplate" method="post">

  <table class="listing" id="configlist">
   <thead>
    <tr>
	 <th>模板历史</th>
	</tr>
   </thead>
    <tr py:for="history in tt_history">
     <td class="name">
	   <a href="${history.href}">${history.modi_time}</a>
	 </td>
    </tr>
  </table>
  
</form>




</body>

</html>
