<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title>Add New Release</title>
    <script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js"></script>
    <script type="text/javascript" py:choose="">
      $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
    </script>
  </head>

  <body>
    <div id="content" class="release">
      <form action="$baseURL/add" method="post">
        <div id="releaseVersion">
            Version:
            <input type="hidden" name="hiddenReleaseStep" id="hiddenReleaseStep" value="1"/>
            <select name="selectReleaseVersion" id="selectReleaseVersion">
                <py:for each="item in availableVersions">
                    <option label="$item.name" value="$item.name">$item.name</option>
                </py:for>
            </select>
            <br/><br/>
            <input type="submit" value="Next"/>
        </div>
      </form>
    </div>
  </body>
</html>