<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
    <title>Add New Release</title>
    <script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js"></script>
    <script type="text/javascript" py:choose="True">
      function loadFiles(elemName, useInnerHTML, arqs) {
        elem = document.getElementById(elemName);
        if (elem) {
          alert("loadFiles()");
          alert(arqs);
          if (useInnerHTML) {
            //elem.innerHTML = arqs.toString();
          } else {
            //elem.value = arqs.toString();
          }
        }
      }
      
      function checkInstallProcedure(elemName) {
        elem = document.getElementById(elemName);
        if (elem) {
          elem.checked = true;
        }
      }
      
      $(document).ready(function() {
          $("div.description").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
          
          <py:for each="item in release.install_procedures">
            var files;
            // checkInstallProcedure("releaseProcedure_$item.install_procedure.id")
            files = []
            <py:if test="item.install_files">
              <py:for each="arq in item.install_files">
                files.push("$arq");
              </py:for>
            </py:if>
            
            // loadFiles("releaseProcedureFile_$item.install_procedure.id", false, files);
          </py:for>
        });
    </script>
  </head>

  <body>
    <py:if test="preview">
      <div id="content" class="ticketdraft">
        <fieldset id="properties">
          <legend>Release</legend>
  
          <table>
            <tr>
              <th>Version:</th>
              <td class="fullrow" colspan="3">$release.version</td>
            </tr>
            
            <tr>
              <th>Release Name:</th>
              <td class="fullrow" colspan="3">$releaseName</td>
            </tr>
    
            <tr>
              <th>Description:</th>
              <td class="fullrow" colspan="3">
                ${wiki_to_html(context, release.description)}
              </td>
            </tr>
    
            <tr>
              <th>Author:</th>
              <td>$release.author</td>
              <th>Creation Date:</th>
              <td>${release.creation_date and format_date(release.creation_date, "%Y-%m-%d") or ""}</td>
            </tr>
    
            <tr>
              <th>Planned Date:</th>
              <td>$release.planned_date</td>
              <th><label for="txtInstallDate">Install Date:</label></th>
              <td>&nbsp;</td>
            </tr>
          </table>
        </fieldset>
        
        <fieldset id="releaseTickets">
          <legend>Tickets</legend>
          <table id="releaseTickets" name="releaseTickets">
            <thead>
              <tr>
                <th>Ticket</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Component</th>
                <th>Version</th>
              </tr>
            </thead>
            <tbody>
              <py:for each="item in release.tickets">
                  <tr>
                      <td>$item.ticket_id</td>
                      <td>${wiki_to_oneliner(context, item.summary)}</td>
                      <td>$item.type</td>
                      <td>$item.component</td>
                      <td>$item.version</td>
                  </tr>
              </py:for>
            </tbody>
          </table>
        </fieldset>
        
        <fieldset id="signatures">
          <legend>Authorizations</legend>
          <table id="releaseSignatures">
            <thead>
              <tr>
                <th>User</th>
                <th>Authorization Date</th>
              </tr>
            </thead>
            <tbody>
              <py:for each="item in release.signatures">
                <tr>
                  <td>$item.signature</td>
                  <td>&nbsp;</td>
                </tr>
              </py:for>
            </tbody>
          </table>
        </fieldset>
    
        <fieldset id="releaseProcedures">
          <legend>Install Procedures</legend>
          <table>
            <thead>
              <tr>
                <th>Procedure ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Contains Files</th>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
              <py:for each="item in release.install_procedures">
                <tr>
                  <td>$item.install_procedure.id</td>
                  <td>$item.install_procedure.name</td>
                  <td>${wiki_to_oneliner(context, item.install_procedure.description)}</td>
                  <td>
                    <py:choose>
                      <py:when test="item.install_procedure.contain_files">
                        Sim
                      </py:when>
                      <py:otherwise>
                        N&atilde;o
                      </py:otherwise>
                    </py:choose>
                  </td>
                  <td>
                    <py:if test="item.install_files">
                      <py:for each="arq in item.install_files">
                        ${wiki_to_oneliner(context, arq)}<br/>
                      </py:for>
                    </py:if>
                  </td>
                </tr>
              </py:for>
            </tbody>
          </table>
        </fieldset>
      </div>
    </py:if>
    
    <!-- ******************************************************************* -->
    <div id="content" class="release">
      <form action="$baseURL/add" method="post">
        <input type="hidden" name="hiddenReleaseStep" id="hiddenReleaseStep" value="2"/>
        <input type="hidden" name="selectReleaseVersion" id="selectReleaseVersion" value="$releaseVersion"/>
        <fieldset id="properties">
          <legend>Release</legend>
  
          <table>
            <tr>
              <th><label for="releaseVersion">Version:</label></th>
              <td class="fullrow" colspan="3">$release.version</td>
            </tr>
            
            <tr>
              <th><label for="txtReleaseName">Release Name:</label></th>
              <td class="fullrow" colspan="3">
                <input type="text" name="txtReleaseName" id="txtReleaseName" value="$releaseName"/>
              </td>
            </tr>
    
            <tr>
              <th><label for="txtReleaseDescription">Description:</label></th>
              <td class="fullrow" colspan="3">
                <textarea name="txtReleaseDescription"
                          id="txtReleaseDescription"
                          class="wikitext"
                          rows="10" cols="68">$release.description</textarea>
              </td>
            </tr>
    
            <tr>
              <th>Author:</th>
              <td>$release.author</td>
              <th>Creation Date:</th>
              <td>${release.creation_date and format_date(release.creation_date, "%Y-%m-%d") or ""}</td>
            </tr>
    
            <tr>
              <th><label for="txtReleasePlannedDate">Planned Date:</label></th>
              <td><input type="text" name="txtReleasePlannedDate" id="txtReleasePlannedDate" value="$release.planned_date"/></td>
              <th><label for="txtInstallDate">Install Date:</label></th>
              <td>&nbsp;</td>
            </tr>
          
            <tr>
              <th><label for="hiddenReleaseSignatures">Authorization (comma-separated list):</label></th>
              <td class="fullrow" colspan="3">
                <input type="text" name="hiddenReleaseSignatures"
                       id="hiddenReleaseSignatures"
                       value="$releaseSignatures"
                       size="107"/>
              </td>
            </tr>

          </table>
        </fieldset>
        
        
        <fieldset id="releaseTickets">
          <legend>Tickets</legend>
          <table id="releaseTickets" name="releaseTickets">
            <thead>
              <tr>
                <th>Ticket</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Component</th>
                <th>Version</th>
              </tr>
            </thead>
            <tbody>
              <py:for each="item in release.tickets">
                  <tr>
                      <td>$item.ticket_id</td>
                      <td>${wiki_to_oneliner(context, item.summary)}</td>
                      <td>$item.type</td>
                      <td>$item.component</td>
                      <td>$item.version</td>
                  </tr>
              </py:for>
              
              <tr>
                <th colspan="2">
                  Ticket List (comma-separated list):
                </th>
                <td colspan="2" class="fullrow">
                  <input type="text" name="hiddenReleaseTickets" id="hiddenReleaseTickets" value="$releaseTickets"/>
                </td>
              </tr>
            </tbody>
          </table>
        </fieldset>
    
        <fieldset id="releaseProcedures">
          <legend>Install Procedures</legend>
          <table>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Procedure ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
              <py:for each="item in releaseAvailableProcedures">
                <tr>
                  <td>
                    <input type="checkbox" name="releaseProcedure_$item.id"
                           checked="${item.checked or None}"
                           id="releaseProcedure_$item.id"/>
                  </td>
                  <td>$item.id</td>
                  <td>$item.name</td>
                  <td>${wiki_to_oneliner(context, item.description)}</td>
                  <py:if test="item.contain_files">
                    <td>
                      <textarea name="releaseProcedureFile_$item.id"
                                id="releaseProcedureFile_$item.id"
                                class="wikitext"
                                rows="10" cols="68">
<py:for each="arq in item.files">$arq,
</py:for></textarea>
                    </td>
                  </py:if>
                  <py:if test="not item.contain_files">
                    <td>&nbsp;</td>
                  </py:if>
                </tr>
              </py:for>
            </tbody>
          </table>
        </fieldset>
          
        <input type="submit" name="preview" value="Preview" accesskey="r" />&nbsp;
        <input type="submit" name="submit" value="Create Release"/>
        
      </form>
      
    </div>
  </body>
</html>