<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<xi:include href="layout.html" />

<head>
  <title>$title</title>
</head>	

<body>
  <div id="ctxtnav" class="nav"></div>

  <div id="content" class="tractab">
  height:
  <select onchange="document.getElementById('thisIframe').style.height = this.options[this.selectedIndex].value;">
    <option value="100px">100</option>
    <option value="200px">200</option>
    <option value="300px">300</option>
    <option value="400px">400</option>
    <option value="500px" selected="true">500</option>
    <option value="600px">600</option>
    <option value="700px">700</option>
    <option value="800px">800</option>
    <option></option>
  </select>
  <iframe id="thisIframe" style="width:100%;height:500px;overflow:auto;" 
      src="$url" ></iframe>
  </div>

</body>

</html>
