<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Wiki Editor"
            extensions="wiki"
            icon="icons/trac_16.png"
            contributorClass="mm.eclipse.trac.editors.WikiEditorContributor"
            class="mm.eclipse.trac.editors.WikiEditor"
            id="mm.eclipse.trac.editors.WikiEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Trac"
            id="mm.eclipse.trac">
      </category>
      <view
            name="Trac Navigator"
            icon="icons/trac_16.png"
            category="mm.eclipse.trac"
            class="mm.eclipse.trac.views.TracNavigator"
            id="mm.eclipse.trac.views.TracNavigator">
      </view>
      <view
            category="mm.eclipse.trac"
            class="mm.eclipse.trac.views.WikiPageHistory"
            icon="icons/trac_16.png"
            id="mm.eclipse.trac.views.WikiPageHistory"
            name="Wiki Page History"/>
      <view
            allowMultiple="false"
            category="mm.eclipse.trac"
            class="mm.eclipse.trac.server.ServerView"
            icon="icons/server.png"
            id="mm.eclipse.trac.server.ServerView"
            name="Trac Servers"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="mm.eclipse.trac.views.TracLabelDecorator"
            id="mm.eclipse.trac.models.TracLabelDecorator"
            label="Trac Decorator"
            lightweight="true"
            state="true">
         <enablement>
   <or>
      <objectClass name="mm.eclipse.trac.models.WikiPage"/>
      <objectClass name="mm.eclipse.trac.models.TracServer"/>
      <objectClass name="mm.eclipse.trac.models.TracServerList"/>
   </or>
         </enablement>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="mm.eclipse.trac.editors.WikiDocumentProvider"
            id="mm.eclipse.trac.editors.WikiPageDocumentProvider"
            inputTypes="mm.eclipse.trac.models.WikiPage"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="mm.eclipse.trac.templates"
            name="Wiki Templates"/>
      <include file="templates/templates.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="mm.eclipse.trac.perspective.PerspectiveFactory"
            fixed="false"
            icon="icons/trac_16.png"
            id="mm.eclipse.trac.perspective"
            name="Trac"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="mm.eclipse.trac.server"
            name="Trac"/>
      <wizard
            category="mm.eclipse.trac.server"
            class="mm.eclipse.trac.server.NewTracServer"
            finalPerspective="Trac"
            icon="icons/trac_16.png"
            id="mm.eclipse.trac.server.NewTracServer"
            name="Add a Trac Server"
            project="false"/>
   </extension>

</plugin>
