<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" 
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="acct_mgr">
  <xi:include href="admin.html" />
  <?python
    if _dgettext:
        dgettext = _dgettext ?>
  <head>
    <title>Account Details</title>
  </head>

  <body>
    <div id="account_details">
      <div id="header">
        <h2>Review User Account Details</h2>
        <py:choose>
          <p py:when="name" i18n:msg="name, user">
            for <b>${name}</b> (<em>${user}</em>)
          </p>
          <p py:otherwise="" i18n:msg="user">
            for <b>${user}</b>
          </p>
        </py:choose>
      </div>

      <form method="get" action="${url}">
        <fieldset>
          <legend><label>Account Status</label></legend>
          <div id="user_locked" py:if="approval or user_locked">
            <p>
              <span py:if="release_time and not approval" i18n:msg="time">
                <img src="${href.chrome('/acct_mgr/time-locked.png')}" />
                This account has been locked until ${release_time}<br />
                and even valid login attempts are rejected meanwhile.</span>
              <span py:if="approval or not release_time">
                <img src="${href.chrome('/acct_mgr/locked.png')}" />
                This account has been locked permanently.
              </span>
              <span class="buttons">
                <input type="submit" name="release"
                       alt="Release account lock"
                       title="Release account lock"
                       value="${dgettext('acct_mgr', 'Unlock')}" />
              </span>
            </p>
          </div>

          <div id="restricted" py:if="lock_count" py:choose="">
            <div py:when="not lock_count == 0">
              <i18n:choose numeral="lock_count" params="count"
                           py:if="not _dgettext">
                <p i18n:singular="">
                  Time lock condition has been met ${lock_count} time by now.
                </p>
                <p i18n:plural="">
                  Time lock condition has been met ${lock_count} times by now.
                </p>
              </i18n:choose>
              <!--! i18n:choose doesn't play nicely with Trac releases
                before Trac 0.12, so we provide an alternative message
                that is excluded from extraction and translation. -->
              <p py:if="_dgettext" xml:lang="en">
                Time lock condition has been met ${lock_count} time(s) by now.
              </p>
              <p py:if="not (approval or (user_locked and not release_time))"
                 i18n:msg="time">
                Therefore after another failed login attempt authentication
                for this account would be retarded by ${pretty_lock_time}.
              </p>
            </div>
            <div py:otherwise="">
              <p>Lock condition has not been met yet.</p>
            </div>
          </div>
          <div id="unrestricted" py:if="not (approval or lock_count)">
            <p>No constraints are set for this account.</p>
          </div>

          <hr py:if="user_locked or approval" />

          <div id="user_store" py:if="user_store">
            <p i18n:msg="order_num,store">
              Credentials for this user are stored in AuthStore number
              <em>${store_order_num}</em> (${user_store}).</p>
            <p class="hint" py:if="ignore_auth_case" i18n:msg="">
              Username matching is set to <b>not case-sensitive</b>.</p>
            <p class="hint" py:if="not ignore_auth_case" i18n:msg="">
              Username matching is set to <em>case-sensitive</em>.</p>
          </div>
          <div id="no_user_store" py:if="not (approval or user_store)">
            <p i18n:msg="">
              No readable store provides credentials for this user,
              so the user may not get authenticated and access to this
              <em>account might be effectively blocked</em>.</p>
          </div>
          <div py:if="email">
            <p i18n:msg="email">
              Current email address: &lt;${email}&gt;</p>
            <py:choose py:if="verification">
              <p py:when="email_verified is True">
                This address has been verified successfully.</p>
              <p py:when="not email_verified is None" i18n:msg="token">
                Verification is pending
                (<span class="hint">token: '${email_verified}' </span>).</p>
              <p py:otherwise="">
                This address has not been verified yet.</p>
            </py:choose>
          </div>
          <div py:if="not email">
            <p>No email address is registered for this account.</p>
          </div>
        </fieldset>

        <fieldset>
          <legend><label>Access History</label></legend>
          <p py:if="last_visit" i18n:msg="time">
            Last login: ${last_visit}</p>
          <p py:if="not last_visit">The user has not logged in before.</p>
          <div id="failed_attempts" py:if="attempts_count">
            <p i18n:msg="count">Total failed attempts: ${attempts_count}</p> 
            <p class="tableheader">
              Table: Last failed login attempts log view</p>
            <table class="listing" id="login_attempts">
              <thead>
                <tr>
                  <th>IP address</th>
                  <th>Log time</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="attempt in attempts">
                  <td>${attempt.ipnr}</td>
                  <td>${attempt.time}</td>
                </tr>
              </tbody>
            </table>
            <div class="buttons" py:if="not user_locked">
              <input type="submit" name="delete"
                     alt="Delete login failure log"
                     title="Delete login failure log"
                     value="${dgettext('acct_mgr', 'Delete Log')}" />
            </div>
          </div>
          <div id="no_failed_attempts" py:if="not attempts_count">
            <p>There is currently no failed login attempt logged.</p>
          </div>
        </fieldset>

        <div class="buttons">
          <input type="hidden" name="user" value="${user}" />
          <input type="submit" name="update"
                 value="${dgettext('acct_mgr', 'Refresh')}" />
        </div>
      </form>
    </div>

  </body>
</html>
