<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" 
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="acct_mgr">
  <xi:include href="layout.html" />
  <head>
    <title>Account Manager Setup</title>
    <script type="text/javascript">/*<![CDATA[*/
      jQuery(document).ready(function($) {
        // Hide/unhide depending sections
        $("input[name=auth_cookie_lifetime]").change(function() {
          var isChecked = parseInt(
                            $("input[name=acctmgr_login]:checked").val());
          var oldValue = parseInt($("#auth_cookie_lifetime_old").val());
          if(parseInt($("input[name=auth_cookie_lifetime]")
                        .val()) != oldValue ||
                        (isChecked === 0 && oldValue === 0)){
            $("span#pretty_auth_cookie_lifetime").hide();
          }
          else{
            $("span#pretty_auth_cookie_lifetime").show();
          }
        });
        function toggleLoginOpts() {
          var isChecked = parseInt(
                            $("input[name=acctmgr_login]:checked").val());
          var section = $("#acctmgr_login_opts");
          if(isChecked === 0){
            $("input[name=auth_cookie_lifetime]").change();
            section.slideUp();
          }
          else{
            $("input[name=auth_cookie_lifetime]").change();
            section.slideDown();
          }
        };
        $("input[type=radio][name=acctmgr_login]").click(function() {
          toggleLoginOpts();
        });
        function toggleMultiStore() {
          var section = $("#multi_store");
          if(! $("input[name=multi_store]").is(':checked')){
            section.slideUp();
          }
          else{
            section.slideDown();
          }
        };
        $("input[type=checkbox][name=multi_store]").click(function() {
          toggleMultiStore();
        });
        function toggleRegisterOpts() {
          var section = $("#acctmgr_register_opts");
          if(! $("input[name=acctmgr_register]").is(':checked')){
            section.slideUp();
          }
          else{
            section.slideDown();
          }
        };
        $("input[type=checkbox][name=acctmgr_register]").click(function() {
          toggleRegisterOpts();
        });
        $("input[name=login_attempt_max_count]").change(function() {
          var currVal = parseInt(
                          $("input[name=login_attempt_max_count]").val());
          var section = $("div#user_lock_time");
          if(currVal === 0){
            section.slideUp();
          }
          else if(currVal < 0){
            $("input[name=login_attempt_max_count]").val('0');
            section.slideUp();
          }
          else{
            section.slideDown();
          }
        }).change();
        $("input[name=user_lock_time]").change(function() {
          var currVal = parseInt($("input[name=user_lock_time]").val());
          var section = $("div#user_lock_time_progression");
          if(currVal === 0){
            section.slideUp();
          }
          else if(currVal < 0){
            $("input[name=user_lock_time]").val('0');
            section.slideUp();
          }
          else{
            section.slideDown();
          }
        }).change();
        $("input[name=user_lock_time_progression]").change(function() {
          var currVal = parseFloat(
                          $("input[name=user_lock_time_progression]").val());
          var section = $("div#user_lock_max_time");
          if(currVal === 1){
            section.slideUp();
          }
          else if(currVal < 1){
            $("input[name=user_lock_time_progression]").val('1');
            section.slideUp();
          }
          else{
            section.slideDown();
          }
        }).change();
        // Fix initial section visibility depending on some input state
        toggleLoginOpts();
        toggleMultiStore();
        toggleRegisterOpts();
      });
    /*]]>*/</script>
  </head>

  <body>
    <div id="content" class="wizard">
      <div id="progress">
        <!-- Progress bar -->
        <ul class="progress">
          <py:for each="idx,step in enumerate(steps)">
            <li class="${step.past and 'past' or
                         (idx == active and 'active') or None}"
                id="${idx == len(steps) - 1 and 'last' or None}"
                style="${'width:' + str(100 / len(steps)) + '%'}">
              <span>
                <a href="${href(start_href, step=idx)}">${idx + 1}</a>
              </span>
              <a href="${href(start_href, step=idx)}"
                 title="${step.image and step.label or None}">
              <img class="icon" alt="${step.label}" py:if="step.image"
                   heigth="32" width="32"
                   src="${href.chrome('/acct_mgr/' + step.image + '.png')}" />
              <py:if test="not step.image">
                $step.label
              </py:if>
              </a>
            </li>
          </py:for>
        </ul>
      </div>

      <h1>Accounts: Configuration</h1>
      <form id="cfg_wiz" method="post">
        <div class="buttons">
          <input type="hidden" name="step" value="$active" />
          <input type="submit" name="next" py:if="active != (len(steps) - 1)"
                 value="${dgettext('acct_mgr', 'Next step')}" />
        </div>
        <py:choose test="active">

          <fieldset py:when="0">
            <legend class="step" i18n:msg="step,label">
              Step ${str(active + 1)}: ${steps[active].label}
            </legend>
          <h3>Objective for setting Common Options</h3>
          <p>
            Trac sessions are authenticated per request based on browser
            cookies.  Therefor a number of options control some critical
            browser cookie properties.
          </p>

          <h3>Authentication provider-agnostic options</h3>
          <div class="field"
               py:with="value = acctmgr_login and auth_cookie_lifetime or 
                                acctmgr_login and 2592000 or
                                auth_cookie_lifetime">

            <!-- Last value cache for JS code -->
            <input type="hidden" id="auth_cookie_lifetime_old"
                   value="$auth_cookie_lifetime" disabled="disabled" />
            <label>
              Lifetime of the authentication cookie:
              <input type="text" class="numwidget" name="auth_cookie_lifetime"
                     title="[trac] auth_cookie_lifetime"
                     value="$auth_cookie_lifetime" />
              seconds
              <span class="hint" py:if="value"
                    id="pretty_auth_cookie_lifetime">
                (${pretty_precise_timedelta(None, diff=value)})
              </span>
            </label>
            <p class="hint">
              Determines how long the browser will cache authentication
              information, and therefore, after how much inactivity a user
              will have to log in again.  Default (0&nbsp;s) makes cookie
              expire at browsing sessions end.
            </p>
          </div>
          <div class="field">
            <label>
              <input type="checkbox" name="secure_cookies" value="true"
                     title="[trac] secure_cookies"
                     checked="${secure_cookies and 'checked' or None}" />
              Restrict sending cookies to HTTPS connections.
            </label>
            <p class="hint">
              Required if this Trac instance is only accessible through HTTPS.
            </p>
          </div>
          <div class="field">
            <label>
              <input type="checkbox" name="check_auth_ip" value="true"
                     title="[trac] check_auth_ip"
                     checked="${check_auth_ip and 'checked' or None}" />
              Check IP address for authentication.
            </label>
            <p class="hint">
              Potentially troublesome for users with dynamic IP adress, but
              disregarded for persistant sessions.
            </p>
          </div>
          <div class="field">
            <label>
              <input type="checkbox" name="ignore_auth_case" value="true"
                     title="[trac] ignore_auth_case"
                     checked="${ignore_auth_case and 'checked' or None}" />
              Convert login names to lower case on registration and login.
            </label>
          </div>

          <h3>Authentication front-end</h3>
          <div class="field">
            <label>
              <input type="radio" name="acctmgr_login" value="0"
                     checked="${acctmgr_login and None or 'checked'}"
                     title="[components] trac.web.auth.loginmodule" />
              Use HTTP authentication and credentials as configured in and
              provided by your web-server.
            </label>
            <p class="hint">
              You can still manage some password stores with
              AccountManagerPlugin, if you configure them in the next section.
            </p>
            <label>
              <input type="radio" name="acctmgr_login" value="1"
                     checked="${acctmgr_login and 'checked' or None}"
                     title="[components] acct_mgr.web_ui.loginmodule" />
              Use a HTML login form backed by one or more password stores
              managed by AccountManagerPlugin.
            </label>
            <p class="hint">
              AccountManagerPlugin provides a form-based login page, even
              integrating links to related actions:
            </p>
            <ul>
              <li><span class="hint">Lost password/Password reset</span></li>
              <li><span class="hint">Registration for new users</span></li>
            </ul>
            <p class="hint">
              accompanied by its own, custom version of LoginModule.
            </p>
            <p class="hint">
              If you enable this feature, you'll want to review and adjust
              some Trac options related to session authentication.
              Note, that AccountManagerPlugin's LoginModule changes the
              default value for auth_cookie_lifetime to 30 days.
            </p>
          </div>

          <div id="acctmgr_login_opts">
            <h3>AccountManagerPlugin authentication options</h3>
            <div class="field">
              <label>
                <input type="checkbox" name="persistent_sessions" value="true"
                       checked="${persistent_sessions and 'checked' or None}"
                       title="[account-manager] persistent_sessions" />
                Allow the user to be remembered across sessions without
                needing to re-authenticate.
              </label>
              <p class="hint" i18n:msg="">This is, user checks a "Remember Me"
                <tt>checkbox</tt> in the AccountManagerPlugin login form and,
                next time he visits the site within 30 days, he'll be
                remembered and authenticated automatically.
              </p>
            </div>
            <div class="field">
              <label i18n:msg="">
                Likelihood of session cookie ID change:
                <input type="text" class="numwidget" name="cookie_refresh_pct"
                       title="[account-manager] cookie_refresh_pct"
                       value="$cookie_refresh_pct" />
                % per work hour
              </label>
              <p class="hint">
                Driving a refresh process to decrease vulnerability of
                long-lasting sessions.  Zero equals to never.
              </p>
            </div>
            <div class="field">
              <label>
                Path for authentication cookie:
                <input type="text" class="textwidget" name="auth_cookie_path"
                       title="[trac] auth_cookie_path"
                       value="$auth_cookie_path" />
              </label>
              <p class="hint">
                Set this to a common base path of several Trac instances to
                share the cookie, providing cheap Single-Sign-On experience.
                This enables AccountManagerPlugin's authentication data
                distribution to Trac instances with matching cookie path.
              </p>
            </div>
          </div>
          </fieldset>

          <fieldset py:when="1">
            <legend class="step" i18n:msg="step,label">
              Step ${str(active + 1)}: ${steps[active].label}
            </legend>
            <img class="icon" alt="Password store icon"
                 src="${href.chrome('/acct_mgr/users.png')}" />

          <h3>Objective for configuring a Password Store</h3>
          <p>
            AccountManagerPlugin manages user credentials in a modular
            back-end providing access to at least one password store.
            While store chaining works flawlessly, this advanced configuration
            scenario is not supported by the configuration wizard yet.
          </p>

          <h3>Authentication back-end</h3>
          [x] Use a password store embedded into Trac db.
          <p class="hint" i18n:msg="">
            AccountManagerPlugin's <strong>SessionStore</strong> implements
            password storage in db table 'session_attributes'.  Its the
            default choice mainly for avoiding additional dependencies like
            directory and file permissions.  While great to resolve some
            concurrent access issues too, this password store has some
            shortcomings as well.  Notably it does not support seamless
            hash type migration yet, and its no candidate for shared use
            by multiple Trac instances or even by applications beyond Trac.
          </p>
          <div>
            Details
            <ul>
              <li>[account-manager] hash_method [HtDigestHashMethod__]</li>
              <!-- py:if acctmgr.HtDigestHashMethod enabled -->
              <ul>
                <li>[account-manager] db_htdigest_realm [______________]</li>
              </ul>
              <!-- /py:if -->
              <!-- py:if acctmgr.HtPasswdHashMethod enabled -->
              <ul>
                <li>[account-manager] db_htpasswd_hash_type [md5___________]</li>
              </ul>
              <!-- /py:if -->
            </ul>
          </div>

          [_] Use a writable file-based password store.
          <p class="hint">
            AccountManagerPlugin includes native support for common Apache
            file formats 'htpasswd' and 'htdigest'.  Note that setting
            appropriate directory and file permissions is cruicial for this
            password store, but not covered by this configuration wizard.
          </p>
          <div>
            Details
            <ul>
              <li>
                [_] 'htpasswd' format
                <p class="hint">
                  <strong>HtDigestStore</strong>
                </p>
              </li>
              <ul>
                <li>[account-manager] htdigest_file [trac.htdigest_]</li>
                <li>[account-manager] htdigest_realm [______________]</li>
              </ul>
              <li>
                [_] 'htdigest' format
                <p class="hint">
                  <strong>HtPasswdStore</strong>
                </p>
              </li>
              <ul>
                <li>[account-manager] htpasswd_file [trac.htpasswd_]</li>
                <li>[account-manager] htpasswd_hash_type [md5___________]</li>
              </ul>
            </ul>
          </div>

          [_] Use a read-only file-based password store.
          <p class="hint">
            <strong>SvnServePasswordStore</strong> includes support for
            reading svnserve's  password file format.  This is another way to
            enable shared use of authentication data, but relies on independed
            management of the password file.
          </p>
          <div>
            Details
            <ul>
              <li>
                [account-manager] password_file [______________]
                <p class="hint">
                  Path to the users file, leave blank to locate the users file
                  by reading svnserve.conf
                </p>
              </li>
            </ul>
          </div>

          [_] Delegate authentication using HTTP authentication.
          <p class="hint">
            AccountManagerPlugin enables use of standard HTTP authentication
            by its <strong>HttpAuthStore</strong> component.  Both Basic and
            Digest authentication callenges are supported.  Apart from being
            read-only this password store does even not support listing users
            for obvious reasons.
          </p>
          <div>
            Details
            <ul>
              <li>
                [account-manager] auth_url [______________]
                <p class="hint">
                  URL of the HTTP authentication service
                </p>
              </li>
            </ul>
          </div>

          [_] Use a different password store (requires manual configuration).
          <p class="hint">
            AccountManagerPlugin's modular password store concept encourages
            creation of even more ways to provide user credential beyond the
            natively supported stores.  Setup assistance for these 3rd-party
            authentication providers is not implemented yet.
          </p>

            <div class="field">
              <label>
                <input type="checkbox" name="multi_store"
                       checked="${len(password_store) > 1 and 'checked' or
                                  None}"
                     value="true" />
                Chain password stores.
              </label>
              <p class="hint">
                Select desired password stores and related options to enable
                concurrent use of multiple password stores.  Password stores
                are queried in turn in, so order matters.
            </p>
            </div>
            <div id="multi_store">
              <h3>Multiple Password Store Configuration</h3>
              <p i18n:msg="store_list">
                All enabled stores are listed below, but most won't work at
                all without additional configuration.<br />Currently enabled:
                <span title="[account-manager] password_store">
                  <em>${', '.join(password_store)}</em>
                </span>
              </p>
              <p class="hint" py:if="len(password_store) > 1">
                This is an experts-only type of store configuration.
              </p>

              <fieldset py:for="section in store_list">
                <legend>
                  <label>
                    <select name="${section.classname}" >
                      <option py:for="order in numstores" value="${order}"
                              selected="${order == section.order or None}">
                        ${order == 0 and '--' or order}
                      </option>
                    </select>
                    $section.name
                  </label>
                </legend>
                <div class="field" py:for="option in section.options">
                  <label>$option.label:
                    <py:choose>
                      <div class="system-message"
                           py:when="isinstance(option.value, dict) and
                                    'error' in option.value.keys()" >
                        <p>${option.value['error']}</p>
                      </div>
                      <select name="$option.name"
                              py:when="isinstance(option.value, dict)" >
                        <option py:for="opt in option.value['options']"
                                class="textwidget" 
                                selected="${opt == option.value['selected'] or
                                          None}"
                                value="${opt}">
                          ${opt}
                        </option>
                      </select>
                      <input type="text" class="textwidget" py:otherwise=""
                             name="$option.name" value="$option.value" />
                    </py:choose>
                  </label>
                  <p class="hint" py:if="option.doc">$option.doc</p>
                </div>
              </fieldset>
            </div>
          </fieldset>

          <fieldset py:when="2">
            <legend class="step" i18n:msg="step,label">
              Step ${str(active + 1)}: ${steps[active].label}
            </legend>
            <img class="icon" alt="Password refresh icon"
                 src="${href.chrome('/acct_mgr/refresh.png')}" />

            <h3>Objective for Password Policy rules</h3>
            <p>
              While AccountManagerPlugin does not enforce password rules in
              general, there are some other ways to alter password handling.
            </p>

            <div class="field">
              <label>
                <input type="checkbox" name="reset_password" value="true"
                       checked="${reset_password and 'checked' or None}"
                       title="[account-manager] reset_password" />
                Enable the password reset procedure.
              </label>
              <p class="hint">
                It relies on a working email sender for Trac, supporting both
                TracAnnouncer and TracNotification.
              </p>
            </div>
            <div class="field">
              <label i18n:msg="">
                Length of the randomly-generated passwords:
                <input type="text" class="numwidget"
                       name="generated_password_length"
                       title="[account-manager] generated_password_length"
                       value="$generated_password_length" />
                characters
              </label>
              <p class="hint">
                These passwords are used as alternative passwords on request.
              </p>
            </div>
            <div class="field">
              <label>
                <input type="checkbox" name="force_passwd_change" value="true"
                       checked="${force_passwd_change and 'checked' or None}"
                       title="[account-manager] force_passwd_change" />
                Force users to change passwords after a password reset.
              </label>
            </div>
          </fieldset>

          <fieldset py:when="3">
            <legend class="step" i18n:msg="step,label">
              Step ${str(active + 1)}: ${steps[active].label}
            </legend>
            <img class="icon" alt="Account approval icon"
                 src="${href.chrome('/acct_mgr/approval.png')}" />

          <h3>Objective for Account Registration and Verification rules</h3>
          <p>
            You may require administrative approval of new accounts for the
            user registration process.  The ability to immediately ban
            existing accounts is another, related but independed feature.
          </p>

          <div class="field">
            <label>
              <input type="checkbox" name="acctmgr_register"
                     checked="${acctmgr_register and 'checked' or None}"
                     title="[components] acct_mgr.register.RegistrationModule"
                     value="true" />
              Allow users to register for a new account.
            </label>
          </div>
          <div id="acctmgr_register_opts">
            <h3>Checks to use for validating Registration requests</h3>
            <p i18n:msg="check_list">
              All checks provided by AccountManagerPlugin are enabled per
              default, but some are configurable on their own.<br />
              Currently enabled:
              <span title="[account-manager] register_check">
                <em>$register_check</em>
              </span>
            </p>
            <p class="hint">
              Checks like <strong>BotTrapCheck</strong> won't work at all
              without additional configuration.
            </p>

            <fieldset py:for="section in check_list">
              <legend>
                <label>
                  <select name="${section.classname}" >
                    <option py:for="order in numchecks" value="${order}"
                            selected="${order == section.order or None}">
                      ${order == 0 and '--' or order}
                    </option>
                  </select>
                  $section.name
                </label>
              </legend>
              <div py:if="section.doc" xml:space="preserve">
                ${safe_wiki_to_html(context, section.doc)}
              </div>
              <div class="field" py:for="option in section.options">
                <label>$option.label:
                  <py:choose>
                    <div class="system-message"
                         py:when="isinstance(option.value, dict) and
                                  'error' in option.value.keys()" >
                      <p>${option.value['error']}</p>
                    </div>
                    <select name="$option.name"
                            py:when="isinstance(option.value, dict)" >
                      <option py:for="opt in option.value['options']"
                              class="textwidget" 
                              selected="${opt == option.value['selected'] or
                                          None}"
                              value="${opt}">
                        ${opt}
                      </option>
                    </select>
                    <input type="text" class="textwidget" py:otherwise=""
                           name="$option.name" value="$option.value" />
                  </py:choose>
                </label>
                <p class="hint" py:if="option.doc">$option.doc</p>
              </div>
            </fieldset>

            <h3>Other Account Policy options</h3>
            <div class="field">
              <label>
                <input type="checkbox" name="require_approval" value="true"
                       checked="${require_approval and 'checked' or None}"
                       title="[account-manager] require_approval" />
                Require administrative account approval after registration.
              </label>
              <p class="hint">
                For admin notification on registration time it relies on a
                working email sender for Trac, supporting both TracAnnouncer
                and TracNotification.
              </p>
            </div>
            <div class="field">
              <label>
                <input type="checkbox" name="verify_email" value="true"
                       checked="${verify_email and 'checked' or None}"
                       title="[account-manager] verify_email" />
                Force users to verify their email addresses.
              </label>
              <p class="hint">
                For sending a verificaton token to the user it relies on a
                working email sender for Trac, supporting both TracAnnouncer
                and TracNotification.
              </p>
            </div>
          </div>
          </fieldset>

          <fieldset py:when="4">
            <legend class="step" i18n:msg="step,label">
              Step ${str(active + 1)}: ${steps[active].label}
            </legend>
            <img class="icon" alt="Account guard icon"
                 src="${href.chrome('/acct_mgr/guard.png')}" />

            <h3>Objective for Account Protection rules</h3>
            <p>
              <strong>AccountGuard</strong> component provides additional
              protection.  It is an add-on to AccountManagerPlugin's own
              <strong>LoginModule</strong> discouraging brute-force login
              attempts.
            </p>

            <div class="field">
              <label>
                Failed login attempt count max:
                <input type="text" class="numwidget"
                       name="login_attempt_max_count"
                       value="$login_attempt_max_count" />
                <p class="hint" i18n:msg="">
                  Lock user account after specified number of failed attempts.
                  Value zero means <strong>no limit</strong>.
                </p>
              </label>
            </div>
            <div id="user_lock_time">
              <div class="field">
                <label i18n:msg="">
                  Drop lock after
                  <input type="text" class="numwidget" name="user_lock_time"
                         value="$user_lock_time" />
                  seconds
                  <p class="hint" i18n:msg="">
                    Zero means <strong>unlimited</strong> lock time here.
                  </p>
                </label>
              </div>
              <div id="user_lock_time_progression">
                <div class="field">
                  <label>
                    Lock time progression factor:
                    <input type="text" class="numwidget"
                           name="user_lock_time_progression"
                           value="$user_lock_time_progression" />
                    <p class="hint">
                      Extend user account lock duration incrementally.
                      It uses logarithmic calculation with the factor as
                      exponent, accepting decimal numbers >= 1.
                    </p>
                    <p class="hint">
                      Lock time will grow for any value > 1, if the failure
                      happens before lock expiration.  I.e. value '2' means
                    </p>
                    <ul i18n:msg="">
                      <li><span class="hint">
                        double lock time after 2nd failure,</span>
                      </li>
                      <li><span class="hint">
                        four times the initial lock time after 3rd,</span>
                      </li>
                      <li><span class="hint">
                        eight times as long after 4th failure, etc.</span>
                      </li>
                    </ul>
                    <p class="hint">
                      At any time after lock expiration a login failure will
                      just trigger a lock and set a new lock timeout, but not
                      extend the total lock duration.
                    </p>
                  </label>
                </div>
                <div id="user_lock_max_time" class="field">
                  <label i18n:msg="">
                    Upper lock time limit:
                    <input type="text" class="numwidget"
                           name="user_lock_max_time"
                           value="$user_lock_max_time"
                           title="${pretty_precise_timedelta(None,
                                    diff=user_lock_max_time)}" />
                    seconds
                    <p class="hint">
                      This is relevant only with a progression factor > 1.
                    </p>
                  </label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset py:otherwise="">
            <legend class="step" i18n:msg="step,label">
              Step ${str(active + 1)}: ${steps[active].label}
            </legend>
            <h3>Review your Configuration</h3>

            <h3>Setup Initialization </h3>
            <p>
              Save the configuration and create one admin and one regular
              user account.
            </p>
          </fieldset>
        </py:choose>

        <div class="buttons">
          <input type="submit" name="next" py:if="active != (len(steps) - 1)"
                 value="${dgettext('acct_mgr', 'Next step')}" />
          <input type="submit" name="save"
                 value="${dgettext('acct_mgr', 'Apply changes')}" />
          <input type="submit" name="next" py:if="active == (len(steps) - 1)"
                 title="${dgettext('acct_mgr', 'Exit wizard')}"
                 value="${dgettext('acct_mgr', 'Cancel')}" />
          <input type="submit" name="save" py:if="active != (len(steps) - 1)"
                 title="${dgettext('acct_mgr', 'Drop any changes')}"
                 value="${dgettext('acct_mgr', 'Refresh')}" />
        </div>
      </form>
    </div>
  </body>
</html>
