<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" 
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="acct_mgr">
  <xi:include href="admin.html" />
  <?python
    if _dgettext is not None:
        dgettext = _dgettext ?>
  <head>
    <title>Accounts</title>
    <script type="text/javascript"
            src="${chrome.htdocs_location}js/folding.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        // Compatibility: The prop function doesn't exist before jQuery 1.6
        if(!$.isFunction($.fn.prop)) $.fn.prop = $.fn.attr;
        // Compatibility: The closest function doesn't exist before jQuery 1.3
        if(!$.isFunction($.fn.closest)) $.fn.closest = $.fn.parents;
        // Clear all the checkboxes, to cover the case that the user clicks
        // the Back button in the browser
        $("table.listing input:checkbox").prop("checked", false);
        // Prompt with a confirm dialog when deleting accounts
        var button_pressed;
        $("#manage-accounts div.buttons input").click(function() {
          button_pressed = $(this).attr("name");
        });
        $("#manage-accounts").submit(function() {
          if (button_pressed === "remove")
            return confirm('${delete_msg_confirm}');
        })
        // Disable the submit buttons until at least one checkboxes is checked
        function setButtonsDisabled(state) {
          $("#reset").attr("disabled", state);
          $("#approve").attr("disabled", state);
          $("#remove").attr("disabled", state);
          $("#cleanup").attr("disabled", state);
        }
        setButtonsDisabled(true);
        // Add a group toggler checkbox in the header
        $("table.listing th.sel").html('<input type="checkbox" />').children()
          .click(function() {
            $("td.sel input:checkbox", $(this).closest("table.listing"))
              .prop("checked", this.checked);
            setButtonsDisabled(!this.checked);
          });
        // Toggle the group toggle checkbox and buttons' disable state
        $("table.listing td.sel input:checkbox").click(function() {
          var checkboxes = $("input:checkbox", $(this).closest("tbody"));
          var numChecked = checkboxes.filter(":checked").length;
          var noneChecked = numChecked === 0;
          var allChecked = numChecked === checkboxes.length;
          // Compatibility: the 'indeterminate' can't be set using jQuery's,
          // 'attr' function, so calling 'prop' wouldn't work with the
          // compatibility fix that was put in place for 'prop'
          $("th.sel input:checkbox", $(this).closest("table.listing"))
            .prop("checked", this.checked)
            .each(function() {
              this.indeterminate = !(noneChecked || allChecked);
            });
          setButtonsDisabled(noneChecked);
        });
        // Hide account filter settings by default
        $("fieldset legend.foldable").enableFolding(true);
      })
    </script>
  </head>

  <body>
    <h2>Manage User Accounts</h2>

    <!--! Account property editor -->
    <form id="account-editor" class="addnew" method="post">
      <fieldset>
        <div class="system-message" py:if="editor_error">
          <p>${editor_error}</p>
        </div>
        <div class="notice system-message" py:if="success">
          <p i18n:msg="success">
            Successfully updated: ${', '.join(success)}
          </p>
        </div>

        <legend>Add/Edit Account:</legend>
        <div class="field">
          <label>Username:<br />
            <input type="text" name="username" id="username"
                   class="textwidget" value="${acctmgr.username}" /></label>
          <p class="hint" py:if="ignore_auth_case"> 
            Only lowercase usernames allowed 
          </p> 
        </div>
        <div class="field">
          <label py:choose="">Password:<br />
            <input type="password" name="password" class="textwidget"
                   py:when="create_enabled or password_change_enabled" />
            <input type="password" name="password" class="textwidget"
                   py:otherwise="" disabled="disabled" />
          </label>
        </div>
        <div class="field">
          <label py:choose="">Confirm Password:<br />
            <input type="password" name="password_confirm" class="textwidget"
                   py:when="create_enabled or password_change_enabled" />
            <input type="password" name="password_confirm" class="textwidget"
                   py:otherwise="" disabled="disabled" />
          </label>
        </div>
        <div class="field">
          <label>Pre-/Surname (Nickname):<br />
            <input type="text" name="name" class="textwidget"
                   value="${acctmgr.name}" /></label>
        </div>
        <div class="field">
          <label>Email Address:<br />
            <input type="text" name="email" class="textwidget"
                   value="${acctmgr.email}" /></label><br />
            <label py:if="verify_enabled">
              <input type="checkbox" name="email_approved" value="true"
                     checked="${email_approved and 'checked' or None}" />
              Skip new email verification</label>
        </div>
        <p class="help">Add a new user account or edit an existing one.</p>
        <div class="buttons">
          <input type="submit" name="add"
                 py:if="create_enabled"
                 value="${dgettext('acct_mgr', ' Add ')}" />
          <input type="submit" name="change"
                 value="${dgettext('acct_mgr', ' Change ')}" />
        </div>
      </fieldset>
    </form>

    <py:choose>
    <div class="system-message"
         py:when="not listing_enabled">
      <p>This password store does not support listing users.</p>
    </div>

    <div py:otherwise="">
      <h3>Accounts <span class="trac-count">(${len(accounts)})</span></h3>

      <form id="query" method="get" action="">
        <fieldset id="filters">
          <legend class="foldable">Filters</legend>
          <table summary="Account filters">
            <th scope="row">Status</th>
            <td class="filter">
              <label class="control" py:for="filter in filters">
                <input type="checkbox" name="${filter.name}"
                       checked="${filter.enabled or None}"/> ${filter.label}
              </label>
            </td>
            <td>
              <div class="inlinebuttons">
                <input type="submit" name="update"
                       value="${dgettext('acct_mgr', 'Update')}" />
              </div>
            </td>
          </table>
        </fieldset>
      </form>

      <form id="manage-accounts" method="post">
        <div class="system-message" py:strip="not delete_enabled"
             py:if="deletion_error"><p>${deletion_error}</p></div>

        <!--! Main account list -->
        <xi:include href="user_table.html"/>

        <div class="buttons">
          <input type="submit" id="reset" name="reset"
                 py:if="password_reset_enabled"
                 title="Send another random password"
                 value="${dgettext('acct_mgr', 'Reset passwords')}" />
          <input type="submit" id="approve" name="approve"
                 value="${dgettext('acct_mgr', 'Toggle account approval')}" />
          <input type="submit" id="remove" name="remove"
                 py:if="delete_enabled"
                 value="${dgettext('acct_mgr',
                                   'Remove selected accounts')}" />
          <input type="submit" id="cleanup" name="cleanup"
                 py:if="req.perm.has_permission('ACCTMGR_ADMIN')"
                 value="${dgettext('acct_mgr',
                                   'Review account attributes')}" />
        </div>
      </form>
    </div>

    </py:choose>
  </body>
</html>
