<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="tag_layout.html" />
  <div id="tag_content">
    <ul class="tagcloud">
      <li py:for="index, (tag, count, href) in enumerate(tags)"
          class="${index == len(tags) and 'last' or None}">
        <a rel="tag" style="font-size: ${smallest + int(count * scale)}px"
            href="${href}">
          ${tag}
        </a>
      </li>
    </ul>
  </div>
</html>
