<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>一般</title>
  </head>
  <body>

    <table>
      <tr class="field">
        <th><label for="name">全名:</label></th>
        <td><input type="text" id="name" name="name" size="30"
            value="${settings.session.get('name')}" /></td>
      </tr>
      <tr class="field">
        <th><label for="email">Email地址:</label></th>
        <td><input type="text" id="email" name="email" size="30"
            value="${settings.session.get('email')}" /></td>
      </tr>
    </table>
    <p py:choose="" class="hint">
      <py:when test="req.authname == 'anonymous'">
        该信息用于在这个站点上的一些表单中自动发布你的联系方式.
      </py:when>
      <py:otherwise>
        该信息用于将你的登录名关联到邮件地址和全名, 例如: 用于邮件通知和RSS中.
      </py:otherwise>
    </p>

  </body>
</html>
