<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>键盘快捷键</title>
  </head>
  <body>

    <div class="field">
      <input type="hidden" name="accesskeys_cb" value="" />
      <label>
        <input type="checkbox" name="accesskeys" value="1"
               checked="${settings.session.get('accesskeys') or None}" />
        启用快捷键
      </label>
      <p class="hint">该站点提供快捷键用于更加快速访问这个站点的某些功能.
	  由于这些快捷键可能与桌面系统或者浏览器本身冲突,
	  默认这些快捷键是没有启用的. 参见
      <a href="${href.wiki('TracAccessibility')}">TracAccessibility</a>
      辅助按键的更多信息.</p>
    </div>

  </body>
</html>
