<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>语言</title>
  </head>
  <body>

    <div class="field" py:with="session_language = settings.session.get('language')">
      <label>语言:
      <select name="language">
        <option>缺省语言</option>
        <option py:for="locale, language in languages"
                selected="${session_language == locale or None}"
                value="$locale">$language</option>
      </select></label>
      <p class="hint">配置你的语言将导致此站点上的所有文本使用你设置的语言, 
	  而不是服务器上的设置.</p>

      <p class="hint">
        例如: 
        <br />
        在 ${session_language and 'your' or '缺省'} 语言中, 这将显示为
        <strong>${session_language}</strong>.
      </p>

    </div>

  </body>
</html>
