<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Trac and SVN Disk usage</title>
	</head>

	<body>
	    <h2>Trac Disk usage</h2>
	    This Project usage is ${trac_disk_usage} bytes
	    <h2>SVN Disk usage</h2>
	    This Project usage is ${svn_disk_usage} bytes
	</body>
</html>

