<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>PlanetForge Exporter</title>
  </head>

  <body>
    <h2>PlanetForge Exporter</h2>

<p>Based on <a href="http://trac-hacks.org/wiki/PlanetForgeImportExportPlugin">PlanetForge import/export plugin</a> r10782.</p>

<py:if test="action == 'report'">
<h3> Exportable items : </h3>

  <form action="." method="get">
    <input type="hidden" name="action" value="export"> </input>
    <dt>
      <input type="checkbox" name="wiki" py:attrs="checked.wiki"> <strong>Wiki</strong> (${count.wiki} pages) </input>
    </dt>
    <dt>
      <input type="checkbox" name="ticket" py:attrs="checked.ticket"> <strong>Tickets</strong> (${count.ticket} tickets, ${count.ticket_change} comments) </input>
    </dt>
    <dt>
      <input type="checkbox" name="attachment" py:attrs="checked.attachment"> <strong>Attachements</strong> (${count.attachment} files, ${count.attachment_size} kiB) </input>
    </dt>
    <dt>
      <input type="checkbox" name="session" py:attrs="checked.session"> <strong>Users</strong> (${count.session} authenticated distinct sessions) </input>
    </dt>
    <dt>
      <input type="checkbox" name="component" py:attrs="checked.component"> <strong>Components</strong> (${count.component}) </input>
    </dt>
    <dt>
      <input type="checkbox" name="milestone" py:attrs="checked.milestone"> <strong>Milestones</strong> (${count.milestone}) </input>
    </dt>
    <dt>
      <input type="checkbox" name="permission" py:attrs="checked.permission"> <strong>Permissions</strong> (${count.permission} rules) </input>
    </dt>
 
    <p></p>
    <dt>
      <input type="checkbox" name="debug" py:attrs="checked.debug"> <strong>Debug mode</strong> : dump metadata on this web page</input>
    </dt>

    <p></p>
    <input type="submit" value=" Export "> </input>
  </form>
</py:if>


<py:if test="action == 'debug'">
<h3> Export metadata dump : </h3>

<pre>${dump}</pre>
</py:if>

  </body>

</html>
