<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>PlanetForge Exporter</title>
  </head>

  <body>
    <h2>PlanetForge Exporter</h2>

<p>Based on <a href="http://trac-hacks.org/wiki/PlanetForgeImportExportPlugin">PlanetForge import/export plugin</a> r10744.</p>

<py:if test="action == 'report'">
<h3> Exportable items : </h3>

  <FORM action="." method="get">
    <INPUT type="hidden" name="action" value="export"> </INPUT>
    <DT>
      <INPUT type="checkbox" name="wiki" py:attrs="checked.wiki"> <STRONG>Wiki</STRONG> (${count.wiki} pages) </INPUT>
    </DT>
    <DT>
      <INPUT type="checkbox" name="ticket" py:attrs="checked.ticket"> <STRONG>Tickets</STRONG> (${count.ticket} tickets, ${count.ticket_change} comments) </INPUT>
    </DT>
    <DT>
      <INPUT type="checkbox" name="attachement" py:attrs="checked.attachment"> <STRONG>Attachements</STRONG> (${count.attachment} files, ${count.attachment_size} kiB) </INPUT>
    </DT>
    <DT>
      <INPUT type="checkbox" name="session" py:attrs="checked.session"> <STRONG>Users</STRONG> (${count.session} authenticated distinct sessions) </INPUT>
    </DT>
    <DT>
      <INPUT type="checkbox" name="component" py:attrs="checked.component"> <STRONG>Components</STRONG> (${count.component}) </INPUT>
    </DT>
    <DT>
      <INPUT type="checkbox" name="milestone" py:attrs="checked.milestone"> <STRONG>Milestones</STRONG> (${count.milestone}) </INPUT>
    </DT>
    <DT>
      <INPUT type="checkbox" name="permission" py:attrs="checked.permission"> <STRONG>Permissions</STRONG> (${count.permission} rules) </INPUT>
    </DT>
    
    <INPUT type="submit" value=" Export "> </INPUT>
  </FORM>
</py:if>


<py:if test="action == 'export'">
<h3> Export dump : </h3>

<pre>${dump}</pre>
</py:if>

  </body>

</html>
