<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>PlanetForge Importer</title>
  </head>

  <body>
    <h2>PlanetForge Importer</h2>

<p>Based on <a href="http://trac-hacks.org/wiki/PlanetForgeImportExportPlugin">PlanetForge import/export plugin</a> r10782.</p>

<py:if test="action == 'upload'">
<h3> Available project dumps </h3>

<table class="listing" id="projlist">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uploaded</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr py:for="file in files">
      <td><a href="?file=${file.name}">${file.name}</a></td>
      <td>${dateinfo(file.date)} ago</td>
      <td>${pretty_size(file.size)}</td>
    </tr>
  </tbody>
</table>

<h3> Upload a new project dump </h3>

<form id="upload" method="post" enctype="multipart/form-data" action="">
  <div class="field">
    <label>File (size limit ${pretty_size(max_size)}):<br /><input type="file" name="project" /></label>
  </div>
  <div class="buttons">
    <input type="submit" value="Upload" />
  </div>
</form>
</py:if>


<py:if test="action == 'preview'">
<h3> Details for project dump ${file} </h3>

<table class="listing" id="projlist">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr py:for="info in infos">
      <td>${info[0]}</td>
      <td>${info[1]}</td>
    </tr>
  </tbody>
</table>

<p></p>
<form id="import" action="" method="post">
  <input type="hidden" name="action" value="import"> </input>
  <input type="hidden" name="file" value="${file}"> </input>
  <dt>
    <input type="checkbox" name="preserve" checked="checked"> Preserve your currently logged in account </input>
  </dt>
  <dt>
    <input type="checkbox" name="reset"> Reset this Trac instance first, don't merge artefacts (<strong>THINK TWICE !</strong>) </input>
  </dt>
  
  <input type="submit" value=" Import "> </input>
</form>
</py:if>


<py:if test="action == 'import'">
<h3> Import result for ${file} </h3>

<ul py:for="s in status">
  <li>${s} : ${status[s]}</li>
</ul>
</py:if>

  </body>
</html>

