<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>PlanetForge Importer</title>
  </head>

  <body>
    <h2>PlanetForge Importer</h2>

<p>Based on <a href="http://trac-hacks.org/wiki/PlanetForgeImportExportPlugin">PlanetForge import/export plugin</a> r10744.</p>

<p>To be implemented.</p>

  </body>

</html>
