/*
 * These styles are adapted from the standard report.css in Trac.
 * The border-color is a medium-dark gray so that tasks are more visible.
 */

div.ticket-class1 { 
  background-color: #fdc; 
  border: 1px;
  border-color: #949494;
  border-style: solid;
  color: #a22;
}

div.ticket-class2 { 
  background-color: #ffb; 
  border: 1px;
  border-color: #949494;
  border-style: solid;
  color: #880;
}

div.ticket-class3 {
  background-color: #fbfbfb;
  border: 1px;
  border-color: #949494;
  border-style: solid;
  color: #444;
}

div.ticket-class4 {
  background-color: #e7ffff;
  border: 1px;
  border-color: #949494;
  border-style: solid;
  color: #099;
}

div.ticket-class5 {
  background-color: #e7eeff;
  border: 1px;
  border-color: #949494;
  border-style: solid;
  color: #469;
}

div.ticket-class6 {
  background-color: #f0f0f0;
  border: 1px;
  border-color: #949494;
  border-style: solid;
  color: #888;
}

