@media screen{

#banner {
    position: fixed;
	width: 99%;
	background-color: #ffffff;
	z-index: 99;
    top: 0;
	left: 0;
    padding: .5em .5em 5em .5em;
	clear: both;
}

#mainnav {
    position:fixed;
	width: 99%;
	z-index:102;
	clear: both;
}

#pagepath, #ctxtnav {
    position: fixed;
}

#ctxtnav {
	width: 99%;
	z-index:100;
	left: 0;
	padding: 2.5em .5em 0 .5em;
}

#pagepath{
	z-index:101;
	padding: 3.5em 0.5em;
}

 #warning, #content, #altlinks, #footer, #notice {
	position: relative;
}
}