<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Debugger</title>
    <script type="text/javascript">
      $(document).ready(function() {
        $("div.vars").initTree("${href.developer('debug')}");
        if (!$("#context input:checked").length) {
          $("#context dt, #context dd").not(".highlight").hide();
        }
        $("#context :checkbox").click(function() {
          $("#context dt, #context dd").not(".highlight").toggle()
        });
      });
    </script>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="debug">
      <h1>Debugger</h1>
      <input type="hidden" id="token" name="token" value="$token" />

      <div class="tab">
        <h2>Template Context</h2>
        <div id="context" class="vars">
          <label><input type="checkbox" /> Show chrome data</label>
          <xi:include href="debug_node.html" py:with="node=context" />
        </div>
      </div>

    </div>
  </body>
</html>
