table {
    border-top: solid;
    border-bottom: solid;
}

thead, th {
    font-weight: bold;
    border-bottom: thin solid;
}

th, td {
    padding: 2px 0.5em;
    white-space: nowrap;
}

th.comment, th.summary, th.changes {
    text-align: left;
}

td.comment, th.summary {
    width: 100%;
}

td.version, td.commentnum, td.id {
    text-align: center;
}

span.notifyon {
    color:green;
}

span.notifyoff {
    color:red;
}

