table {
    border-bottom: medium solid;
    border-top: medium solid;
    width: 100%;
    table-layout: auto;
}

thead, th {
    border-bottom: thin solid;
    font-weight: bold;
}

th, td {
    padding: 2px 0.5em;
    white-space: nowrap;
}

th.comment, th.changes {
    text-align: left;
}

table.wikilist td.comment {
    width: 100%;
    white-space: normal;
}

table.ticketlist td.comment, table.ticketlist td.changes {
    white-space: normal;
}

td.version, td.commentnum, td.id, td.notify, td.unwatch, td.diff, td.history {
    text-align: center;
}

th.version, th.datetime, th.author, th.commentnum, th.id, th.notify, th.unwatch, th.diff, th.history,
td.version, td.datetime, td.author, td.commentnum, td.id, td.notify, td.unwatch, td.diff, td.history {
   /* Hold width minimal */
    width: 1%;
}

span.notifyon {
    color:green;
}

span.notifyoff {
    color:red;
}

td.unwatch img {
  position: relative;
  top: 2pt;
}

a.plainlink:link, a.plainlink:visited,
a.plainlink:link:hover, a.plainlink:visited:hover {
  background-color: none;
  color: none;
  text-decoration: none;
  border: none;
}

