table {
    border-bottom: medium solid;
    border-top: medium solid;
    width: 100%;
    table-layout: auto;
}

thead, th {
    border-bottom: thin solid;
    font-weight: bold;
}

th, td {
    padding: 2px 0.5em;
    white-space: nowrap;
}

th.comment, th.changes {
    text-align: left;
}

table.wikilist td.comment {
    width: 100%;
    white-space: normal;
}

table.ticketlist td.comment, table.ticketlist td.changes {
    white-space: normal;
}

td.version, td.commentnum, td.id, td.notify, td.unwatch {
    text-align: center;
}

span.notifyon {
    color:green;
}

span.notifyoff {
    color:red;
}

.plainlink :link, .plainlink :visited,
.plainlink :link:hover, .plainlink :visited:hover {
  background-color: none;
  color: none;
  text-decoration: none;
  border: none;
}

