<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="discussion-macros.html"/>
  <xi:include href="layout.html"/>
  <head>
    <title>Move Topic</title>
  </head>

  <body>
    <xi:include href="discussion-header.html"/>

    <div id="content" class="discussion">
      <div id="${discussion.mode}" class="${discussion.mode}">

        <h1>Move Topic</h1>

        <form class="move_form" method="post" action="${href.discussion('topic', discussion.topic.id)}">
          <fieldset>

            <legend>
              Move Topic:
            </legend>

            <div class="field">
              <label for="new_forum">Forum:</label><br/>
              <select name="new_forum">
                <py:choose py:for="forum in discussion.forums">
                  <option py:when="discussion.topic.forum == forum.id" value="${forum.id}" selected="selected">${forum.name}</option>
                  <option py:otherwise="" value="${forum.id}">${forum.name}</option>
                </py:choose>
              </select><br/>
            </div>

            <div class="buttons">
              <input type="submit" name="submit" value="Submit"/>
              <input type="submit" name="cancel" value="Cancel"/>
              <input type="hidden" name="discussion_action" value="post-move"/>
            </div>

          </fieldset>
        </form>

      </div>
    </div>

    <xi:include href="discussion-footer.html"/>
  </body>
</html>
