<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="discussion-macros.html"/>
  <xi:include href="layout.html"/>
  <head>
    <title>Topic List</title>
  </head>

  <?python
    from trac.wiki.formatter import format_to_oneliner, format_to_html
    from trac.util.datefmt import format_datetime, pretty_timedelta
    from tracdiscussion.api import format_to_oneliner_no_links
  ?>

  <body>
    <xi:include href="discussion-header.html"/>

    <div id="content" class="discussion">
      <div id="${discussion.mode}" class="${discussion.mode}">

        <h1>${format_to_oneliner(discussion.env, context, discussion.forum.name)} (#${discussion.forum.id}) - Topic List</h1>
        <h2>${format_to_oneliner(discussion.env, context, discussion.forum.subject)}</h2>
        <p>${format_to_html(discussion.env, context, discussion.forum.description)}</p>

        <py:choose>
          <table py:when="len(discussion.topics)" class="listing">
            <thead>
              <tr>
                ${sortable_th(discussion.order, discussion.desc, 'id', 'ID', href.discussion('forum', discussion.forum.id))}
                ${sortable_th(discussion.order, discussion.desc, 'subject', 'Subject', href.discussion('forum', discussion.forum.id))}
                ${sortable_th(discussion.order, discussion.desc, 'author', 'Author', href.discussion('forum', discussion.forum.id))}
                ${sortable_th(discussion.order, discussion.desc, 'lastreply', 'Last Reply', href.discussion('forum', discussion.forum.id))}
                ${sortable_th(discussion.order, discussion.desc, 'time', 'Founded', href.discussion('forum', discussion.forum.id))}
                ${sortable_th(discussion.order, discussion.desc, 'replies', 'Replies', href.discussion('forum', discussion.forum.id))}
                <th class="new_replies">New Replies</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="line, topic in enumerate(discussion.topics)" class="${line % 2 and 'even' or 'odd'}">
                <td class="id">
                  <div class="id">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>${topic.id}</span>
                    </a>
                  </div>
                </td>
                <td class="subject">
                  <div class="subject">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>${format_to_oneliner_no_links(discussion.env, context, topic.subject) or '&nbsp;'}</span>
                    </a>
                  </div>
                </td>
                <td class="author">
                  <div class="author">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>${format_to_oneliner_no_links(discussion.env, context, topic.author) or '&nbsp;'}</span>
                    </a>
                  </div>
                </td>
                <td class="lastreply">
                  <div class="lastreply">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>
                        ${topic.lastreply and format_datetime(topic.lastreply) or 'no replies'}<br/>
                        ${topic.lastreply and pretty_timedelta(topic.lastreply) + ' ago' or ''}
                      </span>
                    </a>
                  </div>
                </td>
                <td class="founded">
                  <div class="founded">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>
                        ${format_datetime(topic.time)}<br/>
                        ${pretty_timedelta(topic.time) + ' ago'}
                      </span>
                    </a>
                  </div>
                </td>
                <td class="replies">
                  <div class="replies">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>${topic.replies or '0'}</span>
                    </a>
                  </div>
                </td>
                <td class="new_replies">
                  <div class="new_replies">
                    <a href="${href.discussion('topic', topic.id)}">
                      <span>${topic.new_replies or '0'}</span>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p py:otherwise="" class="help">There are no topics created in this forum.</p>
        </py:choose>

        <div class="buttons">
          <form py:if="'DISCUSSION_APPEND' in perm" method="post" action="${href.discussion('forum', discussion.forum.id)}">
            <div>
              <input type="submit" name="newtopic" value="New Topic"/>
              <input type="hidden" name="forum" value="${discussion.forum.id}"/>
              <input type="hidden" name="discussion_action" value="add"/>
            </div>
          </form>
          <form py:if="'DISCUSSION_ADMIN' in perm" method="post" action="${href.discussion()}">
            <div>
              <input type="submit" name="deleteforum" value="Delete Forum" onclick="return confirm('Do you realy want to delete this forum?')"/>
              <input type="hidden" name="forum" value="${discussion.forum.id}"/>
              <input type="hidden" name="discussion_action" value="delete"/>
            </div>
          </form>
        </div>

      </div>
    </div>

    <xi:include href="discussion-footer.html"/>
  </body>
</html>
