<html xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <?python
    from trac.wiki.formatter import format_to_oneliner, format_to_html
    from trac.util.datefmt import format_datetime, pretty_timedelta
    from tracdiscussion.api import format_to_oneliner_no_links
  ?>

  <py:def function="sortable_th(order, desc, Class, title, href)">
    <th class="${Class}${order == Class and (desc and ' desc' or ' asc') or ''}">
      <a title="Sort by ${Class}${(order == Class and desc) and ' (descending)' or ''}" href="${href}?order=${Class}&amp;desc=${(Class == order and desc) and '0' or '1'}">
        $title
      </a>
    </th>
  </py:def>

  <py:def function="display_discussion(discussion, href)">
    <py:with vars="is_topic_edit = not req.args.message and (req.args.discussion_action in ('edit', 'post-edit')) and not req.args.submit;
                   is_topic_add = not req.args.message and (req.args.discussion_action in ('add', 'quote', 'post-add')) and not req.args.submit">
      <div class="topic ${(discussion.topic.time > discussion.visit_time) and 'new' or None}">
        <a name="topic"></a>
        <div class="header" py:choose="">
          <py:when test="is_topic_edit">
            <a name="preview"></a>
            <div class="subject">
              ${format_to_oneliner(discussion.env, context, req.args.subject) or '&nbsp;'}
            </div>
            <div class="body">
              ${format_to_html(discussion.env, context, req.args.body) or '&nbsp;'}
            </div>
          </py:when>
          <py:otherwise>
            <div class="subject">
              ${format_to_oneliner(discussion.env, context, discussion.topic.subject) or '&nbsp;'}
            </div>
            <div class="body">
              ${format_to_html(discussion.env, context, discussion.topic.body) or '&nbsp;'}
            </div>
          </py:otherwise>
        </div>

        <div class="controls">
          <py:if test="'DISCUSSION_APPEND' in perm">
            <a href="${href}?discussion_action=add;#topic">Reply</a>
            <a href="${href}?discussion_action=quote;#topic">Quote</a>
            <a py:if="('DISCUSSION_MODERATE' in perm and discussion.moderator) or ((discussion.authname == discussion.topic.author) and (discussion.authname != 'anonymous'))" href="${href}?discussion_action=edit;#topic">Edit</a>
          </py:if>
        </div>

        <div class="footer">
          <div class="author">
            ${format_to_oneliner_no_links(discussion.env, context, format_author(discussion.topic.author))}
          </div>
          <div class="time">
            ${format_datetime(discussion.topic.time)} (${pretty_timedelta(discussion.topic.time)} ago)
          </div>
        </div>

        <py:if test="is_topic_edit">
          ${display_form(href, 'Edit:', 'edit_form', 'post-edit')}
        </py:if>
      </div>

      <div class="replies ${(discussion.topic.time > discussion.visit_time) and 'new' or None}">

        <py:if test="len(discussion.messages)">
          ${display_set_display(href)}
        </py:if>

        <ul py:if="len(discussion.messages) or is_topic_add" class="reply">
          <py:if test="len(discussion.messages)">
            ${display_messages(href, discussion.messages)}
          </py:if>

          <py:if test="is_topic_add">
            ${display_preview()}
            <li>
              ${display_form(href, 'Reply:', 'add_form', 'post-add')}
            </li>
          </py:if>
          <li></li>
        </ul>

        <py:if test="len(discussion.messages)">
          ${display_set_display(href)}
        </py:if>

        <xi:include py:with="paginator = discussion.paginator" href="page_index.html" />

        <a name="subscriptions"></a>
        <div class="subscriptions">
          <h3>Subscriptions</h3>
          <form method="post" action="${href}">
            <py:choose>
              <py:when test="('DISCUSSION_MODERATE' in perm and discussion.moderator)">
                <input type="text" name="subscribers" value="${' '.join(discussion.topic.subscribers)}"/>
                <input type="submit" name="editsubscribers" value="Edit subscribers"/>
                <input type="hidden" name="discussion_action" value="subscriptions-post-edit"/>
              </py:when>
              <py:otherwise>
                <input type="text" name="subscribers" value=""/>
                <input type="submit" name="addsubscribers" value="Add subscribers"/>
                <input type="hidden" name="discussion_action" value="subscriptions-post-add"/>
              </py:otherwise>
            </py:choose>
          </form>
          <form py:if="discussion.authemail" method="post" action="${href}">
            <py:choose>
              <py:when test="discussion.topic_subscriber">
                <input type="submit" value="Unsubscribe"/>
                <input type="hidden" name="discussion_action" value="unsubscribe"/>
              </py:when>
              <py:otherwise>
                <input type="submit" value="Subscribe"/>
                <input type="hidden" name="discussion_action" value="subscribe"/>
              </py:otherwise>
            </py:choose>
          </form>
        </div>

        <div class="attachments">
          ${list_of_attachments(discussion.attachments, compact = True)}
          ${attach_file_form(discussion.attachments)}
        </div>

      </div>
    </py:with>
  </py:def>

  <py:def function="display_form(href, title, Class, action)">
    <form class="${Class}" method="post" action="${href}#${discussion.message.id and ('message' + unicode(discussion.message.id)) or 'topic'}">
      <fieldset>
        <legend>
          ${title}
        </legend>

        <div class="field">
          <label for="author">Author:</label><br/>
          <py:choose>
            <input py:when="req.authname == 'anonymous'" type="text" id="author" name="author" value="${format_author(req.args.author or req.authname)}"/>
            <input py:otherwise="" type="text" id="author" name="author" value="${format_author(req.authname)}" readonly="readonly"/>
          </py:choose><br/>
        </div>

        <div py:if="is_topic_edit" class="field">
          <label for="subject">Subject:</label><br/>
          <py:choose>
            <input py:when="discussion.realm == 'discussion-wiki'" type="text" id="subject" name="subject" value="${req.args.subject}" readonly="readonly"/>
            <input py:otherwise="" type="text" id="subject" name="subject" value="${req.args.subject}"/>
          </py:choose><br/>
        </div>

        <div class="field">
          <label for="body">Body:</label><br/>
          <textarea id="body" class="wikitext" name="body" cols="80" rows="20">${req.args.body or 'Enter your message here...'}</textarea>
        </div>

        <div class="buttons">
          <input type="submit" name="preview" value="Preview"/>
          <input type="submit" name="submit" value="Submit changes"/>
          <input type="button" name="cancel" value="Cancel" onclick="location.replace('${href}')"/>
        </div>

        <input py:if="req.args.message" type="hidden" name="message" value="${req.args.message}"/>
        <input type="hidden" name="discussion_action" value="${action}"/>
      </fieldset>
    </form>
  </py:def>

  <py:def function="display_preview()">
    <li py:if="req.args.preview" class="preview">
      <div class="id">
        Message #??
      </div>
      <div class="body">
        ${format_to_html(discussion.env, context, req.args.body or '&nbsp;')}
      </div>
      <div class="footer">
        <div class="author">
          ${format_author(req.authname)}
        </div>
        <div class="time">
          ${format_datetime(discussion.time)} (${pretty_timedelta(discussion.time)} ago)
        </div>
      </div>
    </li>
  </py:def>

  <py:def function="display_set_display(href)">
    <div class="set-display">
      <a py:strip="discussion.display == 'tree'" href="${href}?discussion_action=set-display;display=tree#topic">Tree View</a>
      <a py:strip="discussion.display == 'flat-desc'" href="${href}?discussion_action=set-display;display=flat-desc#topic">Flat View (newer first)</a>
      <a py:strip="discussion.display == 'flat-asc'" href="${href}?discussion_action=set-display;display=flat-asc#topic">Flat View (older first)</a>
    </div>
  </py:def>

  <py:def function="display_messages(href, messages)">
    <li py:for="message in messages" class="${(message.time > discussion.visit_time) and 'new' or None}">
      <py:with vars="is_message_edit = (str(req.args.message) == str(message.id)) and (req.args.discussion_action in ('edit', 'post-edit')) and not req.args.submit;">
        <a name="message${message.id}"></a>
        <div class="id">
          Message #${message.id}
        </div>

        <a py:if="is_message_edit" name="preview"></a>
        <div class="body" py:choose="">
          <py:when test="is_message_edit">
            ${format_to_html(discussion.env, context, req.args.body or '&nbsp;')}
          </py:when>
          <py:otherwise>
            ${format_to_html(discussion.env, context, message.body or '&nbsp;')}
          </py:otherwise>
        </div>

        <div class="controls">
          <py:if test="'DISCUSSION_APPEND' in perm">
            <a href="${href}?discussion_action=add;message=${message.id}#message${message.id}">Reply</a>
            <a href="${href}?discussion_action=quote;message=${message.id}#message${message.id}">Quote</a>
            <a py:if="('DISCUSSION_MODERATE' in perm and discussion.moderator) or ((discussion.authname == message.author) and (discussion.authname != 'anonymous'))" href="${href}?discussion_action=edit;message=${message.id}#message${message.id}">Edit</a>
          </py:if>
          <a py:if="'DISCUSSION_MODERATE' in perm and discussion.moderator" href="${href}?discussion_action=delete;message=${message.id}#${message.replyto == -1 and 'topic' or ('message' + unicode(message.replyto))}" onclick="return confirm('Do you realy want to delete this reply and all its descendants?')">Delete</a>
        </div>

        <div class="footer">
          <div class="author">
            ${format_author(is_message_edit and discussion.author or message.author)}
          </div>
          <div class="time">
            ${is_message_edit and format_datetime(discussion.time) or format_datetime(message.time)} (${is_message_edit and pretty_timedelta(discussion.time) or pretty_timedelta(message.time)} ago)
          </div>
        </div>
      </py:with>

      <ul class="reply">
        <py:if test="(str(req.args.message) == str(message.id)) and (not req.args.submit)">
          <py:if test="req.args.discussion_action in ('add', 'quote', 'post-add')">
            ${display_preview()}
            <li>
              ${display_form(href, 'Reply:', 'add_form', 'post-add')}
            </li>
          </py:if>

          <py:if test="req.args.discussion_action in ('edit', 'post-edit')">
            <li>
              ${display_form(href, 'Edit:', 'edit_form', 'post-edit')}
            </li>
          </py:if>
        </py:if>

        <py:if test="message.replies and len(message.replies)">
          ${display_messages(href, message.replies)}
        </py:if>
        <li></li>
      </ul>

    </li>
  </py:def>

</html>
