<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="discussion-macros.html"/>
  <xi:include href="layout.html"/>
  <head>
    <title>Add Topic</title>
  </head>

  <?python
    from trac.wiki.formatter import format_to_oneliner, format_to_html
    from trac.util.datefmt import format_datetime, pretty_timedelta
  ?>

  <body>
    <xi:include href="discussion-header.html"/>

    <div id="content" class="discussion">
      <div id="${discussion.mode}" class="${discussion.mode}">

        <h1>Add Topic</h1>

        <div py:if="req.args.preview" class="message-list">
          <div class="topic">
            <div class="header">
              <div class="subject">
                ${req.args.subject and format_to_oneliner(discussion.env,
                  context, req.args.subject) or '&nbsp;'}
              </div>
              <div class="body">
                ${req.args.body and format_to_html(discussion.env, context,
                  req.args.body) or '&nbsp;'}
              </div>
              <div class="footer">
                <div class="author">
                  ${format_to_oneliner(discussion.env, context, format_author(
                    req.args.author))}
                </div>
                <div class="time">
                  ${format_datetime(discussion.time)} (${pretty_timedelta(
                    discussion.time)} ago)
                </div>
              </div>
            </div>
          </div>
        </div>

        <form class="add_form" method="post" action="${href.discussion('forum', discussion.forum.id)}">
          <fieldset>

            <legend>
              Add Topic
            </legend>

            <div class="field">
              <label for="author">Author:</label><br/>
              <py:choose>
                <input py:when="req.authname == 'anonymous'" type="text" id="author" name="author" value="${format_author(req.args.author or req.authname)}"/>
                <input py:otherwise="" type="text" id="author" name="author" value="${format_author(req.authname)}" readonly="readonly"/>
              </py:choose><br/>
            </div>

            <div class="field">
              <label for="subject">Subject:</label><br/>
              <input type="text" id="subject" name="subject" value="${req.args.subject}"/><br/>
            </div>

            <div class="field">
              <label for="body">Body:</label><br/>
              <py:choose>
                <py:when test="req.args.preview">
                  <textarea id="body" class="wikitext" name="body" cols="80" rows="20">${req.args.body}</textarea><br/>
                </py:when>
                <py:otherwise>
                  <textarea id="body" class="wikitext" name="body" cols="80" rows="20">Enter your message here...</textarea><br/>
                </py:otherwise>
              </py:choose>
            </div>

            <div class="field">
              <label for="subscribers">Subscribers:</label><br/>
              <py:choose>
                <select py:when="len(discussion.users) > 0 and 7 > len(discussion.users)" id="subscribers" name="subscribers" multiple="on">
                  <option py:for="user in discussion.users" value="${user}">${user}</option>
                </select>
                <select py:when="len(discussion.users) > 6" id="subscribers" name="subscribers" size="6" multiple="on">
                  <option py:for="user in discussion.users" value="${user}">${user}</option>
                </select>
              </py:choose><br/>
            </div>

            <div class="field">
              <label for="unregistered_subscribers">Unregistered subscribers
                (e-mails):</label>
              <br/>
              <input type="text" id="unregistered_subscribers"
                name="unregistered_subscribers">
                ${req.args.unregistered_subscribers}</input>
              <br/>
            </div>

            <div py:if="discussion.authemail" class="field">
              <label for="subscribe">
                <input py:if="req.args.subscribe" type="checkbox" id="subscribe"
                  name="subscribe" checked="yes" value="1"
                  onchange="subscription_select('${req.authname}',
                  this.checked);"/>
                <input py:if="not req.args.subscribe" type="checkbox"
                  id="subscribe" name="subscribe" value="0"
                  onchange="subscription_select('${req.authname}',
                  this.checked);"/>
                Subscribe to topic.
              </label><br/>
            </div>

            <div py:if="discussion.moderator" class="field">
              <label for="important">
                <input py:if="req.args.important" type="checkbox" id="important" name="important" checked="yes" value="1"/>
                <input py:if="not req.args.important" type="checkbox" id="important" name="important" value="0"/>
                Make topic important (listed at the top).
              </label><br/>
            </div>

            <div class="buttons">
              <input type="submit" name="preview" value="Preview"/>
              <input type="submit" name="submit" value="Submit"/>
              <input type="button" name="cancel" value="Cancel" onclick="location.href = '${href.discussion('forum', discussion.forum.id)}'"/>
              <input type="hidden" name="discussion_action" value="post-add"/>
            </div>

          </fieldset>
        </form>

      </div>
    </div>

    <xi:include href="discussion-footer.html"/>
  </body>
</html>
