@CHARSET "UTF-8";

#backlog {
  list-style-type: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0 0 20px 0;
}
#backlog li {
  padding: 0.1em 0.1em 0.1em 0.1em;
  border-bottom: 1px solid gray;
  margin: 1px;
}
#backlog li td {
  padding-left: 2px;
  border-left: 1px solid gray;
}
#backlog li table {
  padding-right: 2px;
  margin: 0;
  border-right: 1px solid gray;
}

#backloghdr {
  list-style-type: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
}
#backloghdr li {
  padding: 0.3em 0.1em 0.3em 0.1em;
  background: rgb(200,200,200);
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin: 1px;
}
#backloghdr li th {
  padding-left: 2px;
  border-left: 1px solid gray;
  font-weight: bold;
}
#backloghdr li table {
  padding-right: 2px;
  margin: 0;
  border-right: 1px solid gray;
}

#notbacklog {
  list-style-type: none;
  margin: 0px;
  margin-left: 0px;
  padding: 0 0 20px 0;
}
#notbacklog li {
  padding: 0.1em 0.1em 0.1em 0.1em;
  border-bottom: 1px solid gray;
  margin: 1px;
}
#notbacklog li td {
  padding-left: 2px;
  border-left: 1px solid gray;
}
#notbacklog li table {
  padding-right: 2px;
  margin: 0;
  border-right: 1px solid gray;
}

.ticket_new {
  background: rgb(255,255,170);
}
.ticket_reopened {
  background: rgb(255,255,170);
}
.ticket_assigned {
  background: rgb(220,255,200);
}
.ticket_accepted {
  background: rgb(180,255,180);
}
.ticket_closed {
  background: rgb(240,240,240);
}
.ticket_closed table td {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
}
.hard_deadline {
  background: white;
  color: black;
  border: 1px solid red;
}

.progressbar {
  border: 1px solid gray;
  background: rgb(180,255,180);
  width: 500px;
  height: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.progressbar_closed {
  background: rgb(180,180,180);
  height: 100%;
  margin: 0;
  padding: 0;
}
.progressbar_new {
  background: rgb(250,250,100);
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0
}
.toplistdiv {
  position: relative;
}
.toplist {
  position: relative;
  top: 20px;
  padding: 20px;
}
.submit_form {
  position: absolute;
  width: 400px;
  left: 40%;
  float: left;
}

.bottomlist {
  padding: 20px;
}

.backlog_description {
  font-size: 80%;
  font-style: italic;
  color: rgb(50,50,50);
}

