<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Import/Export Excel</title>
  </head>

  <body>
    <h2>Import/Export Excel</h2>
      <form method="POST">
        <fieldset>
            <legend>Configuration</legend>
            <table class="listing" id="cflist">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Label</th>
                  <th>Excel Type</th>
                  <th>Exportable</th>
                  <th>Importable</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="fd in defaultfields">
                  <td>${fd.name}</td>
                  <td>${fd.label}</td>
                  <td>${fieldsFormat[fd.name]}</td>
                  <td>
                    <py:choose test="">
                      <input py:when="fd.name in exportForced" checked="checked" disabled="disabled" name="${fd.name}.export" type="checkbox" value="True" />
                      <input py:when="fieldsExport[fd.name] == True" checked="checked" name="${fd.name}.export" type="checkbox" value="True" />
                      <input py:otherwise="" name="${fd.name}.export" type="checkbox" value="True" />
                    </py:choose>
                  </td>
                  <td>
                    <py:choose test="">
                      <input py:when="fd.name in importForbidden" disabled="disabled" name="${fd.name}.import" type="checkbox" value="True" />
                      <input py:when="fieldsImport[fd.name] == True" checked="checked" name="${fd.name}.import" type="checkbox" value="True" />
                      <input py:otherwise="" name="${fd.name}.import" type="checkbox" value="True" />
                    </py:choose>
                  </td>
                </tr>
                <tr py:for="cf in customfields">
                  <td>${cf.name}</td>
                  <td>${cf.label}</td>
                  <td>
                    <select name="${cf.name}.format">
                      <py:for each="fmt in formats">
                        <py:choose test="">
                          <py:when test="fieldsFormat[cf.name] == fmt">
                            <option selected='selected' label="${fmt}" value="${fmt}" />
                          </py:when>
                          <py:otherwise>
                            <option label="${fmt}" value="${fmt}" />
                          </py:otherwise>
                        </py:choose>
                      </py:for>
                    </select>
                  </td>
                  <td>
                    <py:choose test="">
                      <input py:when="fieldsExport[cf.name] == True" checked="checked" name="${cf.name}.export" type="checkbox" value="True" />
                      <input py:otherwise="" name="${cf.name}.export" type="checkbox" value="True" />
                    </py:choose>
                  </td>
                  <td>
                    <py:choose test="">
                      <input py:when="fieldsImport[cf.name] == True" checked="checked" name="${cf.name}.import" type="checkbox" value="True" />
                      <input py:otherwise="" name="${cf.name}.import" type="checkbox" value="True" />
                    </py:choose>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <div class="buttons">
              <input type="submit" name="save" value="Save" />
            </div>
        </fieldset>
    </form>

    <form method="POST">
        <fieldset>
            <legend>Export</legend>
            <div>
                <select name="filter.type">
                    <option selected='selected' label="${[fd.label for fd in defaultfields if fd.name == 'type'][0]}" value="" />
                    <py:for each="type in types">
                        <option label="${type}" value="${type}" />
                    </py:for>
                </select>
                <select name="filter.version">
                    <option selected='selected' label="${[fd.label for fd in defaultfields if fd.name == 'version'][0]}" value="" />
                    <py:for each="version in versions">
                        <option label="${version}" value="${version}" />
                    </py:for>
                </select>
                <select name="filter.milestone">
                    <option selected='selected' label="${[fd.label for fd in defaultfields if fd.name == 'milestone'][0]}" value="" />
                    <py:for each="mtn in milestones">
                        <option label="${mtn}" value="${mtn}" />
                    </py:for>
                </select>
                <select name="filter.component">
                    <option selected='selected' label="${[fd.label for fd in defaultfields if fd.name == 'component'][0]}" value="" />
                    <py:for each="comp in components">
                        <option label="${comp}" value="${comp}" />
                    </py:for>
                </select>
                <select name="filter.status">
                    <option selected='selected' label="${[fd.label for fd in defaultfields if fd.name == 'status'][0]}" value="" />
                    <py:for each="stat in status">
                        <option label="${stat}" value="${stat}" />
                    </py:for>
                </select>
                <select name="filter.resolution">
                    <option selected='selected' label="${[fd.label for fd in defaultfields if fd.name == 'resolution'][0]}" value="" />
                    <py:for each="res in resolutions">
                        <option label="${res}" value="${res}" />
                    </py:for>
                </select>
            </div>
            <div class="buttons">
                <input type="submit" name="export" value="Export Tickets" />
            </div>
        </fieldset>
    </form>
    <form method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Import</legend>
            <div class="buttons">
                <label for="import-file">File to import:</label>
                <input type="file" name="import-file" />
                <br /> <br />
                <input type="submit" name="import_preview" value="Import Tickets (Preview)" />
            </div>
        </fieldset>
    </form>
  </body>

</html>
