<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Import Preview</title>
    
    <style type="text/css">
        .warning { color:#990000 }
        .modified { background-color:#FF9999 }
        .added { background-color:#99FF99 }
    </style>
    
    <py:def function="print_ticket(t)">
      <py:for each="fd in importedFields">
        <py:choose test="">
          <py:when test="t.exists and fd.name in t._old">
            <td class='modified'>${t[fd.name]}</td>
            <script type="text/javascript">modified_tickets['ticket.${tickets.index(t)}']='ticket.${tickets.index(t)}';</script>
          </py:when>
          <py:otherwise><td>${t[fd.name]}</td></py:otherwise>
        </py:choose>
      </py:for>
    </py:def>
    
    
  </head>

  <body>
    <h2>Import Preview</h2>
      <py:if test="len(warnings)>0">
        <fieldset>
            <legend>Warnings</legend>
            <div class="warning">
                <py:for each="warn in warnings">
                    ${warn}<br/>
                </py:for>
            </div>
        </fieldset>
      </py:if>
      <fieldset>
        <legend>Legend</legend>
        <div>Unmodified ticket</div>
        <div class='modified'>Modified ticket</div>
        <div class='added'>Added ticket</div>
      </fieldset>
      <form method="POST">
        <table class="listing" id="cflist">
          <thead>
            <tr>
              <th>Import</th>
              <th>${[c.label for c in defaultfields if c['name'] == 'id']}</th>
              <th>${[c.label for c in defaultfields if c['name'] == 'summary']}</th>
              <py:for each="fd in importedFields">
                  <th py:if='fieldsImport[fd.name] == True'>${fd.label}</th>
              </py:for>
            </tr>
          </thead>
          <tbody>
            <py:for each="t in tickets">
              <py:choose test="">
                <py:when test="not t.exists">
                  <tr class='added'>
                    <td><input type="checkbox" checked="checked" name="ticket.${tickets.index(t)}" id="ticket.${tickets.index(t)}" value="True" />
                        <script type="text/javascript">added_tickets['ticket.${tickets.index(t)}']='ticket.${tickets.index(t)}';</script></td>
                    <td>#</td>
                    <td>${t['summary']}</td>
                    ${print_ticket(t)}
                  </tr>
                </py:when>
                <py:otherwise>
                  <tr>
                    <td><input type="checkbox" checked="checked" name="ticket.${tickets.index(t)}" id="ticket.${tickets.index(t)}" value="True" /></td>
                    <td><a href="${req.href('ticket', t.id)}" target="_blank">#${t.id}</a></td>
                    <td>${t['summary']}</td>
                    ${print_ticket(t)}
                  </tr>
                </py:otherwise>
              </py:choose>
            </py:for>
          </tbody>
        </table>
        
        <div class="buttons">
          <input type="button" value="Select All" onclick="importexportxls_set_import_checkbox(true)" />
          <input type="button" value="Uncheck All" onclick="importexportxls_set_import_checkbox(false)" />
          <input type="button" value="Select modified" onclick="importexportxls_select(modified_tickets)" />
          <input type="button" value="Select added" onclick="importexportxls_select(added_tickets)" />
          <input type="button" value="Hide unchanged" onclick="importexportxls_hide(added_tickets, modified_tickets, true)" />
          <input type="button" value="Unhide unchanged" onclick="importexportxls_hide(added_tickets, modified_tickets, false)" />
        </div>
        <div class="buttons">
          <input type="submit" name="import" value="Save" />
        </div>
      </form>

  </body>

</html>
