.inlinebuttons a { 
 font-size: 70%;
 vertical-align: middle;
 border-width: 1px;
 border-style: dotted;
 border-color: #ccc;
 margin: 0.1em;
 padding: 0.1em;
 background: none;
 color: #222;
}

.inlinebuttons a:hover { 
 color: #000;
 background-color: #ccb;
}
