<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<!-- Only the, #bsop_edit div is transmitted to the client, the rest serves
     as a convenience during development
     -->

<head>
<title>Trac Browser Operations file upload</title>

<link rel="stylesheet" href="../htdocs/css/theme/smoothness/jquery-ui.css"
    type="text/css" />
<link rel="stylesheet" href="../htdocs/css/trac_browser_ops.css" 
    type="text/css" />

<script type="text/javascript" src="../htdocs/js/jquery-ui.js"></script>
<script type="text/javascript" src="../htdocs/js/trac_browser_ops.js"></script>

</head>

<body>

<div id="bsop_edit" style="display: table; width: 100%;">
  <form id="bsop_edit_form" method="post">
  <fieldset>
    <input type="hidden" name="bsop_edit_action" value="edit" />
    <textarea id="bsop_edit_text" name="bsop_edit_text" 
        rows="20" cols="80" 
        style="resize: vertical; width: 100%">${file_content}</textarea>
    <label for="bsop_edit_commit">Commit message</label>
    <input type="text" id="bsop_edit_commit_msg" name="bsop_edit_commit_msg" 
        size="80"/>
    <input type="submit" id="bsop_edit_commit" name="bsop_edit_commit" 
        value="Commit" />
  </fieldset>
  </form>
</div>

</body>
</html>
    
