<!DOCTYPE html
	    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:py="http://genshi.edgewall.org/"
	    xmlns:xi="http://www.w3.org/2001/XInclude">

<!-- Only the .bsop_dialog divs are transmitted to the client, the rest serves
     as a convenience during development
     -->

<head>
<title>Trac Browser Operations file upload</title>

<link rel="stylesheet" href="../htdocs/css/theme/smoothness/jquery-ui.css"
    type="text/css" />
<link rel="stylesheet" href="../htdocs/css/trac_browser_ops.css" 
    type="text/css" />

<script type="text/javascript" src="../htdocs/js/jquery-ui.js"></script>
<script type="text/javascript" src="../htdocs/js/trac_browser_ops.js"></script>
<script type="text/javascript">
	$('#show_upload')
		.button()
		.click(function() {
			$('#dialog-bsop_upload').dialog('open');
		});
</script>
</head>

<body>

<div id="dialog-bsop_upload"  class="bsop_dialog"
    title="Upload a file to the repository">
  <p>Choose a file to upload to the Trac repository. It will be placed in the 
  current directory.</p>
  <p class="validate_tips">All fields are required</p>
  <form id="bsop_upload_form" method="post" enctype="multipart/form-data"
      class="bsop_form">
  <fieldset>
    <label for="bsop_upload_file">File</label>
    <input type="file" name="bsop_upload_file" id="bsop_upload_file" 
        class="bsop_ctl" />
    <label for="bsop_upload_commit">Commit message</label>
    <textarea name="bsop_upload_commit" id="bsop_upload_commit"
        cols="50" rows="2" class="bsop_ctl"></textarea>
  </fieldset>
  </form>
</div>

<div id="dialog-bsop_create_folder" class="bsop_dialog"
    title="Create a folder in the repository">
  <p>Please enter a name for the new folder, and a commit message.</p>
  <p class="validate_tips">All fields are required</p>
  <form id="bsop_create_form" method="post"
      class="bsop_form">
  <fieldset>
    <label for="bsop_create_folder_name">Folder name</label>
    <input type="text" name="bsop_create_folder_name"
        id="bsop_create_folder_name" class="bsop_ctl" />
    <label for="bsop_create_commit">Commit message</label>
    <textarea name="bsop_create_commit" id="bsop_create_commit"
        cols="50" rows="2" class="bsop_ctl"></textarea>
  </fieldset>
  </form>
</div>

<div id="dialog-bsop_move_delete" class="bsop_dialog"
    title="Move or delete a file in the repository">
  <p>Please provide a commit message, and if you are moving a file or folder enter a destination</p>
  <p class="validate_tips">All fields are required</p>
  <form id="bsop_move_delete_form" method="post"
      class="bsop_form">
  <fieldset>
    <label for="bsop_mvdel_dst_name">Destination</label>
    <input type="text" id="bsop_mvdel_dst_name" name="bsop_mvdel_dst_name"
        value=""  class="bsop_ctl"/>
    <label for="bsop_mvdel_commit">Commit message</label>
    <textarea name="bsop_mvdel_commit" id="bsop_mvdel_commit"
        cols="50" rows="2" class="bsop_ctl"></textarea>
  </fieldset>
  <fieldset style="display: none;">
    <input type="hidden" id="bsop_mvdel_op" name="bsop_mvdel_op" 
        value="" />
    <input type="hidden" id="bsop_mvdel_src_name" name="bsop_mvdel_src_name" 
        value="" />
  </fieldset>
  </form>
</div>

<div id="bsop_buttons">
  <button id="bsop_delete">Delete selected...</button>
  <button id="bsop_move">Move selected...</button>
  <button id="bsop_create_folder">Create folder...</button>
  <button id="bsop_upload">Upload file...</button>
</div>

<button id="show_upload">Show upload</button>

</body>
</html>
    
