<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Cross-Project Hours</title>
  </head>
  <body>
    <h1>Hours for projects:</h1>
    <h2>
      <py:for each="project in projects">
	<a href="/${project}">${project}</a><py:if test="project != projects[-1]">, </py:if>
      </py:for>
    </h2>

    <!-- hours selection form -->
    <form id="query" method="get">
      Hours from 
      <select name="from_month">
	<option py:for="month in months" value="${month[0]}"
		py:attrs="{'selected': month[0] == from_date.month or None}">
	  ${to_unicode(month[1])}
	</option>
      </select>
      <select name="from_day">
	<option py:for="day in days" value="${day}"
		py:attrs="{'selected': day == from_date.day or None}">
	  ${day}
	</option>
      </select>
      <select name="from_year">
	<option py:for="year in years" value="${year}"
		py:attrs="{'selected': year == from_date.year or None}">
	  ${year}
	</option>
      </select>

      to
      <select name="to_month">
	<option py:for="month in months" value="${month[0]}"
		py:attrs="{'selected': month[0] == to_date.month or None}">
	  ${to_unicode(month[1])}
	</option>
      </select>
      <select name="to_day">
	<option py:for="day in days" value="${day}"
		py:attrs="{'selected': day == to_date.day or None}">
	  ${day}
	</option>
      </select>
      <select name="to_year">
	<option py:for="year in years" value="${year}"
		py:attrs="{'selected': year == to_date.year or None}">
	  ${year}
	</option>
      </select>
      
      <div class="buttons">
	<input type="submit" value="${_('Update')}"/>
      </div>
    </form>


    <!-- listing of hours -->
    <table class="listing">
      <thead>
	<tr>
	  <th py:for="header in headers">${header}</th>
	</tr>
      </thead>
      <tbody>
	<tr py:for="row in rows">
	  <td py:for="entry in row">
	    ${entry}
	  </td>
	</tr>
      </tbody>
    </table>
    <b>Total hours:</b> ${total}
  </body>
</html>
