<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Ticket Dependencies</title>
  </head>

  <body>
    <py:if test="summary_ticket_enabled">
      <h2>Summary Ticket</h2>
      <form id="project_table" method="post" action="">
        <table class="listing" border="2">
          <thead>
            <th>ID（Link）</th>
            <th>Description</th>
            <th>Status</th>
          </thead>
          <tr py:for="m in summary_ticket">
            <td class="name"><a href="${m.get('url','')}">${m.get('ticket','')}</a>(<a href="${m.get('dep_url','')}">Dependencies</a>)</td>
            <td class="title">${m.get('title','')}</td>
            <td class="status">${m.get('status','')}</td>
          </tr>
        </table>
      </form>
      <h2>Sub Tickets</h2>
      <form id="project_table" method="post" action="">
        <table class="listing" border="2">
          <thead>
            <th>ID（Link）</th>
            <th>Description</th>
            <th>Status</th>
          </thead>
          <tr py:for="m in sub_ticket">
            <td class="name"><a href="${m.get('url','')}">${m.get('ticket','')}</a>(<a href="${m.get('dep_url','')}">Dependencies</a>)</td>
            <td class="title">${m.get('title','')}</td>
            <td class="status">${m.get('status','')}</td>
          </tr>

        </table>
      </form>
    </py:if>
    <py:if test="dependencies_enabled">
      <h2>Preceding tickets</h2>
      <form id="project_table" method="post" action="">
        <table class="listing" border="2">
          <thead>
            <th>ID（link）</th>
            <th>Description</th>
            <th>Status</th>
          </thead>
          <tr py:for="m in dependencies">
            <td class="name"><a href="${m.get('url','')}">${m.get('ticket','')}</a>(<a href="${m.get('dep_url','')}">Dependencies</a>)</td>
            <td class="title">${m.get('title','')}</td>
            <td class="status">${m.get('status','')}</td>
          </tr>
        </table>
        </form>
      <h2>Subsequent Ticket</h2>
      <form id="project_table" method="post" action="">
        <table class="listing" border="2">
          <thead>
            <th>ID（link）</th>
            <th>Description</th>
            <th>Status</th>
          </thead>
          <tr py:for="m in subsequentticket">
            <td class="name"><a href="${m.get('url','')}">${m.get('ticket','')}</a>(<a href="${m.get('dep_url','')}">Dependencies</a>)</td>
            <td class="title">${m.get('title','')}</td>
            <td class="status">${m.get('status','')}</td>
          </tr>

        </table>
      </form>
    </py:if>
    <py:if test="summary_ticket_enabled">
      <h2>InterTrac Projects</h2>
      <form id="project_table" method="post" action="">
        <table class="listing" border="2">
          <thead>
              <th>Projects</th>
              <th>Description</th>
              <th>URL</th>
              <th>Path</th>
          </thead>
          <tr py:for="m in intertracs">
            <td class="name"><a href="${m.get('url','')}">${m.get('name','')}</a></td>
            <td class="title">${m.get('title','')}</td>
            <td class="url">${m.get('url','')}</td>
            <td class="path">${m.get('path','')}</td>
          </tr>
        </table>
        </form>
    </py:if>
  </body>
</html>
