<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <body py:match="body">
    <div id="wrap">
      <div id="header">
        <form id="topSearch" action="${href.search()}" method="get">
          <p class="fields">
            <input type="image" id="topSearchSubmit" name="submit" value="submit" src="${href.chrome('theme', 'images', 'ico-search.png')}" alt="Submit" />
            <input type="text" id="topSearchInput" value="search" name="q" onfocus="if (this.value == 'search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'search';}" />
            <input type="hidden" name="wiki" value="on" />
            <input type="hidden" name="changeset" value="on" />
            <input type="hidden" name="ticket" value="on" />
          </p>
        </form>
        
        <ul id="nav" class="nav"><!--!
          <li class="current_page_item">
            <a href="http://www.woothemes.com/demo/irresistible/">Home</a>
          </li>
          <li>
            <a href="http://www.woothemes.com/demo/irresistible/?cat=3" title="View all posts filed under Category 1">Category 1</a>
          </li>
          <li>
            <a href="http://www.woothemes.com/demo/irresistible/?cat=4" title="View all posts filed under Category 2">Category 2</a>
          </li>
          <li>
            <a href="http://www.woothemes.com/demo/irresistible/?cat=5" title="View all posts filed under Category 3">Category 3</a>
          </li>
          <li>
            <a href="http://www.woothemes.com/demo/irresistible/?cat=1" title="View all posts filed under General">General</a>
          </li>-->
          <li py:for="idx, item in  enumerate(chrome.nav['mainnav'])" class="${item.active and 'active' or None}">
            $item.label
          </li>
        </ul>



      </div><!--!  / #header -->


        <div id="thememain" class="home">
          
          <div id="warning" py:if="req and req.warnings" class="system-message">
            <py:choose test="len(req.warnings)">
              <py:when test="1">
                <strong>Warning:</strong> ${req.warnings[0]}
              </py:when>
              <py:otherwise>
                <strong>Warnings:</strong>
                <ul><li py:for="w in req.warnings">$w</li></ul>
              </py:otherwise>
            </py:choose>
          </div>

          <div class="box1">
            
            <div id="ctxtnav" class="nav">
              <h2>Context Navigation</h2>
              <ul py:if="chrome.ctxtnav">
                <li py:for="i, elm in enumerate(chrome.ctxtnav)"
                    class="${classes(first_last(i, chrome.ctxtnav))}">$elm</li></ul>
              <hr />
            </div>
            
             ${select('*|text()')}
             
             <div style="clear: both"></div>

          </div><!--! / #main -->

            </div><!--! / #content -->



      </div><!--! / #wrap -->

      <div id="footer">
        <div id="footerWrap">
          <!--!<p id="copy">Copyright &copy; 2009 <a href="#">Irresistible</a>. All rights reserved.</p>-->
          <ul id="footerNav">
            <li py:for="idx, item in  enumerate(chrome.nav['metanav'])">
              $item.label
            </li>
           </ul>
        </div><!--! / #footerWrap -->
      </div><!--! / #footer -->

    </body>
</html>