#bookmark_menu {
    position: absolute;
    width: 10em;
    left: 0;
    top: -1em;
    border-width: 0 !important;
    z-index: 100;
}
#bookmark_menu li {
    display: none;
    text-align: left;
    width: 100%;
}

#bookmark_menu li:first-child {
    display: inline-block;
    border-width: 0;
}

#bookmark_menu li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 .2em !important;
}

#bookmark_placeholder {
    display: inline-block;
    width: 10em;
    position: relative;
}

#bookmark_this {
    border-width: 0;
}
#bookmark_this img {
    vertical-align: middle;
}

ul.bookmarks li {
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 160%;
}
ul.bookmarks li.wiki {
    background-image: url(../../common/wiki.png);
}
ul.bookmarks li.report,
ul.bookmarks li.ticket {
    background-image: url(../../common/newticket.png);
}
ul.bookmarks li.browser,
ul.bookmarks li.changeset {
    background-image: url(../../common/changeset.png);
}
ul.bookmarks li.attachment {
    background-image: url(../../common/attachment.png);
}
ul.bookmarks li.roadmap,
ul.bookmarks li.milestone {
    background-image: url(../../common/milestone.png);
}
