<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="watchlist"
      py:strip="">

  <div id="tickets">
    <py:choose test="">
      <div class="system-message" py:when="'TICKET_VIEW' not in perm">
        You lack permission to view tickets.</div>
      <div id="ticketlist-plusadd">
        <py:choose test="" py:otherwise="">
          <div id="ticketlist-parent" py:when="ticketlist">
            <h2 class="foldable">Tickets</h2>
            ${tablepager("ticketpager")}
            <table class="ticketlist" id="ticketlist">
              <thead>
                <tr>
                  <th py:for="k in ['id', 'datetime', 'author', 'commentnum']"
                      class="${k}">${th.get(k)}&nbsp;&nbsp;&nbsp;</th>
                  <th class="${'unwatch'}">${th.get('unwatch')}</th>
                  <th py:if="notify" class="notify">
                      ${th['notify']}&nbsp;&nbsp;&nbsp;</th>
                  <th py:for="k in ['changes', 'comment']"
                      class="${k}">${th.get(k)}&nbsp;&nbsp;&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="ticket in ticketlist">
                  <td class="id"><a href="${href('ticket', ticket.id)}"
                      title="${ticket.summary}">#${ticket.id}</a></td>
                  <td class="datetime">$ticket.datetime
                      <span py:if="ticket.timedelta"
                        i18n:msg="timeline_link, timedelta"> (<a
                        href="$ticket.timeline_link">
                        $ticket.timedelta</a> ago)</span></td>
                  <td class="author">$ticket.author</td>
                  <td class="commentnum"><a href="${href('ticket',ticket.id)
                      + ((ticket.commentnum != '0') and ('#comment:'
                      + ticket.commentnum) or
                      '')}">$ticket.commentnum</a></td>
                  <td class="unwatch"><a class="plainlink"
                      href="${href.watchlist(action='unwatch',realm='ticket',
                      resid=ticket.id)}">${unwatchicon()}</a></td>
                  <td class="notify" py:if="notify">
                      ${notifybox('ticket',ticket.id,ticket.notify)}</td>
                  <td class="changes">$ticket.changes</td>
                  <td class="comment">$ticket.comment</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div py:otherwise="">
            <h2>Tickets</h2>
            <span>No tickets are currently watched.</span></div>
          ${modify_form('ticket')}
        </py:choose>
      </div>
    </py:choose>
  </div>
</html>
