<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>$label Progress</title>
    <script type="text/javascript">
      
      var update_progress = function(){
        var url = jQuery('link[rel="search"]').attr('href').replace(/\/search/, '');
        url += '/cloudajax/file';
        jQuery.ajax({
          'type': "GET",
          'url': url,
          'data': {path:'${file}',set_time:1},
          'success': function(data){
            if (display(data))
              setTimeout("update_progress()", 5000); // only on success
          },
          'error': function(r){
            alert("Error fetching progress:\n\n"+r.responseText);
          }
        });
      }
      
      var display = function(progress){
        jQuery("#title").text(progress['title']);
        jQuery("#blame").text(get_blame(progress));
        jQuery("#description").text(progress['description']);
        
        var done = false;
        var error = false;
        var steps = jQuery('#steps').empty();
        jQuery(progress['steps']).each(function(i,step){
          // compute status
          var duration = '';
          var src = '';
          var img = '';
          var status = progress['status'][i.toString()];
          if (status){
            var started = status[0];
            var completed = status[1];
            if (completed){
              duration = (completed - started).toFixed(1) + ' secs';
              src = "${href.chrome('/cloud/ok.png')}";
              
              // check for done
              if (i == progress['steps'].length-1){
                jQuery("#blame").text(get_blame_done(progress,completed));
                done = true;
              }
              
            } else {
              if (progress['error']){
                if (!error){ // only add once
                  var div = '<div class="system-message">'
                          + '  <strong>Error:</strong> ' + progress['error']
                          + '</div>';
                  jQuery('#error').append(div);
                  jQuery("#blame").text(get_blame_error(progress));
                  jQuery('#stop').attr('disabled','disabled');
                  if (progress['command']){
                    btn = '<input type="button" id="continue" value=" Continue / Retry" onclick="continue_progress();" />';
                    jQuery('#stop').after(btn);
                  }
                  error = true;
                }
                src = "${href.chrome('/cloud/error.png')}";
              } else {
                var now = progress['now'];
                duration = (now - started).toFixed(0) + '.. secs';
                src = "${href.chrome('/cloud/loading.gif')}";
              }
            }
            img = '<img src="'+src+'" />';
          }
          
          // create row
          var row = '<tr>'
              + '  <td>'+img+'</td>'
              + '  <td>'+(i+1).toString()+'.</td>'
              + '  <td>'+step+'</td>'
              + '  <td>'+duration+'</td>'
              + '</tr>'
          steps.append(row);
        });
        
        if (done){
          // see http://stackoverflow.com/questions/979024/changing-the-action-of-a-form-with-javascript-jquery/3863869#3863869
          jQuery('#buttons-form').get(0).setAttribute('action','/cloud/${droplet_name}/'+progress['id']);
          if (progress['id'] == '')
            jQuery('#view').attr('value','View ${title}');
          jQuery('#view').removeAttr('disabled');
          jQuery('#stop').attr('disabled','disabled');
        }
        
        return !(done || error);
      }
      
      var get_blame = function(progress){
        // return the blame line - Started by XXX at nnn
        var msg = 'Started';
        if (progress['started_by'])
          msg += ' by ' + progress['started_by'];
        if (progress['status'])
          msg += ' at ' + new Date(progress['status']['0'][0]*1000).toUTCString().replace('GMT','UTC');
        return msg;
      }
      
      var get_blame_done = function(progress,completed_at){
        // return the blame line - Started by XXX at nnn
        var msg = get_blame(progress);
        var started_at = progress['status']['0'][0];
        msg += ', done at ' + new Date(completed_at*1000).toUTCString().replace('GMT','UTC');
        msg += ' (' + (completed_at - started_at).toFixed(1) + ' secs total duration)';
        return msg;
      }
      
      var get_blame_error = function(progress){
        // return the blame line - Started by XXX at nnn
        var msg = get_blame(progress);
        msg += ', errored at ' + new Date(progress['now']*1000).toUTCString().replace('GMT','UTC');
        return msg;
      }
      
      var stop_progress = function(){
        jQuery('#stop').attr('disabled','disabled');
        var url = jQuery('link[rel="search"]').attr('href').replace(/\/search/, '');
        url += '/cloudajax/file';
        jQuery.ajax({
          'type': "GET",
          'url': url,
          'data': {path:'${file}',stop:1},
          'success': function(data){
            display(data);
          },
          'error': function(r){
            alert("Error stopping:\n\n"+r.responseText);
          }
        });
      }
      
      var continue_progress = function(){
        jQuery('#continue').remove();
        var url = jQuery('link[rel="search"]').attr('href').replace(/\/search/, '');
        url += '/cloudajax/file';
        jQuery.ajax({
          'type': "GET",
          'url': url,
          'data': {path:'${file}',restart:1},
          'success': function(data){
            window.location.href = window.location.href;
          },
          'error': function(r){
            alert("Error continuing:\n\n"+r.responseText);
          }
        });
      }
      
      jQuery(document).ready(function(){
        update_progress();
      });
    </script>
  </head>

  <body>
    <div id="content" class="droplet">
      <h1>$label <span id="title"></span></h1>
      <p id="blame" />
      <p id="description" />
	  
      <div id="progress">
        <table id="steps"/>
      </div>
            
      <div id="error" />
            
      <div class="buttons">
        <form id="buttons-form" action="" method="get">
          <input type="hidden" name="action" value="view" />
          <input type="submit" id="view" value="${_('View %(label)s', label=label)}" disabled="disabled" />
        </form>
        <input type="button" id="stop" value="${_('Stop')}" onclick="stop_progress();" />
      </div>
      
    </div>
  </body>
</html>
