<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>

  <body>
    <div id="content" class="cloud">
      <h1>$title</h1>
      <form action="" method="post">
        <div>
          <input type="hidden" name="action" value="$action" />
          <div class="field" py:for="field in fields">
            <py:choose test="field.readonly">
              
              <py:when test="False">
                <label for="$field.name">$field.label:</label><br />
                <div py:choose="field.kind">
                  <select py:when="'multiselect'" id="$field.name" name="$field.name" size="${min(len(field.options),10)}"
                          py:attrs="{'class':'multiselect','multiple':'multiple'}">
                    <option py:for="name,value in field.options"
                            selected="${value in field.get(item,req) or None}"
                            value="$value">$name</option>
                  </select>
                  <select py:when="'select'" id="$field.name" name="$field.name">
                    <option py:for="name,value in field.options"
                            selected="${value == field.get(item,req) or None}"
                            value="$value">$name</option>
                  </select>
                  <input py:when="'checkbox'" id="$field.name" name="$field.name" value="1"
                         checked="${field.get(item,req) or None}"
                         type="checkbox" size="50"/>
                  <input py:otherwise="" id="$field.name" name="$field.name" value="${field.get(item,req)}"
                         type="$field.kind" size="50"/>
                </div>
              </py:when>
                
              <py:otherwise>
                <label for="${field.name+'-disabled'}">${field.label}:</label><br />
                <input id="${field.name+'-disabled'}" name="${field.name+'-disabled'}" value="${field.get(item,req)}"
                       py:attrs="{'disabled':'disabled'}" type="text" size="50"/>
                <input type="hidden" id="$field.name" name="$field.name" value="${field.get(item,req)}" /><br />
              </py:otherwise>
          
            </py:choose>
            <br />
          </div>
          
          <div class="field">
            <div class="system-message" py:if="error">
              <strong>Error:</strong> $error
            </div>
          </div>
          
          <div class="buttons">
            <input py:for="name,value in buttons" type="submit" name="${name}" value="${value}"/>
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
          </div>
          
        </div>
      </form>

    </div>
  </body>
</html>
