<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        if ("${message}".length)
          warning('${message}');
      });
    </script>
  </head>

  <body>
    <div id="content" class="droplet">
      <h1>$title</h1>
	  
      <table>
        <tr py:for="field in fields">
          <td>$field.label</td>
          <td py:choose="type(field.get(item,req))">
          	<a py:when="tuple" href="${field.get(item,req)[0]}">${field.get(item,req)[1]}</a>
          	<div py:otherwise="">${field.get(item,req)}</div>
		  </td>
        </tr>
      </table>
      
      <div class="buttons">
        <form py:if="'CLOUD_MODIFY' in perm(resource)" action="" method="post">
          <div class="field" py:for="field in cmd_fields">
            <br />
            <label for="$field.name">$field.label:</label><br />
            <div py:choose="field.kind">
              <select py:when="'multiselect'" id="$field.name" name="$field.name" size="${min(len(field.options),10)}"
                      py:attrs="{'class':'multiselect','multiple':'multiple'}">
                <option py:for="name,value in field.options"
                        selected="${value in field.get(item,req) or None}"
                        value="$value">$name</option>
              </select>
              <select py:when="'select'" id="$field.name" name="$field.name">
                <option py:for="name,value in field.options"
                        selected="${value == field.get(item,req) or None}"
                        value="$value">$name</option>
              </select>
              <input py:when="'checkbox'" id="$field.name" name="$field.name" value="1"
                     checked="${field.get(item,req) or None}"
                     type="checkbox" size="50"/>
              <input py:otherwise="" id="$field.name" name="$field.name" value="${field.get(item,req)}"
                     type="$field.kind" size="50"/>
            </div>
            <br />
          </div>
          <input py:for="name,value,attrs in buttons" type="submit" name="${name}" value="${value}" py:attrs="attrs" />
        </form>
        
        <form py:if="'CLOUD_MODIFY' in perm(resource)" action="" method="get">
          <input type="hidden" name="action" value="edit" />
          <input type="submit" value="${_('Edit %(label)s', label=label)}"/>
        </form>
        
        <form py:if="'CLOUD_MODIFY' in perm(resource)" action="" method="get">
          <input type="hidden" name="action" value="delete" />
          <input type="submit" value="${_('Delete %(label)s', label=label)}"/>
        </form>
	  </div>
      
    </div>
  </body>
</html>
