<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
  <title>Jquery autocomplete example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="chrome/autocomplete/jquery.autocomplete.css"></link>
  <script type="text/javascript" src="chrome/autocomplete/jquery.js"></script>
  <script type="text/javascript" src="chrome/autocomplete/jquery.autocomplete.js"></script>

</head>
<body>

  <form onsubmit="return false;" action="">
    <p>
      Ajax CC Autocomplete: <br />
      <input type="text" style="width: 200px;" value="" id="field-cc" class="ac_input"/>
    </p>
  </form>

  <script type="text/javascript" src="chrome/autocomplete/autocomplete.js"></script>
</body>
</html>
