.version .info .progress {
	margin:1em 0 0 1em;
	max-width:70%;
	width:40em;
}
.version .milestone .info .progress {
	margin:0;
}
.version .milestone .info .progress td {
	font-size:16px;
}
.version .milestone .info p.percent {
	margin: 0 0 0 1.2em;
	line-height: 3.3ex;
}
.version .info dl {
	clear:left;
	font-size:10px;
	font-style:italic;
	margin:0 1em 2em;
	white-space:nowrap;
}
.version .info dt {
	display:inline;
	margin-left:0.5em;
}
.version .info dd {
	display:inline;
	margin:0 1em 0 0.5em;
}
.version tr.milestone {
	vertical-align: top;
}
