/* Discussion list */
.discussion table
{
  text-align: left;
}

.discussion tr, .discussion td, .discussion td > a > div
{
  padding: 0em !important;
  margin: 0em !important;
}

.discussion a.cell
{
  display: block;
  margin: 0em !important;
  padding: 0.5em;
  border: none;
}

.discussion td.moderators, .discussion td.lastreply, .discussion td.founded,
.discussion td.topics, .discussion td.replies, .discussion td.author
{
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

/* Message list */
.message-list div.topic
{
  margin: 2em;
}

.message-list .topic div.header
{
  border: 1px solid #d7d7d7;
}

.message-list .topic div.subject
{
  font-weight: bold;
  margin: 0em;
  padding: 0.25em 1em 0.25em 1em;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d7d7d7;
}

.message-list .topic .header div.author
{
  font-weight: bold;
  margin: 1em;
}

.message-list .header div.body
{
  margin: 1em;
}

/* Message list reply tree */
.message-list .replies div.body
{
  margin: 0.2em;
}

.message-list div.replies
{
  display: block;
  margin: 0px;
  padding: 0.25em;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.message-list .replies ul
{
  list-style: none;
  padding: 0em 0em 0em 2em;
}

.message-list .replies li
{
  margin: 0.25em;
  padding: 0.25em;
}

.message-list .replies li.reply
{
  margin: 1em;
  background-color: transparent;
}

.message-list div.controls
{
  float: right;
  margin: 0em;
  padding: 0em 1em 0em 1em;
}

.message-list div.author
{
  font-weight: bold;
  margin: 0em;
  padding: 0em 1em 0em 1em;
}

.message-list .topic .replies div.body
{
  margin: 0em;
  padding: 0em 1em;
  border: 1px solid #d7d7d7;
  background-color: #f7f7f7;
}

.message-list .topic .replies .preview div.body
{
  border: 1px dashed #b00;
}
