/* General styles */
.discussion table
{
  text-align: left;
}

/* Forum list */
.forum-list td
{
  margin: 0em !important;
  padding: 0em !important;
  height: 100%;
}

.forum-list .subject, .forum-list .description
{
  margin: 0.5em;
}

.forum-list .table
{
  display: table;
  height: 100%;
  width: 100%;
  border: none;
}

.forum-list .row
{
  display: table-row;
  height: 100%;
}

.forum-list .cell
{
  display: table-cell;
  vertical-align: middle;
}

.forum-list .moderators, .forum-list .lastreply, .forum-list .founded,
.forum-list .topics, .forum-list .replies
{
  text-align: center;
}

.forum-list .subject
{
  font-weight: bold;
}

/* Topic list */
.topic-list .author, .topic-list .founded, .topic-list .replies
{
  text-align: center;
}

/* Message list */
.message-list div.topic
{
  margin: 2em;
}

.message-list .topic div.header
{
  border: 1px solid #d7d7d7;
}

.message-list .topic div.subject
{
  font-weight: bold;
  margin: 0em;
  padding: 0.25em 1em 0.25em 1em;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d7d7d7;
}

.message-list .topic .header div.author
{
  font-weight: bold;
  margin: 1em;
}

.message-list .header div.body
{
  margin: 1em;
}

/* Message list reply tree */
.message-list .replies div.body
{
  margin: 0.2em;
}

.message-list div.replies
{
  display: block;
  margin: 0px;
  padding: 0.25em;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.message-list .replies ul
{
  list-style: none;
  padding: 0em 0em 0em 2em;
}

.message-list .replies li
{
  margin: 0.25em;
  padding: 0.25em;
}

.message-list .replies li.reply
{
  margin: 1em;
  background-color: transparent;
}

.message-list div.controls
{
  float: right;
  margin: 0em;
  padding: 0em 1em 0em 1em;
}

.message-list div.author
{
  font-weight: bold;
  margin: 0em;
  padding: 0em 1em 0em 1em;
}

.message-list .topic .replies div.body
{
  margin: 0em;
  padding: 0em 1em;
  border: 1px solid #d7d7d7;
  background-color: #f7f7f7;
}

.message-list .topic .replies .preview div.body
{
  border: 1px dashed #b00;
}
