<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html" />

<head>


<title>Trac Cron Scheduler</title>
</head>

<body>


<form id="traccron_admin" action="" method="post">

    <fieldset>
    	<legend>ticker_enabled</legend>
    	<input type="text" name="ticker_enabled" value="$ticker_enabled"/>    	
    </fieldset>
     <fieldset>
    	<legend>ticker_interval</legend>
    	<input type="text" name="ticker_interval" value="$ticker_interval"/>    	
    </fieldset>
    <fieldset>
    	<legend>Task list</legend>
    	<table class="listing" width="100%"  border="1">
    		<thead>
    			<tr>
    				<th>id</th>
    	 			<th>description</th>
    	 			<th>schedule</th>
    	 		</tr>
    	 	</thead>
    	 	<tbody>
    	 		<tr py:for="task in task_list">
	    	   		<td>${task['id']}</td>
    	   			<td>${task['description']}</td>
    	   			<td>
	    	   			<table class="listing" width="100%">
	    	   				<thead>
	    	   					<tr>
    	   							<th width="50%">type</th>
    	   							<th width="50%">value</th>
    	   						</tr>
    	   					</thead>
    	   					<tbody>
    	   						<tr py:for="type in task['schedule_list'].keys()">
		    	   					<td align="right">$type</td>
    	   							<td align="left">
			    	   					<input type="text" id="${task['id']}.${type}" name="${task['id']}.${type}" value="${task['schedule_list'][type]}"/>
    	   							</td>
    	   						</tr>
    	   					</tbody>
    	   				</table>
    	   			</td>
    	 		</tr>
    	 	</tbody>
    	</table>
    </fieldset>
    <input type="submit" name="save" value="save" accesskey="s" />

</form>

</body>

</html>