<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude"
	py:strip=""> 

<xi:include href="admin.html" />

<head>
	<title>Wiki Import - Configuration</title>
</head>

<body>
	<h2>Select instance to import pages from</h2>

	<form method="post">

		<p class="help">You can import pages either from a preconfigured instance or specify the path to any existing instance.</p>

		<fieldset>
			<legend>Configuration</legend>

			<div class="field">
				<label py:if="len(instances) > 0">
					Preconfigured instance<br />
					<select name="wikiimport_instance_id">
						<py:for each="instance_spec in instances">
							<option value="${instance_spec['id']}">${instance_spec['name']}</option>
						</py:for>
					</select>
				</label>
				<p py:if="len(instances) > 0" class="help">
					More instances can be added in <code>trac.ini</code>.
					Syntax documentation is available at : 
					<a href="http://trac-hacks.org/wiki/WikiImportPlugin#Configuration">http://trac-hacks.org/wiki/WikiImportPlugin#Configuration</a>.
				</p>
				<p py:if="len(instances) &lt; 1" class="help">
					You can define preconfigured instances by adding them in your project's <code>trac.ini</code>.
					Syntax documentation is available at : 
					<a href="http://trac-hacks.org/wiki/WikiImportPlugin#Configuration">http://trac-hacks.org/wiki/WikiImportPlugin#Configuration</a>.
				</p>
			</div>
			
			<br />	

			<div class="field">
				<label>
					Path to trac environment<br />
					<input type="text" name="wikiimport_instance_path" size="40" />
				</label>
				<p class="help">Environment must reside on the same filesystem and be readable by whoever runs the web server.</p>
			</div>

			<div class="buttons">
				<input type="submit" value="Preview import" name="wikiimport_action_preview" />
			</div>

		</fieldset>

	</form>
</body>

</html>
