<html xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:py="http://genshi.edgewall.org/" 
        xmlns:xi="http://www.w3.org/2001/XInclude"
        py:strip="">

<xi:include href="admin.html" />

<head>
	<title>Wiki Import - Import preview</title>
</head>

<body>
	<h2>Nothing to do</h2>
	<p class="help">Both wikis are identical, no need to update or create any pages. You can go <a href="">back</a> to configuration screen and choose a different wiki to import pages from.</p>
</body>

</html>

