<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <py:choose>
    <py:when test="xhr">
      <py:match path="head" once="true"><head>
        <title py:with="title = list(select('title/text()'))">
          <py:if test="title">${title} –</py:if>
          ${' – '.join(filter(None, [project.name, 'Trac']))}
        </title>
        <py:if test="chrome.links">
          <py:for each="rel, links in chrome.links.items()">
            <link rel="${rel}" py:for="link in links" py:attrs="link" />
          </py:for>
        </py:if>
        <py:if test="'SEARCH_VIEW' in perm" id="search">
          <link type="application/opensearchdescription+xml" rel="search"
                href="${href.search('opensearch')}" title="Search $project.name"/>
        </py:if>
        <script py:for="script in chrome.scripts"
                type="${script.type}" src="${script.href}"></script>
        ${Markup('&lt;!--[if lt IE 7]&gt;')}
        <script type="text/javascript" src="${chrome.htdocs_location}js/ie_pre7_hacks.js"></script>
        ${Markup('&lt;![endif]--&gt;')}
        ${select("*[local-name() != 'title']")}
      </head></py:match>
    </py:when>
    <py:otherwise>
      <xi:include href="layout.html" />
    </py:otherwise>
  </py:choose>
  <xi:include href="macros.html" />
  <head>
    <title>Work Log</title>
  </head>
  <body>
    <div>
      <div py:if="xhr" style="text-align: right;">
        <span style="text-decoration: underline; color: blue; cursor: pointer;" class="jqmClose">close</span>
      </div>
      <form method="post" action="${worklog_href}" class="inlinebuttons">
        <input type="hidden" name="source_url" value="${ticket_href}" />
        <input type="hidden" name="ticket" value="${ticket}" />
        <input id="worklogStoptime" type="hidden" name="stoptime" value="" />
        <fieldset>
          <legend>Stop work</legend>
          <div class="field">
            <fieldset class="iefix">
              <label for="worklogComment">Optional: Leave a comment about the work you have done...</label>
              <p><textarea id="worklogComment" name="comment" class="wikitext" rows="6" cols="60"></textarea></p>
            </fieldset>
          </div>
          <div class="field">
            <label>Override end time</label>
            <div align="center">
              <div style="width: 185px;">
                <div id="worklogStopDate"></div>
                <br clear="all" />
                <div style="text-align: right;">
                  &nbsp;&nbsp;@&nbsp;<input id="worklogStopTime" type="text" size="6" />
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: right;"><input id="worklogSubmit" type="submit" name="${action}work" value="${label}" /></div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
