<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Work Log</title>
  </head>

  <body>
    <form method="post" action="${worklog_href}">
      <div id="content" class="worklog">
        <h2>Work Log Summary</h2>
        <div id="messages" >
          <div py:for="item in messages" class="message" >${item}</div>
        </div>
      
        <table border="0" cellspacing="0" cellpadding="0" id="worklog_report">
          <tr>
            <th>User</th>
            <th>Activity</th>
            <th>Time</th>
            <th>Comment</th>
          </tr>
          <tr py:for="log in worklog">
            <td><a href="${worklog_href}/users/${log.user}">${log.dispname}</a></td>
            <py:choose>
              <td py:when="log.endtime==0"><a class="${log.status} ticket" href="${ticket_href}/${log.ticket}">#${log.ticket}</a>: ${log.summary}</td>
              <td py:otherwise=""><em>Idle</em> <small>(Last worked on: <a class="${log.status}  ticket" href="${ticket_href}/${log.ticket}">#${log.ticket}</a>: ${log.summary})</small></td>
            </py:choose>
            <td><span id="worklog_time_delta">${log.delta}</span></td>
            <td><span id="worklog_comment">${log.comment}</span></td>
          </tr>
        </table>
      </div>
    </form>
        
    <div id="help"><strong>Note:</strong> See
      <a href="${usermanual_href}">${usermanual_title}</a> for help on using
      the worklog.
    </div>    
    
    <div id="altlinks">  <h3>Download in other formats:</h3><ul><li class="first last"><a href="?format=csv" class="csv">CSV</a></li></ul></div>
  </body>

</html>
