<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:xi="http://www.w3.org/2001/XInclude"
        xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Work Log Settings</title>
  </head>

  <body>
    <h2>Work Log Settings</h2>

    <py:choose test="view">
      <form py:when="'settings'" method="post">
        <fieldset>
          <legend>Options:</legend>
          <div class="field">
            <input type="checkbox" id="timingandestimation" name="timingandestimation" value="1" checked="${timingandestimation or None}" />
            <label for="timingandestimation">Record time via <a href="http://www.trac-hacks.org/wiki/TimingAndEstimationPlugin">Timing and Estimation Plugin</a>?</label>
          </div>
          <div class="field">
            <input type="checkbox" id="trachoursplugin" name="trachoursplugin" value="1" checked="${trachoursplugin or None}" />
            <label for="trachoursplugin">Record time via <a href="http://www.trac-hacks.org/wiki/TracHoursPlugin">Trac Hours Plugin</a>?</label>
          </div>
          <div class="field">
            <input type="checkbox" id="comment" name="comment" value="1" checked="${comment or None}" />
            <label for="comment">Automatically add a comment when you stop work on a ticket?</label><br />
            <small>Please note that if you leave a comment when you stop work, then a comment is always added to the ticket to ensure all information is present on the ticket.</small>
          </div>
          <div class="field">
            <input type="checkbox" id="autostop" name="autostop" value="1" checked="${autostop or None}" />
            <label for="autostop">Stop work automatically if ticket is closed?</label>
          </div>
          <div class="field">
            <input type="checkbox" id="autoreassignaccept" name="autoreassignaccept" value="1" checked="${autoreassignaccept or None}" />
            <label for="autoreassignaccept">Automatically reassign and accept (if necessary) when starting work?</label>
          </div>
          <div class="field">
            <input type="checkbox" id="autostopstart" name="autostopstart" value="1" checked="${autostopstart or None}" />
            <label for="autostopstart">Allow users to start working on a different ticket (i.e. automatically stop working on current ticket)?</label>
          </div>
        </fieldset>
        <br />
        <fieldset>
          <legend>Parameters:</legend>
          <div class="field">
            <label for="roundup">Round up to nearest minute</label>&nbsp;
            <input type="text" id="roundup" name="roundup" size="4" value="${roundup}" /><br />
            <small>This only applies when integrating with the 
                  <a href="http://www.trac-hacks.org/wiki/TimingAndEstimationPlugin">Timing and Estimation</a> or
                  <a href="http://www.trac-hacks.org/wiki/TracHoursPlugin">Trac Hours</a> plugins.
            </small>
          </div>
        </fieldset>
      
        <div class="buttons">
          <input type="submit" name="update" value="Update Settings" />
        </div>
      </form>
    </py:choose>
  </body>

</html>
