<span xmlns="http://www.w3.org/1999/xhtml"
     xmlns:xi="http://www.w3.org/2001/XInclude" 
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:i18n="http://genshi.edgewall.org/i18n"
     i18n:domain="announcer">

  <p>A comma-separated list of users you would like to watch. A watched user
     will create an announcement each time he/she creates or changes
     a wiki page or ticket.
  </p>
  <label for="announcer_watch_users">Watch Users:
    <input type="text" id="announcer_watch_users"
           name="announcer_watch_users"
           value="${announcer_watch_users}"/>
  </label>
</span>
