#worklogmanual
{
  display: block;
  float: right;
}
#worklog_comment 
{
  font-size: 70%;
  color: green;
}
#worklog_time_delta 
{
  font-size: 70%;
  color: green;
}
table#worklog_report 
{
  width: 99%;
  clear: both;
}
#content.worklog table th
{
  background: #f7f7f7;
  border-bottom: 1px solid #d7d7d7;
  font-size: 105%;
  font-weight: bold;
  text-align: left;
  padding: 5px;
}
#content.worklog table td
{
  padding: 5px;
  border: 1px solid #eee;
}
#content.worklog table td small
{
  color: #999;
}
.message
{ 
  font-weight:bold;
  color:#283;
}
dt.workstart, dt.workstart a
{
  background-image: url(workstart.png);
}
dt.workstop, dt.workstop a
{
  background-image: url(workstop.png);
}


/* Ticket Page */
fieldset.workloginfo form
{
    float: right;
}
fieldset.workloginfo ul
{
  margin: 0;
  padding: 0;
  padding-left: 3em;
  font-size: 11px;
  list-style: url(work.png) disc;
}
