<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Pastebin</title>
  </head>
  <body>
    <div id="content" class="pastebin">
      <py:choose test="mode">
        <py:when test="'new'">
          <div class="sidebar" py:if="recent">
            <h3>Recent Pastes</h3>
            <ul>
              <li py:for="p in recent"><a href="${href.pastebin(p.id)}">${p.title}</a>
                by ${format_author(p.author)}, ${dateinfo(p.time)} ago</li>
            </ul>
          </div>
          <py:choose test="replyto">
              <h1 py:when="'0'">New Paste</h1>
              <h1 py:otherwise="">Reply To Paste #${replyto}</h1>
          </py:choose>
          <div class="formwrapper">
          <py:choose test="'PASTEBIN_CREATE' in req.perm('pastebin')">
            <form py:when="True" action="${href.pastebin()}" method="post">
              <p class="error" py:if="error">
                You have to supply some data for pasting.
              </p>
              <dl>
                <dt>Title</dt>
                <dd><input type="text" name="title" value="${title}" /></dd>
                <py:choose test="perm.username == 'anonymous'">
                  <py:when test="True">
                    <dt>Author</dt>
                    <dd><input type="text" name="author" value="${author}" /></dd>
                  </py:when>
                  <py:otherwise>
                    <input type="hidden" name="author" value="${perm.username}" />
                  </py:otherwise>
                </py:choose>
                <dt>Highlighter</dt>
                <dd><select name="mimetype">
                  <option py:for="m, name in mimetypes" value="${m}" selected="${mimetype == m and 'selected' or None}">${name}</option>
                </select></dd>
              </dl>
              <textarea name="data" rows="12" cols="80">${data}</textarea>
              <div class="buttons">
                <input type="submit" value="Paste!" />
              </div>
            </form>
            <p py:otherwise="">
              Sorry, you don't have permission to paste.
            </p>
          </py:choose>
          </div>
        </py:when>
        <py:when test="'show'">
          <h1>${paste.title}</h1>
          <div class="information">
            <p>
              pasted by <em>${format_author(paste.author)}</em>, ${dateinfo(paste.time)} ago
            </p>
            <p class="metainfo">
              Content-Type: <em>${paste.mimetype}</em><br />
              Highlighter: <em>${highlighter}</em>
            </p>
          </div>
          <div id="paste" class="searchable">
            ${paste.render(req)}
          </div>
          <div class="buttons">
            <form py:if="'PASTEBIN_CREATE' in req.perm('pastebin')" action="${href.pastebin()}" method="get">
              <input type="hidden" name="reply" value="${paste.id}" />
              <input type="submit" value="Reply to Paste" />
            </form>
            <form py:if="'PASTEBIN_CREATE' in req.perm('pastebin')" action="${href.pastebin()}" method="get">
              <input type="submit" value="New Paste" />
            </form>
            <form py:if="'PASTEBIN_DELETE' in req.perm('pastebin')" action="${href.pastebin()}" method="get" onsubmit="return confirm('Do you really want to delete this paste?')">
              <input type="hidden" name="delete" value="${paste.id}" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </py:when>
        <py:when test="'delete'">
          <h1>Paste Deleted</h1>
          <div class="success">
            Paste #${paste.id} successfully deleted.
          </div>
          <div class="buttons">
            <form py:if="'PASTEBIN_CREATE' in req.perm('pastebin')" action="${href.pastebin()}" method="get">
              <input type="submit" value="New Paste" />
            </form>
          </div>
        </py:when>
      </py:choose>
    </div>
  </body>
</html>
