<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <head>
    <title>Hours for ${worker}</title>
    <script type="text/javascript"
    src="${chrome.htdocs_location}js/folding.js"></script>
    <script type="text/javascript" src="${chrome.htdocs_location}js/query.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      $("#group").change(function() {
      $("#groupdesc").enable(this.selectedIndex != 0)
      }).change();
      $("fieldset legend.foldable").enableFolding(false);
      /* Hide the filters for saved queries. */
      if ( window.location.href.search(/[?&amp;]report=[0-9]+/) != -1 )
      $("#filters").toggleClass("collapsed");
      /* Hide the columns by default. */
      $("#columns").toggleClass("collapsed");
      });
    </script>
  </head>

  <body>

    <div id="content" class="query">
      
      <h1>Hours for ${worker}</h1>

      <form id="query" method="get">
	Hours from 

        <!-- date + worker selection -->
	<select name="from_month">
	  <option py:for="month in months" value="${month[0]}"
		  py:attrs="{'selected': month[0] == from_date.month or None}">
	    ${to_unicode(month[1])}
	  </option>
	</select>
	<select name="from_day">
	  <option py:for="day in days" value="${day}"
		  py:attrs="{'selected': day == from_date.day or None}">
	    ${day}
	  </option>
	</select>
	<select name="from_year">
	  <option py:for="year in years" value="${year}"
		  py:attrs="{'selected': year == from_date.year or None}">
	    ${year}
	  </option>
	</select>

	to

	<select name="to_month">
	  <option py:for="month in months" value="${month[0]}"
		  py:attrs="{'selected': month[0] == to_date.month or None}">
	    ${to_unicode(month[1])}
	  </option>
	</select>
	<select name="to_day">
	  <option py:for="day in days" value="${day}"
		  py:attrs="{'selected': day == to_date.day or None}">
	    ${day}
	  </option>
	</select>
	<select name="to_year">
	  <option py:for="year in years" value="${year}"
		  py:attrs="{'selected': year == to_date.year or None}">
	    ${year}
	  </option>
	</select>

	<a href="${prev_url}">Week of ${to_unicode(prev_week.strftime('%B %d, %Y'))}
	  - ${to_unicode(from_date.strftime('%B %d, %Y'))}</a>


        <!-- update -->
        <div class="buttons">
          <input type="submit" name="update" value="${_('Update')}" />
        </div><!-- update -->

        <hr/>

      </form>

      <b>Total Hours:</b> ${total_hours}
      <table class="listing tickets">
        <tr><th>Ticket</th><th>Hours</th></tr>

        <tr py:for="ticket_id, hours in worker_hours">
          <td>
            <a href="${req.href('ticket', ticket_id)}">
              <b>#${ticket_id}</b> 
              <i>${tickets[ticket_id].values['summary']}</i>
            </a>
          </td>
          <td>
            <a href="${req.href('hours', ticket_id)}">
              ${hours_format % hours}
            </a>
          </td>
        </tr>
      </table>

      <ul>
        <li><a href="${req.href('/hours/user', from_day=from_date.day, from_month=from_date.month, from_year=from_date.year, to_day=to_date.year, to_month=to_date.month, to_year=to_date.year)}">User Hours</a></li>
        <li><a href="${req.href('/hours', from_day=from_date.day, from_month=from_date.month, from_year=from_date.year, to_day=to_date.year, to_month=to_date.month, to_year=to_date.year)}">Query Hours</a></li>
      </ul>
    </div>
  </body>
</html>

