<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />

  <head>
    <title>User Hours</title>
    <script type="text/javascript"
    src="${chrome.htdocs_location}js/folding.js"></script>
    <script type="text/javascript" src="${chrome.htdocs_location}js/query.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      $("#group").change(function() {
      $("#groupdesc").enable(this.selectedIndex != 0)
      }).change();
      $("fieldset legend.foldable").enableFolding(false);
      /* Hide the filters for saved queries. */
      if ( window.location.href.search(/[?&amp;]report=[0-9]+/) != -1 )
      $("#filters").toggleClass("collapsed");
      /* Hide the columns by default. */
      $("#columns").toggleClass("collapsed");
      });
    </script>
  </head>

  <body>

    <div id="content" class="query">
      
      <h1>User Hours</h1>

      <form id="query" method="get">
	Hours from 

        <!-- date + worker selection -->
	<select name="from_month">
	  <option py:for="month in months" value="${month[0]}"
		  py:attrs="{'selected': month[0] == from_date.month or None}">
	    ${to_unicode(month[1])}
	  </option>
	</select>
	<select name="from_day">
	  <option py:for="day in days" value="${day}"
		  py:attrs="{'selected': day == from_date.day or None}">
	    ${day}
	  </option>
	</select>
	<select name="from_year">
	  <option py:for="year in years" value="${year}"
		  py:attrs="{'selected': year == from_date.year or None}">
	    ${year}
	  </option>
	</select>

	to

	<select name="to_month">
	  <option py:for="month in months" value="${month[0]}"
		  py:attrs="{'selected': month[0] == to_date.month or None}">
	    ${to_unicode(month[1])}
	  </option>
	</select>
	<select name="to_day">
	  <option py:for="day in days" value="${day}"
		  py:attrs="{'selected': day == to_date.day or None}">
	    ${day}
	  </option>
	</select>
	<select name="to_year">
	  <option py:for="year in years" value="${year}"
		  py:attrs="{'selected': year == to_date.year or None}">
	    ${year}
	  </option>
	</select>

	<a href="${prev_url}">Week of ${to_unicode(prev_week.strftime('%B %d, %Y'))}
	  - ${to_unicode(from_date.strftime('%B %d, %Y'))}</a>


        <!-- milestone -->
        <div py:if="milestones" 
             py:with="selected_milestone=req.args.get('milestone')">
          <a href="${req.href('roadmap')}">Milestone</a>:
          <select name="milestone">
            <option value=""></option>
            <option py:for="milestone in milestones" 
                    py:attrs="{'selected': selected_milestone == milestone.name and True or None}"
                    value="${milestone.name}">
              ${milestone.name}
            </option>
          </select>
        </div>

        <!-- update -->
        <div class="buttons">
          <input type="submit" name="update" value="${_('Update')}" />
        </div><!-- update -->

        <hr/>

      </form>

      <table class="listing tickets">
        <tr><th>Worker</th><th>Hours</th></tr>
        
        <tr py:for="worker, hours in worker_hours">
          <td>
            <a href="${req.href('hours', 'user', worker)}">
              ${worker}
            </a>
          </td>
          <td>${hours_format % hours}</td>
        </tr>
      </table>
    </div>

    <a href="${req.href('/hours', from_day=from_date.day, from_month=from_date.month, from_year=from_date.year, to_day=to_date.year, to_month=to_date.month, to_year=to_date.year)}">Query Hours</a>
  </body>
</html>

