<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>XML-RPC</title>
  </head>
  <body>

    <div id="content" class="wiki">

      <h2>XML-RPC exported functions</h2>

      <div id="searchable">
        <dl py:for="key in xmlrpc.functions" py:with="namespace = xmlrpc.functions[key]">
          <dt>
            <h3 id="${'xmlrpc.' + to_unicode(namespace.namespace)}">
              ${namespace.namespace} - ${namespace.description}
            </h3>
          </dt>
          <dd>
            <table class="listing tickets">
              <thead>
                <tr>
                  <th style="width:40%">Function</th>
                  <th style="width:45%">Description</th>
                  <th style="width:15%">Permission required</th>
                </tr>
              </thead>
              <tbody py:for="idx, function in enumerate(namespace.methods)">
                <tr class="${'color3-' + (idx % 2 == 0 and 'even' or 'odd')}">
                  <td style="padding-left:4em;text-indent:-4em">${function[0]}</td>
                  <td>${function[1]}</td>
                  <td>${function[2] or "By resource"}</td>
                </tr>
              </tbody>
            </table>
          </dd>
        </dl>
      </div>

      <script type="text/javascript">
        addHeadingLinks(document.getElementById("searchable"));
      </script>
    </div>

  </body>
</html>
