<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Jobs</title>
    <style type="text/css">
      p.contextual { margin-top:0; margin-bottom:2em }
     

    </style>
    <style type="text/css" title="currentStyle">
			@import "http://www.datatables.net//release-datatables/media/css/demo_page.css";
			@import "http://www.datatables.net//release-datatables/media/css/demo_table.css";
		</style>
        
    	<script type="text/javascript" language="javascript" src="http://www.datatables.net//release-datatables/media/js/jquery.js"></script>

		<script type="text/javascript" language="javascript" src="http://www.datatables.net//release-datatables/media/js/jquery.dataTables.js"></script>
	
    <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
		</script>

        
  </head>

  <body>
    <h2>Manage Jobs</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" id="modjob" method="post">
        <fieldset>
          <legend>Modify Job:</legend>
          <div class="field">
            <label>Job Id:<br />
            <input type="text" name="id" value="$job.id"/></label>
          </div>
          <div class="field">
            <label>Release:<br />
            <input type="text" name="release" value="$job.release" size="80" /></label>
          </div>
          <div class="field">
            <label>Enable:<br />
            <input type="checkbox" name="enabled" value="$job.enabled"   /></label>
          </div>
        </fieldset>
        
         
       <!-- <py:for each="run in runs">
            ${run.id} ${run.started} ${run.ended} ${run.status} ${run.logpost} ${run.pid} ${run.uid} ${run.host} ${run.root} ${run.log}<br>
          <py:for each="options in (event.summary_client_options, event.action_client_options)">
            <fieldset py:if="options">
              <py:with vars="field = options==event.summary_options and 'summary' or 'action'">
                <legend py:if="'summary'==field">Client Specific Summary Options for $event.name</legend>
                <legend py:if="'action'==field">Client Specific Action Options for $event.name</legend>
                <div py:for="option in options.values()" class="field">
                  <label>$option.name</label><br />
                  <py:choose test="option.type">
                    <textarea py:when="'large'" name="${field}-option-${event.md5}-${option.md5}" rows="10" cols="70">$option.value</textarea>
                    <input py:when="'small'" name="${field}-option-${event.md5}-${option.md5}" type="text" size="5" value="$option.value" />
                    <select py:when="'list'" name="${field}-option-${event.md5}-${option.md5}">
                      <option py:for="val in option.vals" selected="${val == option.value and 'selected' or None}">$val</option>
                    </select>
                    <input py:otherwise="" name="${field}-option-${event.md5}-${option.md5}" type="text" size="60" value="$option.value" />
                  </py:choose>
                  <p class="help">$option.description</p>
                </div>
              </py:with>
            </fieldset>
          </py:for> 
        </py:for>-->
        <div class="buttons">
          <input type="submit" name="cancel" value="Cancel" />
          <input type="submit" name="save" value="Save" />
        </div>
        </form>
        <fieldset>
          <legend>Runs</legend>
        
        <table  id="example" >
              <thead>
                <tr>
                   <th>run id</th><th>started</th><th>ended</th><th>status</th><th>message</th><th>pid</th><th>uid</th><th>host</th><th>root</th><th>log</th>
                </tr>
              </thead>
               <tbody>
            <tr py:for="run in runs">
                <td>${run.html.id}</td>
                <td>${run.html.started} </td>
                <td>${run.html.ended}</td>
                <td>${run.html.status}</td>
                <td>${run.html.logpost}</td>
                <td>${run.html.pid}</td>
                <td>${run.html.uid}</td>
                <td>${run.html.host}</td>
                <td>${run.html.root}</td>
                <td>${run.html.log}</td>
            </tr>
          </tbody>
          </table>
          </fieldset>
      

      <py:otherwise>
        <form class="addnew" id="addjob" method="post">
          <fieldset>
            <legend>Add Job:</legend>
            <div class="field">
              <label>Job Id:<br /><input type="text" name="id" /></label>
              <label>Release:<br /><input type="text" name="release" /></label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        <py:choose>
          <form py:when="jobs" method="POST">
            <table class="listing" id="joblist">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Job Id</th><th>Release</th><th>Enabled</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="job in jobs">
                  <td class="sel"><input type="checkbox" name="sel" value="$job.id" /></td>
                  <td class="name">
                    <a href="${panel_href(job.id)}">$job.id</a>
                  </td>
                  <td class="default">
                    <a href="$job.release">$job.release</a>
                  </td>
                  <td class="default">
                    $job.enabled
                  </td>
                   <td class="default">
                     <input type="submit" name="run" value="Run ${job.id}" />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected Jobs" />
              <input type="submit" name="enable" value="Enable selected Jobs" />
              <input type="submit" name="disable" value="Disable selected Jobs" />
            </div>
            <p class="help">
              You can remove all items from this list to completely hide this
              field from the user interface.
            </p>
          </form>

          <p py:otherwise="" class="help">
            As long as you don't add any items to the list, this field
            will remain completely hidden from the user interface.
          </p>
        </py:choose>
      </py:otherwise>
    </py:choose>
  </body>

</html>
