<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnjLab.SyncIT.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnjLab.SyncIT.App.Properties.Settings>
            <setting name="SyncIntervalInMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UpdatesLastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyAboutSyncResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </AnjLab.SyncIT.App.Properties.Settings>
    </userSettings>
</configuration>