<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html" />

<head>
  <title>Stractistics</title>
</head>
<body>
    
<div id="content">
	<h1>STractistics</h1>
	<form id="prefs" method="post">
		<div>
			<label>Activity from <input type="text" size="8" name="end_date" value="${end_date}" /></label> and <label><input type="text" size="3" name="weeks_back" value="${weeks_back}" /> weeks back</label>.
		</div>
		<div>
			<label for="user">
				User:
				<select name="user" id="user">
					<py:for each="user in trac_users">
					    <option value="${user}" selected="${user == default_user or None}">
					    	${user}
						</option>
					</py:for>	
				</select>
			</label>
		</div>		
		<div class="buttons">
	  		<input type="submit" name="update" value="Update" />
	 	</div>
	</form>	
	<div class="report-wrapper">
		<h2>SVN activity: <em>User's SVN activity in the last weeks.</em></h2>
		<div class="graph">
			<!-- Repository activity chart -->
			${repository_activity.chart_info.embed() }
		</div>
		<div class="data-table">
			<table cellpadding="0" cellspacing="1">
				<thead>
					<tr>
						<th colspan="${len(repository_activity.columns)+1}">${repository_activity.title}</th>
					</tr>
					<tr>
						<th rowspan="2">Weeks</th>
					
						<th colspan="${len(repository_activity.columns)}">Commits</th>					
					</tr>
					<tr>
						<py:for each="autor in repository_activity.columns">
							<th>${autor}</th>
						</py:for>
					</tr>
				</thead>
				<tbody>
					<py:for each="row in repository_activity.results">
					<tr>
						<td>${row[0]}</td>
						<py:for each="data_serie in row[1]">
							<td>${data_serie}</td>
						</py:for>
					</tr>
					</py:for>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div class="report-wrapper">
		<h2>Wiki activity: <em>User's wiki activity in the last weeks.</em></h2>	
		<div class="graph">
			<!-- Wiki activity chart -->
			${wiki_activity.chart_info.embed() }
		</div>
		<div class="data-table">
			<table cellpadding="0" cellspacing="1">
				<thead>
					<tr>
						<th colspan="${len(wiki_activity.columns)+1}">${wiki_activity.title}</th>
					</tr>
					<tr>
						<th rowspan="2">Weeks</th>
					
						<th colspan="${len(wiki_activity.columns)}">Pages</th>					
					</tr>
					<tr>
						<py:for each="autor in wiki_activity.columns">
							<th>${autor}</th>
						</py:for>
					</tr>
				</thead>
				<tbody>
					<py:for each="row in wiki_activity.results">
					<tr>
						<td>${row[0]}</td>
						<py:for each="data_serie in row[1]">
							<td>${data_serie}</td>
						</py:for>
					</tr>
					</py:for>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div class="report-wrapper">
		<h2>Ticket activity: <em>User's ticket activity in the last weeks.</em></h2>	
		<div class="graph">
			<!-- Ticket activity chart -->
			${ticket_activity.chart_info.embed() }
		</div>
		<div class="data-table">
			<table cellpadding="0" cellspacing="1">
				<thead>
					<tr>
						<th colspan="${len(ticket_activity.columns)+1}">${ticket_activity.title}</th>
					</tr>
					<tr>
						<th rowspan="2">Weeks</th>
					
						<th colspan="${len(ticket_activity.columns) }">Tickets</th>					
					</tr>
					<tr>
						<py:for each="autor in ticket_activity.columns">
							<th>${autor }</th>
						</py:for>
					</tr>
				</thead>
				<tbody>
					<py:for each="row in ticket_activity.results">
					<tr>
						<td>${row[0]}</td>
						<py:for each="data_serie in row[1]">
							<td>${data_serie}</td>
						</py:for>
					</tr>
					</py:for>
				</tbody>
			</table>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script language="javascript" type="text/javascript">
    var repository_activity = ${json.repository_activity};
    var ticket_activity = ${json.ticket_activity};
    var wiki_activity = ${json.wiki_activity};
    //Little hack to let the flash objects load before we send them our data.
    window.onload = function(){
        setTimeout(function () {
            loadActivityChart(repository_activity.chart_info);
            loadUserActivityChart(wiki_activity.chart_info);
            loadUserActivityChart(ticket_activity.chart_info);
        },100);
    };
</script>
</body>
</html>