<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <py:choose test="version.exists">
      <title py:when="True">Edit Version ${version.name}</title>
      <title py:otherwise="">New Version</title>
    </py:choose>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#name").focus();
        if ($.isFunction($.fn.datetimepicker))
          $("#time").datetimepicker();
      });
    </script>
  </head>

  <body>
    <div id="content" class="version">
      <py:choose test="version.exists">
        <h1 py:when="True">Edit Version ${version.name}</h1>
        <h1 py:otherwise="">New Version</h1>
      </py:choose>

      <form id="edit" action="" method="post">
        <div class="field">
          <input type="hidden" name="id" value="${version.name}" />
          <input type="hidden" name="action" value="edit" />
          <label>Name of the version:<br />
            <input type="text" id="name" name="name" size="32" value="${version.name or req.args.get('name')}" />
          </label>
        </div>
        <fieldset>
          <legend>Schedule</legend>
          <div class="field">
            <label>
              Released:<br />
              <input type="text" id="time" name="time"
                     size="${len(datetime_hint)}" title="Format: ${datetime_hint}"
                     value="${format_datetime(version.time)}" />
              <em>Format: ${datetime_hint}</em>
            </label>
            <!--py:if test="milestone_groups">
              <br/>
              <input type="checkbox" id="retarget" name="retarget" checked="${not version.released or None}" />
              <label for="retarget">Retarget associated incomplete milestones to version:</label>
              <select id="target" name="target">
                <option value="">None</option>
                <optgroup py:for="(label, versions) in milestone_groups"
                          py:if="versions" label="${label}">
                  <option py:for="version in versions"
                          py:content="version.name"></option>
                </optgroup>
              </select>
            </py:if!-->
          </div>
        </fieldset>
        <div class="field">
          <fieldset class="iefix">
            <label for="description">Description (you may use <a tabindex="42"
                   href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here):</label>
            <p><textarea id="description" name="description" class="wikitext" rows="10" cols="78">
${version.description}</textarea></p>
          </fieldset>
        </div>
        <div class="buttons" py:choose="version.exists">
          <input py:when="True" type="submit" value="Submit changes" />
          <input py:otherwise="" type="submit" value="Add version" />
          <input type="submit" name="cancel" value="Cancel" />
        </div>
      </form>

    </div>
  </body>
</html>
