.edit, .delete, .add, .copy, .move, .unknown {
	border: 1px solid #999;
	float: left;
	margin: .2em .5em 0 0;
	overflow: hidden;
	width: .8em; height: .8em;
	display: inline;
}

.insidelist, .legendinfo{
	float: left;
}

.helpcheckbox{
    float: left;
    margin-right: .5em;
    display: none;
}

.legendinfo{
	margin-right: .8em;
}

#legendsection{
    margin-top: 20px;
    font-size: 80%;
}

.backtonormalflow{
	clear: both;
	margin-top: 2em;
}

.fileslist{
	list-style-type: none;
	clear: both;
	margin-left: -25px;
}

#listofchangesets{
	display: none;
}

/* Colors for change types */
.edit    { background: #fd8 }
.delete  { background: #f88 }
.add     { background: #bfb }
.copy    { background: #88f }
.move    { background: #ccc }
.unknown { background: #fff }
