.tagcloud li:after { content: " "; }
.tagcloud li.last:after { content: ""; }

.newhack {
  width: 850px;
}

.newhack input[type="text"] {
  width: 65%;
}

.newhack dt {
  font-weight: bold;
}

.newhack dd {
  margin: 1em;
  margin-top: 0em;
}

.info {
  opacity: 0.0;
}

.newhack div.info {
  width: 40ex;
  font-size: xx-small;
  float: right;
  clear: both;
  background: #b0ffb0;
  border: 2px solid #40e040;
  margin: 0em;
  padding: 0.2em 1em;
}
