<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">
  <py:choose test="len(images) &gt; 1">
    
    <!-- multiple images -->
    <py:when test="True">

      <form action="${req.href('ticket', ticket.id, 'image')}"
            method="post">

        <ul class="gallery">
          <py:for each="name, image in images.items()">
            <li py:if="display in image" 
                py:choose="'thumbnail' in image"
                py:attrs="{'class': name == default and 'active' or None}">
              
              <!--! image with thumbnails -->
              <a py:when="True" href="${image[display]}"><img src="${image['thumbnail']}"/></a>
              
              <!--! image without thumbnails -->
              <!--! TODO: something better than this! -->
              <img py:when="False" src="${image[display]}"/>
              

              <!-- set default image -->
              <py:if test="default and 'TICKET_MODIFY' in req.perm">
                <input type="radio" name="default" value="${name}" py:attrs="{'checked': name == default and 'selected' or None}"/>
              </py:if>

            </li>
          </py:for>
        </ul>

        <input py:if="default and 'TICKET_MODIFY' in req.perm" 
               type="submit" value="Set Default Image"/>
      </form>

    </py:when>
      
    <!-- single image -->
    <py:otherwise>
      <img src="${images.values()[0][display]}"/>
    </py:otherwise>
    
  </py:choose>
</html>
