<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

var query = function(action){
    jQuery.ajax({
        'type': "GET",
        'url': get_url()+'/${toggle}/'+action,
        'success': function(data){refresh(jQuery('#${toggle}'),data);},
        'error': function(r){alert("ERROR:\n\n"+r.responseText);}
    });
}

var listeners = function(action){
    jQuery.ajax({
        'type': "GET",
        'url': get_url()+'/${listen}',
        'success': function(data){listen(data);},
        'error': function(r){alert("ERROR:\n\n"+r.responseText);}
    });
}

var get_url = function(){
    return jQuery('link[rel="search"]').attr('href').replace(/\/search/, '');
}


jQuery(document).ready(function(){
    // set the visuals
    query('status');
    
    // toggle on link click
    jQuery('#${toggle}').click(function(e){
        e.preventDefault();
        query('toggle');
        return false;
    });
    
    // setup event listeners
    listeners();
});

</script>
