<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="layout.html"/>
  <head>
    <link type="text/css" href="${href.chrome('watchlist/css/style.css')}" rel="stylesheet" />
    <title>Watchlist</title>
    <meta py:if="version" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <script type="text/javascript">
       // <![CDATA[
      jQuery(document).ready(function($) {
        $("#content").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
        });
       // ]]>
    </script>
    <py:def function="link(realm, resid, text='')">
        <a href="${href(realm,resid)}">${text or ":".join([realm,resid])}</a>
    </py:def>
  </head>

  <body>
    <div id="content" class="watchlist">

        <h1 id="top"><a href="${href.watchlist()}">Watchlist</a></h1>
        <div py:if="action" py:choose="action" id="watchlist-${action}">
            <py:when test="'watch'">
                <py:choose test="">
                    <py:when test="is_watching">
                        <div class="system-message" id="warning">
                            <p class="system-message-title">Already watched</p>
                            <p>Selected ${link(realm,resid)} is already watched.</p>
                        </div>
                    </py:when>
                    <py:otherwise>
                        <div class="system-message" id="notice">
                            <p class="system-message-title">Added to Watchlist</p>
                            <p>The selected ${link(realm,resid)} was added to the watchlist.</p>
                        </div>
                    </py:otherwise>
                </py:choose>
            </py:when>
            <py:when test="'unwatch'">
                <py:choose test="is_watching">
                    <py:when test="True">
                        <div class="system-message" id="notice">
                            <p class="system-message-title">Removed from Watchlist</p>
                            <p>The selected ${link(realm,resid)} was removed from watchlist.</p>
                        </div>
                    </py:when>
                    <py:otherwise>
                        <div class="system-message" id="warning">
                            <p class="system-message-title">Not watched</p>
                            <p>Selected ${link(realm,resid)} couldn't be unwatched because it was not watched.</p>
                        </div>
                    </py:otherwise>
                </py:choose>
            </py:when>
        </div>


      <h2 id="wikis">Wikis</h2>
      <py:choose test="">
      <div class="system-message" py:when="not wiki_perm">You lack permission to view wikis.</div>
      <py:choose test="" py:otherwise="">
      <table class="wikilist" py:when="wikilist">
          <thead>
              <tr>
                  <th py:for="head in (['Page','name'],['Last Changed
                      At','datetime'], ['By','author'],
                      ['Version', 'version'], ['Diff','diff'],
                      ['History','history'], ['Unwatch','unwatch'])"
                      class="${head[1]}">${head[0]}</th>
                  <th py:if="notify"
                      class="notify">Notify</th>
                  <th py:for="head in (['Comment','comment'],)"
                      class="${head[1]}">${head[0]}</th>
              </tr>
          </thead>
          <tbody>
              <tr py:for="page in wikilist">
                  <td class="name">${link('wiki',page.name,text=page.name)}</td>
                  <td class="datetime">$page.datetime
                      <py:if test="page.timedelta"> (<a
                          href="$page.timeline_link">$page.timedelta</a> ago)</py:if></td>
                  <td class="author">$page.author</td>
                  <td class="version"><a py:if="not page.deleted"
                          href="${href('wiki',page.name,version=page.version)}">$page.version</a></td>
                  <td class="diff"><a py:if="not page.deleted"
                          href="${href('wiki',page.name,action='diff',version=page.version)}">Diff</a></td>
                  <td class="history"><a py:if="not page.deleted"
                          href="${href('wiki',page.name,action='history')}">History</a></td>
                  <td class="unwatch"><a href="${href.watchlist(action='unwatch',realm='wiki',resid=page.name)}">Unwatch</a></td>
                  <td class="notify" py:if="notify">
                    <span class="notifyon" py:if="page.notify">On</span>
                    <a class="notifyon" py:if="page.notify" 
                      href="${href.watchlist(action='notifyoff',realm='wiki',resid=page.name)}">
                      (turn off)</a>
                    <span class="notifyoff" py:if="not page.notify">Off</span>
                    <a class="notifyoff" py:if="not page.notify" 
                      href="${href.watchlist(action='notifyon',realm='wiki',resid=page.name)}">
                      (turn on)</a>
                  </td>
                  <td class="comment">$page.comment</td>
              </tr>
          </tbody>
          <tfoot>
          </tfoot>
      </table>
      <span py:otherwise="">No wikis are currently watched.</span>
      </py:choose>
      </py:choose>

      <h2 id="tickets">Tickets</h2>
      <py:choose test="">
      <div class="system-message" py:when="not ticket_perm">You lack permission to view tickets.</div>
      <py:choose test="" py:otherwise="">
      <table class="ticketlist" py:when="ticketlist">
          <thead>
              <tr>
                  <th py:for="head in (['Ticket','id'],['Last Changed At','datetime'],
                      ['By','author'], ['Comment #','commentnum'], ['Unwatch','unwatch'])"
                      class="${head[1]}">${head[0]}</th>
                  <th py:if="notify"
                      class="notify">Notify</th>
                  <th py:for="head in (['Changes','changes'], ['Comment','comment'])"
                      class="${head[1]}">${head[0]}</th>
              </tr>
          </thead>
          <tbody>
              <tr py:for="ticket in ticketlist">
                  <td class="id">${link('ticket', ticket.id, text='#' + ticket.id)}</td>
                  <td class="datetime">$ticket.datetime
                      <py:if test="ticket.timedelta"> (<a
                          href="$ticket.timeline_link">$ticket.timedelta</a> ago)</py:if></td>
                  <td class="author">$ticket.author</td>
                  <td class="commentnum">
                      <a href="${href('ticket',ticket.id) + ((ticket.commentnum != '0') and ('#comment:'
                          + ticket.commentnum) or '')}">$ticket.commentnum</a></td>
                  <td class="unwatch"><a
                          href="${href.watchlist(action='unwatch',realm='ticket',resid=ticket.id)}">Unwatch</a></td>
                  <td class="notify" py:if="notify">
                    <span class="notifyon" py:if="ticket.notify">On</span>
                    <a class="notifyon" py:if="ticket.notify" 
                      href="${href.watchlist(action='notifyoff',realm='ticket',resid=ticket.id)}">
                      (turn off)</a>
                    <span class="notifyoff" py:if="not ticket.notify">Off</span>
                    <a class="notifyoff" py:if="not ticket.notify" 
                      href="${href.watchlist(action='notifyon',realm='ticket',resid=ticket.id)}">
                      (turn on)</a>
                  </td>
                  <td class="changes">$ticket.changes</td>
                  <td class="comment">$ticket.comment</td>
              </tr>
          </tbody>
          <tfoot>
          </tfoot>
      </table>
      <span py:otherwise="">No tickets are currently watched.</span>
      </py:choose>
      </py:choose>

    </div>
  </body>
</html>
