<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="downloads-macros.html"/>
  <xi:include href="admin.html"/>
  <head>
    <title>Downloads</title>
  </head>

  <body>
    <h2>Downloads</h2>
    <form class="addnew" enctype="multipart/form-data" method="post" action="${panel_href()}">
      <fieldset>
        <legend>
          <py:choose>
            <py:when test="downloads.download.id">
              Edit Download:
            </py:when>
            <py:otherwise>
              Add Download:
            </py:otherwise>
          </py:choose>
        </legend>

        <div py:if="not downloads.download.id" class="field">
          <label for="file">File:</label><br/>
          <input type="file" id="file" name="file" /><br/>
        </div>

        <div class="field">
          <label for="description">Description:</label><br/>
          <input type="text" id="description" name="description" value="${downloads.download.description}"/><br/>
        </div>

        <div py:if="downloads.has_tags" class="field">
          <label for="tags">Additional Tags:</label><br/>
          <input type="text" id="tags" name="tags" value="${downloads.download.tags}"/><br/>
        </div>

        <div class="component">
          <label for="component">Component:</label><br/>
          <select id="component" name="component">
            <py:for each="component in downloads.components">
              <py:choose>
                <option py:when="downloads.download.component == component.name" value="${component.name}" selected="selected">${component.name}</option>
                <option py:otherwise="" value="${component.name}">${component.name}</option>
              </py:choose>
            </py:for>
          </select><br/>
        </div>

        <div class="version">
          <label for="version">Version:</label><br/>
          <select id="version" name="version">
            <py:for each="version in downloads.versions">
              <py:choose>
                <option py:when="downloads.download.version == version.name" value="${version.name}" selected="selected">${version.name}</option>
                <option py:otherwise="" value="${version.name}">${version.name}</option>
              </py:choose>
            </py:for>
          </select><br/>
        </div>

        <div class="architecture">
          <label for="architecture">Architecture:</label><br/>
          <select id="architecture" name="architecture">
            <py:for each="architecture in downloads.architectures">
              <py:choose>
                <option py:when="downloads.download.architecture == architecture.id" value="${architecture.id}" selected="selected">${architecture.name}</option>
                <option py:otherwise="" value="${architecture.id}">${architecture.name}</option>
              </py:choose>
            </py:for>
          </select><br/>
        </div>

        <div class="platform">
          <label for="platform">Platform:</label><br/>
          <select id="platform" name="platform">
            <py:for each="platform in downloads.platforms">
              <py:choose>
                <option py:when="downloads.download.platform == platform.id" value="${platform.id}" selected="selected">${platform.name}</option>
                <option py:otherwise="" value="${platform.id}">${platform.name}</option>
              </py:choose>
            </py:for>
          </select><br/>
        </div>

        <div class="type">
          <label for="type">Type:</label><br/>
          <select id="type" name="type">
            <py:for each="type in downloads.types">
              <py:choose>
                <option py:when="downloads.download.type == type.id" value="${type.id}" selected="selected">${type.name}</option>
                <option py:otherwise="" value="${type.id}">${type.name}</option>
              </py:choose>
            </py:for>
          </select><br/>
        </div>

        <div class="buttons">
          <py:choose>
            <py:when test="downloads.download.id">
              <input type="submit" name="submit" value="Edit"/>
              <input type="button" name="cancel" value="Cancel" onclick="location.href = '${panel_href()}?order=${downloads.order};desc=${downloads.desc}'"/>
              <input type="hidden" name="id" value="${downloads.download.id}"/>
              <input type="hidden" name="action" value="post-edit"/>
            </py:when>
            <py:otherwise>
              <input type="submit" name="submit" value="Add"/>
              <input type="hidden" name="action" value="post-add"/>
            </py:otherwise>
          </py:choose>
          <input type="hidden" name="order" value="${downloads.order}"/>
          <input type="hidden" name="desc" value="${downloads.desc}"/>
        </div>
      </fieldset>
    </form>

    <py:choose>
      <py:when test="len(downloads.downloads) > 0">
        <form id="downloads_table" method="post" action="${panel_href()}?order=${downloads.order};desc=${downloads.desc}">
          <table class="listing">
            <thead>
              <tr>
                <th class="sel">&nbsp;</th>
                ${sortable_th(downloads.order, downloads.desc, 'id', 'ID', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'file', 'File', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'description', 'Description', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'size', 'Size', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'time', 'Uploaded', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'count', 'Downloads', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'author', 'Uploader', panel_href())}
                <py:if test="downloads.has_tags">
                  ${sortable_th(downloads.order, downloads.desc, 'tags', 'Tags', panel_href())}
                </py:if>
                ${sortable_th(downloads.order, downloads.desc, 'component', 'Component', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'version', 'Version', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'architecture', 'Architecture', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'platform', 'Platform', panel_href())}
                ${sortable_th(downloads.order, downloads.desc, 'type', 'Type', panel_href())}
              </tr>
            </thead>
            <tbody>
              <py:for each="line, download in enumerate(downloads.downloads)">
                <tr class="${line % 2 and 'even' or 'odd'}">
                  <td class="sel">
                    <input type="checkbox" name="selection" value="${download.id}"/>
                  </td>

                  <td class="id">
                    <div class="id">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.id}
                      </a>
                    </div>
                  </td>

                  <td class="file">
                    <div class="file">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.file}
                      </a>
                    </div>
                  </td>

                  <td class="description">
                    <div class="description">
                      ${wiki_to_oneliner(context(parent), download.description)}
                    </div>
                  </td>

                  <td class="size">
                    <div class="size">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${pretty_size(download.size)}
                      </a>
                    </div>
                  </td>

                  <td class="time">
                    <div class="time">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${format_datetime(download.time)}<br/>(${pretty_timedelta(download.time)} ago)
                      </a>
                    </div>
                  </td>

                  <td class="count">
                    <div class="count">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.count or '0'}
                      </a>
                    </div>
                  </td>

                  <td class="author">
                    <div class="author">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.author}
                      </a>
                    </div>
                  </td>

                  <td py:if="downloads.has_tags" class="tags">
                    <div class="tags">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.tags}
                      </a>
                    </div>
                  </td>

                  <td class="component">
                    <div class="component">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.component}
                      </a>
                    </div>
                  </td>

                  <td class="version">
                    <div class="version">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.version}
                      </a>
                    </div>
                  </td>

                  <td class="architecture">
                    <div class="architecture">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.architecture.name}
                      </a>
                    </div>
                  </td>

                  <td class="platform">
                    <div class="platform">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.platform.name}
                      </a>
                    </div>
                  </td>

                  <td class="type">
                    <div class="type">
                      <a href="${panel_href(download.id)}?order=${downloads.order};desc=${downloads.desc}">
                        ${download.type.name}
                      </a>
                    </div>
                  </td>
                </tr>
              </py:for>
            </tbody>
          </table>

          <div class="buttons">
            <input type="submit" name="remove" value="Remove selected items" />
            <input type="hidden" name="action" value="delete"/>
          </div>
        </form>

      </py:when>

      <py:otherwise>
        <p class="help">As long as you don't add any items to the list, this field
          will remain completely hidden from the user interface.</p>
        <br style="clear: right"/>
      </py:otherwise>
    </py:choose>

  </body>
</html>
