/*
_______________________________
BASE */

@import url(css/tripoli.base.css);

/*
_______________________________
PLUGINS */

@import url(css/tripoli.visual.css);
@import url(css/tripoli.type.css);


body {
	margin : 0 !important;
	padding : 0 !important;
}

html {
background-color : #2b5b97 !important;
}

hr {
display : none !important;
}


.content textarea,.content input[type='text'] {
color : #666;
}


a:link {
color : #0082b6;
}

a:hover {
color : #2aaf00;
}

a:visited {
color : #0082b6;
}




#header, 
#main,
#footer {
width : 100%;
float : left;
}


#page-heading {
background : #fff url(./images/heading-bg.png) repeat-x;
height : 159px;
}

#page-heading .content {
height : 159px;
}



#page-heading h1 a, 
#page-heading h2 span, 
#page-heading h2 a {
text-indent : -9999em;
overflow : hidden;
float : left;
}

#page-heading h1 a {
background : transparent url(./images/logo.png) no-repeat;
margin : 35px 0 0 20px;
width : 201px;
height : 54px;
text-decoration : none;
border : none;
}

#page-heading h1 a:hover {
background-position : bottom;
}

#page-heading h3 {
clear : both;
font : normal normal normal 4.5em/.85em georgia, serif;
margin : 0 0 0 .15em;
padding : .5em 0 0 0;
}


#page-heading .content, 
#main .content, 
#footer .content {
width : 1000px;
margin : 0 auto;
}

#page-heading h1,  
#page-heading h2, 
#page-heading .nav li {
margin : 0;
float : left;
}






/* nav */

#page-heading ul.nav {
	background : transparent;
	border : none;
	padding : 0;
	margin : 0;
}




#nav-citations a {
width : 82px;
background : transparent url(./images/nav-citations.png) no-repeat;
}

#nav-reports a {
width : 72px;
background : transparent url(./images/nav-reports.png) no-repeat;
}


#nav-about a {
width : 60px;
background : transparent url(./images/nav-about.png) no-repeat;
}


#page-heading #main-nav li a {
height : 27px;
margin-top : 42px;
text-indent : -999999em;
overflow : hidden;
float : left;
border : 0;
list-style-type : none;
border : none;
padding : 0;
float : left;
margin-left : 65px;
}


#page-heading .nav li a:hover {
background-position : bottom; 
}


#page-heading #metanav  ul,
#page-heading #mainnav ul {
float : right;
clear : right;
}

#page-heading #metanav ul {
margin : 4px 0 0 0;
-moz-border-radius : 8px;
-webkit-border-radius : 8px;
border-radius : 8px;
background-color : #2e5b93;
}

#page-heading #metanav li {
color : #d7d7d7;
height : 15px;
line-height : 14px;
font-size : 9px;
padding : 2px 9px;
}


#page-heading #metanav a {
margin-left : .5em;
text-transform : uppercase;
}

#page-heading #metanav.nav li a {
text-indent : 0;
}

#page-heading #metanav a:link, 
#page-heading #metanav a:visited  {
color : #a2c2e9;
text-decoration : none;
font-size : 1em;
border-bottom : none;
}

#page-heading #metanav a:hover {
border-bottom : none;
background : transparent;
color : #fff;
}





#page-heading #mainnav li, 
#page-heading .nav li  {
border : none;
}

#page-heading #mainnav li {
margin-top : 37px;
}

#page-heading #mainnav li a {
font : normal normal bold 1.2em/2em Lucida Grande, Helvetica, Sans-serif;
text-decoration : none;
margin-right : .75em;
}


#mainnav :link, 
#mainnav :visited {
background-image : none;	
}

#mainnav a:link, 
#mainnav a:visited,
#mainnav a:hover {
border-width : 0;
margin : 0;
padding : .4em 1em;
color : #0082b6;
}


#mainnav a:link:hover, 
#mainnav a:visited:hover {
border : none;
background-color : #dddddd;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
}


#mainnav .active a:link, 
#mainnav .active a:visited, 
#mainnav .active a:hover {
border : none !important;
background : #7bc52d;
color : #fff;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
margin : 0;

}

#mainnav .active a:hover {
background-color : #1f8100;
}

#mainnav .active :link:hover, 
#mainnav .active :visited:hover {
border-width : 0 !important;
}



/* ***** Tool Panel (search, new ticket) ***** */

.toolpanel {
z-index : 9;
position : relative;
float : left;
width : 100%;
clear : both;
border-bottom : 1px solid #f4f4f4;
}

a#newticket {
float : left;
padding : .15em 1em .2em 1em;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
background : #ccc url(./images/body-bg.png) repeat-x 0 -30px;
border-top : 1px solid #ccc;
border-left : 1px solid #a7a7a7;
border-right : 1px solid #ccc;
border-bottom : 1px solid #a7a7a7;
color : #27a300;
font-weight : bold;
clear : none;
}

#newticket:hover { 
color : #0082b6;
background-position : top;
}

#search {
float : right;
clear : none;
height : auto;
margin : 19px 0 0 0;
}

#search div {
margin : 0;
padding : 0;
}


#search label {
background : transparent url(./images/search-label.png) no-repeat;
float : left;
text-indent : 99999em;
overflow : hidden;
width : 91px;
height : 28px;
display : block !important;
}

#search #proj-search {
background : transparent url(./images/search-bg.png) repeat-x;
border : 0;
font-size : 12px;
color : #fff;
height : 16px; /* 28px after padding */
padding : 6px 0;
width : 150px;
margin : 0;
float : left;
}

#search input[type='text']:hover {
border : 0;
}

#search input[type='text']:focus {
outline : 0;
border : 0;
}


#search .search-submit {
background : transparent url(./images/search-edge.png) no-repeat;
float : left;
width : 14px;
height : 28px;
text-indent : -9999em;
overflow : hidden;
border : 0;
margin : 0; 
padding : 0;
}


#ctxtnav {
z-index : 9;
position : relative;
float : right;
clear : both;
width : 100%;
margin : .5em 0 1.5em 0; 
}



/* ***** Subhead ***** */
#subhead {
width : 100%;
float : left;
}

.tagline {
float : left;
width : 314px;
height : 18px;
margin : 13px 0 0 20px;
background : transparent url(./images/tagline.png) no-repeat;
text-indent : -999em;
overflow : hidden;
}

.cite-button {
float : left;
margin-left : 360px;
}

.cite-button .know {
float : left; 
width : 154px;
height : 16px;
margin-top : 13px;
background : transparent url(./images/know.png) no-repeat;
text-indent : -999em;
overflow : hidden;
}

.cite-button a {
float : left; 
width : 128px;
height : 31px;

margin : 4px 0 0 20px !important;
background : transparent url(./images/cite-button.png) no-repeat;
text-indent : -999em;
overflow : hidden;
border : 0;
}


.cite-button a:hover {
background-position : 0 -31px;
}

.cite-button a:active {
background-position : 0 -62px;
}


/* ***** BODY ***** */

#main {
background : #fff url(./images/body-bg.png) repeat-x;
}


#main .content {
margin : 0 auto;
background-color : #fff;
padding : 1em 25px 2em 25px;
width : 942px;
}


#content h1 {
margin-top : 0;
}





/* ***** FOOTER ***** */



#footer {
color : #daf8ff;
background-color : #2b5b97;
padding-bottom : 5em;
padding : 2em 0 4em 0;
}

#footer a, 
#footer :link, 
#footer :visited {
color : #fff;
padding : 0 .25em;
border : none;
text-decoration : underline;
}


#footer a:hover {
background : #3ea4bb;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
text-decoration : none;
}



#footer p.left {
border : none;
}

#footer #tracpowered, 
#footer #tracpowered:hover {
background : #fff;
padding : .65em .4em .2em 0em;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
}

#footer #tracpowered img {

}


/*
_______________________________
Wiki Styles */

.wikipage {
padding : 0;
}

.wiki-toc {
margin-top : 1em;
}

.content .wiki-toc h4 {
margin-top : .5em;
}




/*
_______________________________
Maps */

.report-map {
float : left;
width : 100%;
height : 500px;
border : 1px solid #ccc;
}







/*
_______________________________
New Ticket */


.content th, 
.content td, 
.content table {
border : none !important;
}

#properties table td { 
vertical-align : top;
padding : 0;
}


.content form .wikitoolbar {
padding : 0;
margin-left : 2px;
}

.content #properties textarea {
padding : 0;

}

fieldset#properties {
border : none;
}

fieldset#properties legend {
padding : 0 0 1em 0;
}


.ticket-photo {
max-width : 500px;
border : 1px solid #666;
}

.ticket-map {
float : left;
width : 420px;
height : 300px;
border : 1px solid #ccc;
}

.photos {
float : left;
}

.location {
float : right;
}


.location span {
float : left;
clear : both;

}

.location .ticket-map {
float : left;
clear : both;
}



/*
_______________________________
Trac Admin */


#tabs {

}

#tabcontent {

}

#tabcontent h2 {
margin-top : 0;
}

#tabcontent fieldset {
border : none;
padding : 0;
}

#tabcontent fieldset legend {
padding : 0;
}

