.message { 
  color:green;
  border:2px solid green;
  font-weight:bold;
  padding:5px;
  margin:5px;
}

.numberCell{ 
  text-align:right;
  border:1px solid blue;
  width:80px;
}

.fieldLabel{ 
  font-weight:bold;
  text-align:right;
}

th{ 
  font-weight:bold;
} 

del, del table tr td, del table tr th{ 
text-decoration: line-through;
}