
/*
_______________________________
BASE */

@import url(css/tripoli.base.css);

/*
_______________________________
PLUGINS */

@import url(css/tripoli.visual.css);
@import url(css/tripoli.type.css);


body {
	margin : 0 !important;
	padding : 0 !important;
}

html {
background-color : #2b5b97 !important;
}

hr {
display : none !important;
}


.content textarea,.content input[type='text'] {
color : #666;
}


a:link {
color : #0082b6;
}

a:hover {
color : #2aaf00;
}

a:visited {
color : #0082b6;
}




#header, 
#main,
#footer {
width : 100%;
float : left;
}


#page-heading {
background : #fff url(./images/heading-bg.png) repeat-x;
height : 128px;
}

#page-heading .content {
height : 128px;
}



#page-heading h1 a, 
#page-heading h2 span, 
#page-heading h2 a {
text-indent : -9999em;
overflow : hidden;
float : left;
}

#page-heading h1 a {
background : transparent url(./images/logo.png) no-repeat;
margin : 31px 0 0 0;
width : 250px;
height : 72px;
text-decoration : none;
border : none;
}

#page-heading h1 a:hover {
background-position : bottom;
}

#page-heading h3 {
clear : both;
font : normal normal normal 4.5em/.85em georgia, serif;
margin : 0 0 0 .15em;
padding : .5em 0 0 0;
}


#page-heading .content, 
#warning, 
#main .content, 
#footer .content {
width : 1000px;
margin : 0 auto;
}

#page-heading h1,  
#page-heading h2, 
#page-heading .nav li {
margin : 0;
float : left;
}






/* nav */

#page-heading ul.nav {
	background : transparent;
	border : none;
	padding : 0;
	margin : 0;
}




#nav-issues a {
width : 54px;
background : transparent url(./images/nav-issues.png) no-repeat;
}

#nav-reports a {
width : 71px;
background : transparent url(./images/nav-reports.png) no-repeat;
}


#nav-about a {
width : 62px;
background : transparent url(./images/nav-about.png) no-repeat;
}


#page-heading #main-nav li a {
height : 27px;
margin-top : 42px;
text-indent : -999999em;
overflow : hidden;
float : left;
border : 0;
list-style-type : none;
border : none;
padding : 0;
float : left;
margin-left : 61px;
}


#page-heading .nav li a:hover {
background-position : bottom; 
}


#page-heading #metanav  ul,
#page-heading #mainnav ul {
float : right;
clear : right;
}

#page-heading #metanav ul {
margin : 4px 0 0 0;
-moz-border-radius : 8px;
-webkit-border-radius : 8px;
border-radius : 8px;
background-color : #2e5b93;
}

#page-heading #metanav li {
color : #d7d7d7;
height : 15px;
line-height : 14px;
font-size : 9px;
padding : 2px 9px;
}


#page-heading #metanav a {
margin-left : .5em;
text-transform : uppercase;
}

#page-heading #metanav.nav li a {
text-indent : 0;
}

#page-heading #metanav a:link, 
#page-heading #metanav a:visited  {
color : #a2c2e9;
text-decoration : none;
font-size : 1em;
border-bottom : none;
}

#page-heading #metanav a:hover {
border-bottom : none;
background : transparent;
color : #fff;
}





#page-heading #mainnav li, 
#page-heading .nav li  {
border : none;
}

#page-heading #mainnav li {
margin-top : 37px;
}

#page-heading #mainnav li a {
font : normal normal bold 1.2em/2em Lucida Grande, Helvetica, Sans-serif;
text-decoration : none;
margin-right : .75em;
}


#mainnav :link, 
#mainnav :visited {
background-image : none;	
}

#mainnav a:link, 
#mainnav a:visited,
#mainnav a:hover {
border-width : 0;
margin : 0;
padding : .4em 1em;
color : #0082b6;
}


#mainnav a:link:hover, 
#mainnav a:visited:hover {
border : none;
background-color : #dddddd;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
}


#mainnav .active a:link, 
#mainnav .active a:visited, 
#mainnav .active a:hover {
border : none !important;
background : #7bc52d;
color : #fff;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
margin : 0;

}

#mainnav .active a:hover {
background-color : #1f8100;
}

#mainnav .active :link:hover, 
#mainnav .active :visited:hover {
border-width : 0 !important;
}



/* ***** Tool Panel (search, new ticket) ***** */

.toolpanel {
z-index : 9;
position : relative;
float : left;
width : 100%;
clear : both;
border-bottom : 1px solid #f4f4f4;
}

a#newticket {
float : left;
padding : .15em 1em .2em 1em;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
background : #ccc url(./images/body-bg.png) repeat-x 0 -30px;
border-top : 1px solid #ccc;
border-left : 1px solid #a7a7a7;
border-right : 1px solid #ccc;
border-bottom : 1px solid #a7a7a7;
color : #27a300;
font-weight : bold;
clear : none;
}

#newticket:hover { 
color : #0082b6;
background-position : top;
}

#search {
float : right;
clear : none;
height : auto;
margin : 19px 0 0 0;
}

#search div {
margin : 0;
padding : 0;
}


#search label {
background : transparent url(./images/search-label.png) no-repeat;
float : left;
text-indent : 99999em;
overflow : hidden;
width : 91px;
height : 28px;
display : block !important;
}

#search #proj-search {
background : transparent url(./images/search-bg.png) repeat-x;
border : 0;
font-size : 12px;
color : #fff;
height : 16px; /* 28px after padding */
padding : 6px 0;
width : 150px;
margin : 0;
float : left;
}

#search input[type='text']:hover {
border : 0;
}

#search input[type='text']:focus {
outline : 0;
border : 0;
}


#search .search-submit {
background : transparent url(./images/search-edge.png) no-repeat;
float : left;
width : 14px;
height : 28px;
text-indent : -9999em;
overflow : hidden;
border : 0;
margin : 0; 
padding : 0;
}


#ctxtnav {
clear : both;
width : 100%;
background-color : #F2F2F2;
border-top : 1px solid #E9E9E9;
padding : 1em 0 1.25em 0;
margin-top : 2em;
}





/* ***** Subhead ***** */
#subhead {
width : 100%;
float : left;
}

.tagline {
float : left;
width : 314px;
height : 18px;
background : transparent url(./images/tagline.png) no-repeat;
text-indent : -999em;
overflow : hidden;
}

.enterprise-edition .tagline {
	background : transparent url(./images/tagline-ee.png) no-repeat;
}

.cite-button {
float : left;
margin-left : 383px;
}

.report-button {
float : left;
margin-left : 500px;
}

.cite-button .know {
float : left; 
width : 154px;
height : 16px;
background : transparent url(./images/know.png) no-repeat;
text-indent : -999em;
overflow : hidden;
}

.cite-button a {
float : left; 
width : 128px;
height : 31px;
margin : -10px 0 0 20px !important;
background : transparent url(./images/cite-button.png) no-repeat;
text-indent : -999em;
overflow : hidden;
border : 0;
}

.report-button a {
float : left; 
width : 162px;
height : 31px;
margin : -10px 0 0 20px !important;
background : transparent url(./images/report-button.png) no-repeat;
text-indent : -999em;
overflow : hidden;
border : 0;
}

.report-button a:hover {
background-position : 0 -31px;
}

.report-button a:active {
background-position : 0 -62px;
}


/* ***** BODY ***** */

#main {
background : #f6f5f6 url(./images/main-bg.png) top repeat-x;
}


#main .content {
background-color : #fff;
}


#content h1 {
margin-top : 0;
}





/* ***** FOOTER ***** */



#footer {
color : #daf8ff;
background-color : #2b5b97;
padding-bottom : 5em;
padding : 2em 0 4em 0;
}

#footer a, 
#footer :link, 
#footer :visited {
color : #fff;
border : none;
text-decoration : underline;
}


#footer a:hover {
background : #3ea4bb;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
text-decoration : none;
}



#footer p.left {
border : none;
}

#footer #tracpowered, 
#footer #tracpowered:hover {
background : #fff;
padding : .65em .4em .2em 0em;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius : 5px;
}

#footer #tracpowered img {

}


/*
_______________________________
Wiki Styles */

.wikipage {
padding : 0;
}

.wiki-toc {
margin-top : 1em;
}

.content .wiki-toc h4 {
margin-top : .5em;
}




/*
_______________________________
Maps */

.report-map {
float : left;
width : 100%;
height : 360px;
border : 1px solid #ccc;
}







/*
_______________________________
New Ticket */


.content th, 
.content td, 
.content table {
border : none !important;
}

#properties table td { 
vertical-align : top;
padding : 0;
}


.content form .wikitoolbar {
padding : 0 3px 0 0;
width : 100%;
background-color : #F2F2F2;
}

.iefix .wikitoolbar {
padding-right : 9px !important;
}

.content form .wikitoolbar #img {
border-right : 1px solid #ccc;
}

.content #properties textarea {
padding : 0;

}

fieldset#properties {
border : none;
float : left;
}

fieldset#properties legend {
padding : 0 0 1em 0;
}


.ticket-photo {
max-width : 488px;
border : 1px solid #666;
}

.ticket-map {
float : left;
width : 430px;
height : 325px;
border : 1px solid #ccc;
}

#map {
margin-bottom : 2.5em !important;
}

#propertyform #map {
background : transparent url(./images/blank-map.jpg) !important;
}


#map_OpenLayers_ViewPort {
padding : 0 !important;
}

.photos {
margin-bottom : 2em;
float : left;
}

.location {
float : right;
}


.location span {
float : left;
clear : both;

}



/*
_______________________________
Trac Admin */


#tabs {

}

#tabcontent {

}

#tabcontent h2 {
margin-top : 0;
}

#tabcontent fieldset {
border : none;
padding : 0;
}

#tabcontent fieldset legend {
padding : 0;
}



/*
_______________________________
ticket display edits */


#main .content {
border : 1px solid #e9e9e9;
margin-top : 2em !important;
}


.ticket-properties {
color : #a1a1a1;
background : #f0f1f1 url(./images/ticket-properties-bg.png) bottom repeat-x !important;
padding : 1em 0 .75em 0;
float : left;
width : 100%;
}

.ticket-properties a {
color : #666;
}

.ticket-properties a:hover {
color : #000;
}

.ticket-properties div {
float : left;
margin-top : .2em;
line-height : 1.75em;
}


.ticket-properties .summary-meta {
color : #8a8a8a;
margin : 0 15px;
font-weight : bold;
font-family : Myriad, Arial, sans-serif;
font-size : 1.2em;
}

.ticket-properties .summary-meta .status {
color : #a4a4a4;
}

.ticket-properties .authorship .searchable, 
.edit-activity .date .created-date {
padding-right : 12px;
}


.edit-activity {
float : right !important;
width : 430px;
margin-right : 18px;
padding : 0 !important;
}

.edit-activity .date {
padding : 0;
}

.edit-activity a.ticket-edit {
float : right;
width : 61px;
height : 23px;
background : transparent url(./images/edit-button.png) no-repeat;
text-indent : -999em;
overflow : hidden;
border : 0;
}

.edit-activity a.cancel {
background : transparent url(./images/cancel-button.png) no-repeat;
width : 67px;
}

.edit-activity a.ticket-edit:hover {
background-position : 0 -23px;
}

.edit-activity a.ticket-edit:active {
background-position : 0 -46px;
}

fieldset .ticket-heading .summary, 
fieldset .ticket-heading .location {
margin-bottom : .5em;
}

fieldset .ticket-heading input {
margin : 0;
}


.ticket-heading {
float : left;
padding : 2em 0 1em 0;
}

.ticket-heading .summary, 
.ticket-heading .location {
float : left;
}


.ticket-heading .summary { 
width : 534px;
margin : 0;
}

.ticket-heading .summary input, 
.ticket-heading .location input {
width : 475px;
font-size : 2em;
}

.ticket-heading .summary input, 
.ticket-heading .location input, 
.content-meta .data input {
color : #000;
border : 1px solid #E6E6E6;
border-bottom-color : #ccc;
}


.ticket-heading .location input, 
.ticket-heading .location {
width : 416px !important;

margin-right : 0;
margin-left : 0;
}


.ticket-heading label, 
.data label {
display : block;
color : #666;
text-transform : uppercase;
font-size : .85em;
}


.ticket-heading, 
.ticket-body {
margin-left : 17px;
}

.content #propertyform #map {
padding-bottom : 0;
}

#propertyform .ticket-heading, 
#propertyform .ticket-body {
margin-left : 0;
}


.ticket-body {
width : 100%;
clear : both;
float : left;
margin-bottom : 2em;
}


.content-main {
float : left;
width : 534px;
}





fieldset.photo-upload {
width : 489px;
height : 326px;
margin : 0 0 2em 0 !important;
border : 1px solid #ccc;
background : transparent url(./images/image-upload-bg.png);
}

fieldset.photo-upload legend {
display : none;
}


.image-uploader {
background : transparent url(./images/images-icon.png) center left no-repeat;
width : 276px; /* 380px with padding */
height : 100px;
padding : 55px 0 0 104px;
margin : 65px 0 0 70px !important; 
color : #fff;
}


.content-meta {
float : left;
width : 400px;
}


.content-meta .data {
margin-bottom : 2.5em !important ;
float : left;
clear : both;
width : 430px;
}

#propertyform .content-meta .data {
margin-top : 0 !important;
}

.content form#propertyform div {
padding-bottom : .001em;
}

.content form#propertyform div.field {
float : left;
}

.data label {
display : block;
}


.content-meta .data label {
color : #3D3A3D !important;
}

.data label .explanation {
font-size : .8em;
color : #959595;
}

.content-meta .data input {
width : 420px;
font-size : 1.5em;
}

.content-meta .attachment input {
float : left;
margin-right : .5em;
}

#attachfile input {
width : auto;
font-size : 1em;
border-left : 1px solid #ccc;
padding : .3em .4em;
color : #666;
}

.custom-fields {
display : none;		
}

.ticket-map  {
float : left;
clear : both;
}

.description, 
#field-description  {
float : left;
width : 488px;
}




.content .data  h4, 
.content .attachments  h2  {
font-weight : normal;
font-size : .9em;
border-bottom : 1px solid #ccc;
color : #666;
text-transform : uppercase;
margin : 0 0 .5em 0;
}

.content .description  h4 .lastmod {
color : #9b9b9b;
padding-left : 1em;
text-transform : none;
}

.content .description  h3 .lastmod a {
border-bottom : none;
color : #4c4c4c;
}

#attachments {
border : 0;
padding : 0;
}

#attachments dl, 
#attachments dt, 
#attachments dd { 
font-weight : normal;
margin : 0 !important;
list-style-type : none;
}

#attachments dt {
padding-bottom : 1em;

}

#attachments dd { 
display : none;
}


#changelog, 
#propertyform {
margin : 0 0 0 17px;
width : 960px;
float : left;
}

.ticket #propertyform {
float : none;
}

#changelog {
background-color : #fbfbfb;
padding : 0;
border-bottom : 1px solid #999 !important;
border-right : 1px solid #999 !important;
margin-bottom : 2em;
}

.content #changelog h2 {
width : 948px;
background-color : #f0f1f1;
margin : 0;
padding : .5em 0 .5em 12px;
border-bottom : 1px solid #ccc;
}

#changelog .printableform {
padding : 0 1em;
margin : 0;
}

#changelog.collapsed form {
display : none;
}

#changelog .printableform .change {
padding : 0;
}

#propertyform .field {
width : 950px;
}

#propertyform fieldset {
padding : 0;
}

.buttons {
text-align : right;
clear : both;
}


/*
_______________________________
Content Pages */

.content #content {
padding : 17px 17px 0 17px;
margin-bottom : 2em;
}

#content.content {
padding-bottom : 0;
margin-bottom : 2em;
}

/*
_______________________________
Query / report pages */

h2.report-result {
clear : both;
}


#query fieldset {
margin-bottom : 4em;
background-color : #F2F2F2 !important;
padding : .6em .6em .25em .6em;
}


#query fieldset.collapsed {
background-color : #fff !important;
}

#query fieldset.collapsed legend.foldable a {
margin-bottom : 1em !important;
}

#query fieldset legend.foldable {
float : left;
padding  :0;
margin :0;
}

#query fieldset#filters legend.foldable a, 
#query fieldset#columns legend.foldable a, 
#query fieldset#geo legend.foldable a {
float : left;
padding : 0 0 0 1.5em;
margin : -1.8em 0 0 -.6em;
border-bottom : 1px solid #ccc;
}

#query fieldset.collapsed legend a {
border : none !important;
}




/*
_______________________________
Warning messages
*/

#warning {
border : 1px solid orange !important;
width : 550px; /* 600px after padding */
padding : 20px 25px;

position : absolute;
top : 130px; 
left : 50%;
margin-left : -275px;
z-index : 10;
-webkit-box-shadow: rgb(136, 136, 136) 7px 7px 7px;
-mozilla-box-shadow: rgb(136, 136, 136) 7px 7px 7px;
}

 

/*
_______________________________
Attachments page 
*/

table.code {
width : auto;	
}