div.sidebar {
    float: right;
    width: 200px;
}

p.error {
    padding: 3px;
    font-weight: bold;
}

div.success {
    background: #bfb;
    border: 2px solid #484;
    padding: 0.5em;
    margin: 1em 0;
}

div.information {
    padding: 0 0 15px 30px!important;
    color: #555;
}

div.information p.metainfo {
    font-size: smaller;
    line-height: 100%;
}

dt {
    font-weight: bold;
    margin-top: 5px;
}

div.formwrapper {
    margin-right: 210px;
}

textarea {
    width: 100%;
}
