<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>准备区别</title>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#anydiff input[@name$='_path']").suggest();
      });
    </script>
  </head>

  <body>
    <div id="content" class="changeset">
      <div id="title">
        <h1>准备区别</h1>
      </div>

      <div id="anydiff">
        <form action="${href.changeset()}" method="get">
          <fieldset>
            <legend>选择区别的基准和目标:</legend>
            <table>
              <tr>
                <th><label for="old_path">从:</label></th>
                <td>
                  <input type="text" id="old_path" name="old_path"
                         value="$old_path" size="44" />
                  <label>修订:
                    <input type="text" name="old" value="$old_rev" size="4" />
                  </label>
                </td>
              </tr>
              <tr>
                <th><label for="new_path">至:</label></th>
                <td>
                  <input type="text" id="new_path" name="new_path"
                         value="$new_path" size="44" />
                  <label>修订:
                    <input type="text" name="new" value="$new_rev" size="4" />
                  </label>
                </td>
              </tr>
            </table>
            <p class="hint">
              每个路径, 你可以开始输入路径, 然后将获得现有路径和文件的提示, 以供选择.
			  点击条目以选择, 或者使用上下箭头, 然后按tab键.
            </p>
          </fieldset>
          <div class="buttons">
            <input type="submit" value="查看修改" />
          </div>
        </form>
      </div>
      <div id="help">
        <strong>注:</strong> 参见
        <a href="${href.wiki('TracChangeset')}#ExaminingDifferencesBetweenBranches">TracChangeset</a>
        使用区别特性的帮助.
      </div>
    </div>
  </body>
</html>

