<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html" />

<head><title>Report Manager</title></head>
<body>

<h2>Report History</h2>

<form id="save_histroy" class="addnew" action="reportmanager" method="post">

	<fieldset>
	<legend>Save history:</legend>
	  <div class="field">
		<label> History log: </label>
		<input type="text" name="reports_log" />
		<input type="submit" name="savereport" value="Save" />
	  </div>
	</fieldset>
</form>

<form id="reportmanager" action="reportmanager" method="post">

  <table class="listing" id="reportslist" >
   <thead>
    <tr>
	 <th> Id </th>
	 <th> History time </th>
	 <th> History log </th>
	 <th> Delete </th>
	 <th> Load </th>
	</tr>
   </thead>
   <py:for each="history in report_history">
    <tr>
     <td class="name"> ${history.id} </td>
     <td class="name"> ${history.save_time} </td>
     <td class="name">
	   <a href="${history.href}?edit_${history.id}" >
	     ${history.reports_log}
	   </a>
	 </td>
     <td class="name"><input type="submit" name="del_${history.id}" value="Delete" /> </td>
     <td class="name"><input type="submit" name="load_${history.id}" value="Load" /> </td>
    </tr>
   </py:for>

  </table>

  
</form>

</body>


</html>
