<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude" 
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="watchlist"
      py:strip="">
      <fieldset>
      <legend>${t_("General")}</legend>
      <py:for each="k in ('attachment_changes',)">
          <input type="checkbox" name="booloptions" id="${k}" value="${k}"
                 checked="${booloptions[k] and 'checked' or None}" />
          <label for="${k}">${booloptions_doc[k]}</label>
          <br />
      </py:for>
      </fieldset>
      <div class="clear" />
      <fieldset>
      <legend>User Interface</legend>
      <py:for each="k in ( 'autocomplete_inputs', 'dynamic_tables', 'individual_column_filtering', 'datetime_picker')">
          <input type="checkbox" name="booloptions" id="${k}" value="${k}"
                 checked="${booloptions[k] and 'checked' or None}" />
          <label for="${k}">${booloptions_doc[k]}</label>
          <br />
      </py:for>
      </fieldset>
      <div class="clear" />
      <fieldset>
      <legend>Messages</legend>
      <py:for each="k in ( 'stay_at_resource', 'show_messages_on_resource_page', 'show_messages_on_watchlist_page', 'show_messages_while_on_watchlist_page')">
          <input type="checkbox" name="booloptions" id="${k}" value="${k}"
                 checked="${booloptions[k] and 'checked' or None}" />
          <label for="${k}">${booloptions_doc[k]}</label>
          <br />
      </py:for>
      </fieldset>
      <div class="clear" />
      <fieldset>
      <legend>Notifications</legend>
      <py:for each="k in ( 'notifications', 'display_notify_navitems', 'display_notify_column', 'notify_by_default', 'stay_at_resource_notify' )">
          <input type="checkbox" name="booloptions" id="${k}" value="${k}"
                 checked="${booloptions[k] and 'checked' or None}" />
          <label for="${k}">${booloptions_doc[k]}</label>
          <br />
      </py:for>
      </fieldset>
      <div class="clear" />
      <fieldset>
      <legend>Watchlist sections</legend>
      <py:for each="k in listoptions_order">
          <input type="text" name="${k}" id="${k}"
                 value="${','.join(listoptions[k])}" />
          <label for="${k}">${listoptions_doc[k]}</label>
          <br />
      </py:for>
      </fieldset>
      <div class="clear" />
      <xi:include href="orderadd.html" py:for="realm in realms" />
</html>

