<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="watchlist"
      py:strip="">

  <div id="wikis">
    <py:choose test="">
      <div class="system-message" py:when="'WIKI_VIEW' not in perm">
        <h2>${get_label(realm,1000,astitle=True)}</h2>
        <p i18n:msg="realm_plural">
            You lack permission to view ${get_label(realm,1000)}.
        </p>
      </div>
      <div class="watchlist-main" id="wikilist-main" py:otherwise="">
          <div>
          <h2 class="${wikilist and 'foldable' or ''}">${get_label(realm,1000,astitle=True)}</h2>
          <div class="watchlist-parent" id="wikilist-parent" py:if="wikilist">
            <table class="watchlist" id="wikilist"
                   py:with="attr = {
                    'history': { 'class':'history sorting_disabled' },
                    'diff': { 'class':'diff sorting_disabled' },
                    'unwatch': { 'class':'unwatch sorting_disabled' },
                    'notify': { 'class':'notify sorting_disabled' },
                    'version': { 'class':'version filtering_disabled html-numeric' },
                    'changetime': { 'class':'changetime sort_next' },
                  }">
              <thead>
                <tr>
                  <py:for each="k in active_fields[realm]">
                  <py:if test="k == 'changetime'">
                    <th class="changedsincelastvisit hidden" />
                  </py:if>
                  <th py:if="k != 'notify' or notifications"
                      class="${k}" py:attrs="attr.get(k,{})">${available_fields[realm][k]}</th>
                  <py:if test="k == 'changetime'">
                    <th class="i${k} hidden" />
                  </py:if>
                  </py:for>
                </tr>
              </thead>
              <tbody>
                  <td py:def="wiki_name" class="name">${link('wiki',page.name,
                      text=page.name)}</td>
                  <py:def function="wiki_changetime">
                    <td class="changedsincelastvisit hidden">$page.changedsincelastvisit</td>
                    <td class="changetime">
                        $page.changetime
                        ${print_timedelta(page.timedelta, page.timeline_link)}
                    </td>
                    <td class="ichangetime hidden">$page.ichangetime</td>
                  </py:def>
                  <td py:def="wiki_version" class="version"><a py:if="not page.deleted"
                      href="${href('wiki',page.name,
                      version=page.version)}">$page.version</a></td>
                  <td py:def="wiki_diff" class="diff"><a py:if="not page.deleted"
                      href="${href('wiki',page.name,action='diff',
                        version=page.version)}">
                        <img py:with="label=available_fields[realm]['diff']"
                            src="${href.chrome('watchlist/ico/diff.png')}"
                            width="16px" height="16px" title="$label"
                            alt="$label" /></a></td>
                  <td py:def="wiki_history" class="history"><a py:if="not page.deleted"
                      href="${href('wiki',page.name,action='history')}">
                        <img py:with="label=available_fields[realm]['history']"
                            src="${href.chrome('watchlist/ico/history.png')}"
                            width="16px" height="16px" title="$label"
                            alt="$label" /></a></td>
                  <td py:def="wiki_unwatch" class="unwatch"><a class="plainlink"
                      href="${href.watchlist(action='unwatch',realm='wiki',
                      resid=page.name)}">${unwatchicon()}</a></td>
                  <td py:def="wiki_notify" class="notify" py:if="notifications">
                      ${notifybox('wiki',page.name,page.notify,page.deleted and not page.notify)}</td>
                  <td py:def="wiki_generic" class="${k}">${page.get(k,'')}</td>
                  <py:if test="not notifications">
                    <py:def function="wiki_notify"/>
                  </py:if>
                  <td py:def="wiki_comment" class="comment">$page.comment</td>
                <tr py:for="page in wikilist">
                  <py:for each="k in active_fields[realm]">
                      ${value_of('wiki_' + k,wiki_generic)()}
                  </py:for>
                </tr>
              </tbody>
              <tfoot py:if="booloptions['dynamic_tables'] and booloptions['individual_column_filtering']">
                <tr>
                </tr>
                  <py:for each="k in active_fields[realm]">
                  <py:if test="k == 'changetime'">
                    <th class="changedsincelastvisit hidden" />
                  </py:if>
                  <th py:if="k != 'notify' or notifications"
                      class="${k}">
                      <py:choose test="">
                      <py:when test="k == 'changetime'">
                        ${datetimefilter(k,'wiki_' + k,wikidata['min_changetime'],wikidata['max_changetime'])}
                      </py:when>
                      <py:otherwise>
                        <input py:if="k not in ('history','diff','unwatch','notify')" name="${k}" type="text" size="4"
                            class="${k == 'version' and 'numericfilter' or 'filter'}" />
                      </py:otherwise>
                      </py:choose>
                  </th>
                  <py:if test="k in ('changetime','time')">
                    <th class="i${k} hidden" />
                  </py:if>
                  </py:for>
              </tfoot>
            </table>
          </div>
          <p class="noentrymessage" style="${wikilist or 'display:block'}" i18n:msg="realm_plural">
            No ${get_label(realm,1000)} are currently watched.
          </p>
          </div>
          ${modify_form('wiki')}
      </div>
    </py:choose>
  </div>
</html>
