.listtagged lh {
	font-weight: bold;
	text-decoration: underline;
}

.listtags .listtagged lh {
	font-weight: normal;
}

.listtags .listtagged ul {
	margin: 0px;
	padding: 0px;
}

ul.tagit {
	float: right;
	list-style: none;
}

ul.tagit:before {
	content: "Tags: ";
}

.tagit li {
	display: inline;
}

ul.tagcloud {
	list-style: none;
}

.tagcloud li {
	display: inline;
}

.tagcloud li:after {
	content: ", ";
}

.tagcloud li.last:after {
	content: "";
}
