.listtagged lh { font-weight: bold; text-decoration: underline; }

.listtags .listtagged lh { font-weight: normal; } 
.listtags .listtagged ul { margin: 0px; padding: 0px; }

.wiki ul.tags { float: right; list-style: none; }
.wiki .tags li { display: inline; text-align: center; }
/* The TagIt macro is hidden now, as the TagsWikiModule replaces its
   functionality. It's left for backwards compatibility. */
.wiki ul.tags.tagit { display: none; }

.wiki .tags lh {
	font-weight: bold;
	font-size: large;
	text-align: center;
	color: #ddd;
	text-transform: lowercase;
	letter-spacing: 0.5em;
	display: block;
}

ul.tagcloud { list-style: none; }
.tagcloud li { display: inline; }
.tagcloud li:after { content: ", "; }
.tagcloud li.last:after { content: ""; }
