<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

      <xi:include href="admin.html" />	
  <head>
    <title>Log Viewer</title>
  </head>

  <body>
    <h2>Log Viewer</h2>
	<div class="us_message" id="us_message" py:if="len(us_message)>0">
		<div py:for="message in us_message">${message}</div>
	</div>
	<div class="us_error" id="us_error" py:if="len(us_error)>0">
		<div py:for="message in us_error">${message}</div>
	</div>
	<div class="form" id="level_input">
		<form method="post" id="log_form" class="us_form">
			<fieldset id="selection">
				<legend>Selection</legend><ul class="fieldset">
        		<li id="li_levels"><fieldset id="fieldset_levels">
	        		<legend>Log Levels</legend>
					<select name="level">
						<option value="1" py:attrs="{'selected': level==1 or None}">Critical</option>
						<option value="2" py:attrs="{'selected': level==2 or None}">Errors</option>
						<option value="3" py:attrs="{'selected': level==3 or None}">Warnings</option>
						<option value="4" py:attrs="{'selected': level==4 or None}">Info</option>
						<option value="5" py:attrs="{'selected': level==5 or None}">Debug</option>
					</select>
					<span title="include levels listed on top of the selected level"><input type="checkbox" name="up" value="1" py:attrs="{'checked': up==1 or None}"/> and higher</span>
				</fieldset></li><li id="li_search"><fieldset id="fieldset_search">
					<legend>Search</legend>
					<span title="show only lines (not) containing this search term">Lines (<input type="checkbox" name="invertsearch" value="1" py:attrs="{'checked': invert==1 or None}"/> not) including  <input type="text" name="filter" value="${filter}"/></span>
					<span title="search term is a regular expression"><input type="checkbox" name="regexp" value="1" py:attrs="{'checked': regexp==1 or None}"/> RegExp</span>
				</fieldset></li><li id="li_tail"><fieldset id="fieldset_tail">
					<legend>Tail</legend>
					<span title="Display only this many lines. Default: display all"><input type="text" name="tail" style="width:35px;" value="${tail}"/> lines</span>
				</fieldset></li></ul>
			</fieldset>
			<div class="actions">
				<input type="submit" name="view_log" value="Display / Refresh"/>
			</div>
		</form>
	</div>

	<div class="us_log" id="us_log" py:if="len(us_log)>0">
		<fieldset>
			<legend>Log messages</legend>
			<div py:for="entry in us_log" class="${entry['level']}">${entry['line']}</div>
		</fieldset>
	</div>
  </body>
</html>