<script type="text/javascript" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

jQuery(document).ready(function(){
    // add analyze button
    var report = get_report();
    var html = '<form method="get" action="">'
              +'  <div>'
              +'    <input type="button" id="analyzebutton" value="Analyze..." onClick="get_analyze('+report+');"/>'
              +'  </div>'
              +'</form>';
    jQuery('#main div.buttons:odd:first').append(html); // we want the second div.buttons within the content region
});
</script>
