<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Cambio de contraseñas LDAP</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="accountldap">
    
 <h1>Contraseñas de LDAP</h1>

  <p>
 Esta página te permite cambiar la contraseña del LDAP. 
 Tener en cuenta que este cambio se realizará de forma <b>centralizada</b> y afectará a todos los 
 sistemas que utilizando el mismo LDAP, como por ejemplo el <b>Subversion</b>.
 </p>
 <fieldset py:if="accountldap_message != None">
 <legend>Aviso</legend>
 ${accountldap_message}
  </fieldset>
 <form method="post" action="">
 <fieldset>
 <legend>Cambio de contraseña</legend>
  <div class="field">
   <label for="oldpassword" style="float:left;text-align:right;margin-top:5px;width:15em;">Contraseña antigua:</label>
   <input type="password" id="oldpassword" name="oldpassword" class="textwidget" size="30" />
  </div>
  &nbsp;
  &nbsp;
  <div class="field">
   <label for="password1" style="float:left;text-align:right;margin-top:5px;width:15em;">Nueva contraseña:</label>
   <input type="password" id="password1" name="password1" class="textwidget" size="30" />
  </div>
  <div class="field">
   <label for="password2" style="float:left;text-align:right;margin-top:5px;width:15em;">Confirmar contraseña:</label>
   <input type="password" id="password2" name="password2" class="textwidget" size="30" />
  </div>  
  </fieldset>
  <div class="buttons">
   <input type="submit" value="Actualizar contraseña" />
  </div >
</form>

    
    </div>
  </body>
</html>
