/* Object browser */

#content.debug .vars { background: #f9f9f9; border: 1px solid #d7d7d7;
  margin: 0 0 2em 0; overflow: auto; padding: 5px;
}
#content.debug .vars label { color: #333; float: right; font-size: 95%; }
#content.debug .vars ol, #content.debug .vars ul, #content.debug .vars dl {
  margin: 0;
}
#content.debug .vars dt { margin: .3em 0 0; }
#content.debug .vars dt :link, #content.debug .vars dt :visited {
  border: none;
}
#content.debug .vars dt strong { background: #e9e9e9; }
#content.debug .vars dt.highlight span.def { font-weight: bold; }

#content.debug .vars dd { background-color: #e4e4e4; margin-left: 1em;
  padding: 0 0 0 .5em;
}
#content.debug .vars p { margin: 0; }
#content.debug .vars p.empty { color: #999; font-size: 90%;
  padding: .3em 0 .3em 1.5em;
}
#content.debug .vars q { color: #666; font-family: monospace; }
#content.debug .vars p { margin: 0; }
#content.debug .vars blockquote { background: #fff; color: #333;
  border: 1px solid #d7d7d7; font-family: monospace; margin: 0 0 0 1em;
  padding: .3em;
}
#content.debug span.type, #content.debug span.size { color: #999;
  font-size: 85%; 
}
#content.debug span.type { font-family: monospace; font-weight: normal; }
#content.debug span.value { color: #999; }

#content.debug .vars span.name { padding-left: 16px; }
#content.debug .vars a.toggle {
  background: url(../../common/collapsed.png) 0 50% no-repeat;
}
#content.debug .vars a.expanded {
  background-image: url(../../common/expanded.png);
}
