div.components {
  width: 45%;
}

div.interfaces {
  float: right;
  width: 45%;
}
.interface h3, .component h3 {
  margin: 0.2em 0;
}

.selected {
  border: dashed 2px #ddc;
  padding: 0.4em;
  background: #ffa;
}

.interface div, .component div {
  margin-left: 1em;
}
