<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />
  <head>
    <title>Project Metrics</title>
    <!-- Dependencies --> 
	<script type="text/javascript" src="${yui_base_url}/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	<script type="text/javascript" src="${yui_base_url}/build/element/element-min.js"></script> 
	<script type="text/javascript" src="${yui_base_url}/build/datasource/datasource-min.js"></script> 
	<script type="text/javascript" src="${yui_base_url}/build/json/json-min.js"></script> 
	<!-- OPTIONAL: Connection (enables XHR) --> 
	<script type="text/javascript" src="${yui_base_url}/build/connection/connection-min.js"></script> 
	<!-- Source files --> 
	<script type="text/javascript" src="${yui_base_url}/build/charts/charts-min.js"></script> 
	<script type="text/javascript">YAHOO.widget.Chart.SWFURL = "${yui_base_url}/build/charts/assets/charts.swf"; </script>
  </head>

  <body>
    <div id="content" class="pdashboard">
      <h1>Project Metrics</h1>

	  <div class="info">
        <h2>Project Tickets Summary</h2> <br/>
          <b>Tickets by Status</b>
          <py:if test="proj_progress_stat.stats.count">
              ${progress_bar(proj_progress_stat.stats, proj_progress_stat.interval_hrefs, 
                             stats_href=proj_progress_stat.stats_href)}
          </py:if><br/>
          <b>Tickets by Resolution</b>  
          <py:if test="proj_progress_stat.stats.count">
            ${progress_bar(proj_closed_stat.stats, proj_closed_stat.interval_hrefs,
                           stats_href=proj_closed_stat.stats_href)}
          </py:if>
      </div><br/>
      
      <div class="info">
		<h2>Milestone Summary</h2>
		  <form method="get" action="">
			<div>
			  <input type="checkbox" id="showall" name="show" value="all"
			         checked="${showall or None}" />
			  <label for="showall">Show already completed milestones</label>
			  <input type="submit" value="Update" />
			</div>
		  </form>		
		<table style="width: 800px" class="listing milestone">
	      <thead>
		    <tr>
			  <th style="width: 357px" class="style1">Milestone</th>
			  <th style="width: 219px">Status</th>
			  <th style="width: 91px">New</th>
			  <th style="width: 90px">In-progress</th>
			  <th style="width: 90px">Completed</th>
			  <th style="width: 89px">Total</th>
			  <th style="width: 100px">Complete</th>
			</tr>
		  </thead>
		  <tbody>
	        <tr py:for="idx, milestone in enumerate(milestones)" class="milestone"
			    py:with="mstats = milestone_stats[idx]">
		      <td style="width: 357px"><a href="${href.mdashboard(milestone.name)}">${milestone.name}</a></td>
			  <td style="width: 219px">
			    <py:choose>
			      <p py:when="milestone.completed" class="date">
			         Completed ${dateinfo(milestone.completed)} ago (${format_date(milestone.completed)})
			      </p>
				  <p py:when="milestone.is_late" class="date">
				     <strong>${dateinfo(milestone.due)} late</strong> (${format_date(milestone.due)})
			      </p>
			      <p py:when="milestone.due" class="date">
			         Due in ${dateinfo(milestone.due)} (${format_date(milestone.due)})
				  </p>
				  <p py:otherwise="" class="date">No date set</p>
		        </py:choose>
			  </td>
			  <td style="width: 91px"><a href="${mstats.interval_hrefs[2]}">${mstats.stats.intervals[2].count}</a></td>
			  <td style="width: 90px"><a href="${mstats.interval_hrefs[1]}">${mstats.stats.intervals[1].count}</a></td>
			  <td style="width: 90px"><a href="${mstats.interval_hrefs[0]}">${mstats.stats.intervals[0].count}</a></td>
			  <td style="width: 89px"><a href="${mstats.stats_href}">${sum([x.count for x in mstats.stats.intervals], 0)}</a></td>
			  <td style="width: 100px">${'%d%%' % mstats.stats.done_percent}</td>
			</tr>
	      </tbody>			
		</table>
	  </div><br/>
	
      <div class="info">
        <h2> Repository Statistics </h2>
        <div id="commits_per_day" style="width: 640px; height: 480px;"></div>
          <script type = "text/javascript">
		    //--- data
		    var commitperday = $ds_commit_by_date
		    var ds = new YAHOO.util.DataSource(commitperday);
		    ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
		    ds.responseSchema = { fields: [ "date", "commits" ] };
			var seriesDef = [ 
			  { displayName: "Commits", yField: "commits", style: { color: 0x9966ff }}
			];
			//--- chart
			var mychart = new YAHOO.widget.StackedColumnChart( "commits_per_day", ds,
			              { xField: "date", series: seriesDef, style: 
			              {legend: {display: "bottom"}, xAxis: {labelRotation: -60}}});
		  </script> 	    
	    </div><br/>
        <div>
          <form method="get" action="">
            <input type="checkbox" id="showmetrics" name="showmetrics" value="true"
                   checked="${showmetrics or None}" />
            <label for="showmetrics">Show Project Metrics (Warning: The metrics can take very long time to generate.)</label>
            <input type="submit" value="Update" />
         </form>
        </div><br/>
        <py:if test="showmetrics">
        <div class="info">      
	      <h2>Project Backlog Metrics</h2>
	      <h3> Daily Backlog Statistics </h3>
	      <div id="daily_backlog" style="width: 640px; height: 480px;"></div>
	      <script type = "text/javascript">
	        //--- data
	        var tickethistory = $ds_daily_backlog
	        var ds = new YAHOO.util.DataSource(tickethistory);
	        ds.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
	        ds.responseSchema = { fields: [ "date", "opened", "closed", "created" ] };
	        var seriesDef = [
	          { type: "line", displayName: "Opened Tickets", yField: "opened", style: { color: 0x0000FF }},
	          { displayName: "Closed Tickets", yField: "closed", style: { color: 0xbae0ba }},
	          { displayName: "New Tickets", yField: "created", style: { color: 0x9966ff }} 
	        ];
	        //--- chart
	        var mychart = new YAHOO.widget.StackedColumnChart( "daily_backlog", ds,
	        { xField: "date", series: seriesDef, style: {legend: {display: "bottom"}, 
	            xAxis: {labelRotation: -60}}});
	      </script>          
	      <h3> Monthly Backlog Metrics </h3>
	      <table style="width: 800px" class="listing project stats">
	        <thead>
	          <tr>
	            <th style="width: 90px">Month</th>
	            <th style="width: 200px">Ticket Created</th>
	            <th style="width: 200px">Ticket Opened</th>
	            <th style="width: 200px">Ticket Closed</th>
	            <th style="width: 90px">Backlog Management Index (Closed/Opened)</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr py:for="bmi in project_bmi_stats" >
	            <td style="width: 90px">${bmi[0]}</td>
	            <td style="width: 200px">${len(bmi[1])} ${wiki_to_html(context, ', '.join(['#%s' % i for i in bmi[1]]))}</td>
	            <td style="width: 200px">${len(bmi[2])} ${wiki_to_html(context, ', '.join(['#%s' % i for i in bmi[2]]))}</td>
	            <td style="width: 200px">${len(bmi[3])} ${wiki_to_html(context, ', '.join(['#%s' % i for i in bmi[3]]))}</td>
	            <td style="width: 90px">${"%.2f %%" % (bmi[4])}</td>
	          </tr>
	        </tbody>          
	      </table>
	    </div><br/>
	    
		<div class="info">
		  <h2>Tickets Statistics</h2>
		  <table style="width: 800px" class="listing milestone">
		    <thead>
		      <tr>
		        <th style="width: 357px" class="style1">Metrics</th>
		        <th style="width: 219px">Mean</th>
		        <th style="width: 219px">Median</th>
		        <th style="width: 91px">Max</th>
		        <th style="width: 90px">Min</th>
		        <th style="width: 90px">Std. Dev.</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr py:for="key in ticket_duration_stats" class="statistics">
		        <th style="width: 357px" class="style1">${key}</th>
		        <th style="width: 100px"><py:if test="ticket_duration_stats[key].avg()">${pretty_timedelta(0, ticket_duration_stats[key].avg())}</py:if></th>
		        <th style="width: 100px"><py:if test="ticket_duration_stats[key].median()">${pretty_timedelta(0, ticket_duration_stats[key].median())}</py:if></th>
		        <th style="width: 91px"><py:if test="ticket_duration_stats[key].max()">${pretty_timedelta(0, ticket_duration_stats[key].max())}</py:if></th>
		        <th style="width: 90px"><py:if test="ticket_duration_stats[key].min()">${pretty_timedelta(0, ticket_duration_stats[key].min())}</py:if></th>
		        <th style="width: 90px"><py:if test="ticket_duration_stats[key].stdev()">${pretty_timedelta(0, ticket_duration_stats[key].stdev())}</py:if></th>
		      </tr>
		      <tr py:for="key in ticket_frequency_stats" class="statistics">
		        <th style="width: 357px" class="style1">${key}</th>
		        <th style="width: 100px"><py:if test="ticket_frequency_stats[key].avg()">${"%.4f" % ticket_frequency_stats[key].avg()}</py:if></th>
		        <th style="width: 100px"><py:if test="ticket_frequency_stats[key].median()">${"%.4f" % ticket_frequency_stats[key].median()}</py:if></th>
		        <th style="width: 91px"><py:if test="ticket_frequency_stats[key].max()">${"%.4f" % ticket_frequency_stats[key].max()}</py:if></th>
		        <th style="width: 90px"><py:if test="ticket_frequency_stats[key].min()">${"%.4f" % ticket_frequency_stats[key].min()}</py:if></th>
		        <th style="width: 90px"><py:if test="ticket_frequency_stats[key].stdev()">${"%.4f" % ticket_frequency_stats[key].stdev()}</py:if></th>
		      </tr>
		    </tbody>        
		  </table>
		</div>
		
      </py:if>
      
    </div>
    
  </body>
  
</html>
