tr.wikiimport-create {
	background-color: lightgreen;
}

tr.wikiimport-update {
	background-color: lightGoldenRodYellow;
}

th.wikiimport-check, td.wikiimport-check {
	width: 16%;
}

td.wikiimport-check {
	text-align: center;
}
