<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">
  <fieldset>
    
    <div>
      <label>Name:
        <input type="text" name="name" class="textwidget" size="20" value="${name}"/>
      </label>
    </div>

    <div>
      <label>Email:
        <input type="text" name="email" class="textwidget" size="20" value="${email}"/>
      </label>
    </div>

    <div>
      <p>
        Please enter the text below to prove you're not a machine.
      </p>
      <p>
        ${captcha}
      </p>
      <label>Confirm: <input type="text" name="captchaauth" class="textwidget" size="20"/></label>
    </div>
    <input type="hidden" name="captchaid" value="${captchaid}"/>
  </fieldset>
</html>
