<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

<head>
	<link rel="stylesheet" href="/trac-mysql/chrome/common/css/code.css" type="text/css" media="screen, projector, print" />
	<link rel="stylesheet" href="/trac-mysql/chrome/common/css/browser.css" type="text/css" media="screen, projector, print" />
</head>

<body>
	<!-- Top Navigation Bar -->
	<div id="ctxtnav" class="nav"> 
		<h2>Peer Review Navigation</h2> 
		<ul>
			<li py:if="main == 'yes'" class="first">My Code Reviews</li>
			<li py:if="main == 'no'" class="first"><a href="${href.peerReviewMain()}">My Code Reviews</a></li>

			<li py:if="create == 'yes'">Create a Code Review</li>
			<li py:if="create == 'no'"><a href="${href.peerReviewNew()}">Create a Code Review</a></li>

			<li py:if="manager == 0 and search == 'yes'" class="last">Search Code Reviews</li>
			<li py:if="manager == 0 and search == 'no'" class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
			<li py:if="manager == 1 and search == 'yes'">Search Code Reviews</li>
			<li py:if="manager == 1 and search == 'no'"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>

			<li py:if="manager == 1 and option == 'yes'" class="last">Manager Options</li>
			<li py:if="manager == 1 and option == 'no'" class="last"><a href="${href.peerReviewOptions()}">Manager Options</a></li>
		</ul> 
	</div>

	<p><h1>My Code Reviews</h1></p>

	<br />
	<!-- If we are a manager, display a table containing all of the code reviews requiring your approval. -->
	<py:if test="author == 'manager'">
	<p><h2>This is a list of the code reviews currently requiring your approval.</h2></p>
	<table class="listing" id="approvereviewlist">
		<thead>
			<tr>
				<td>Review</td>
				<td>Author</td>
				<td>Name</td>
				<td>Date Opened</td>
			</tr>
		</thead>
		<tbody py:with="cls=cycle(('odd', 'even'))">
			<!-- if there are no reviews open for you, state this in the table -->
			<tr py:if="managerReviewArrayLength == 0">
				<td>There are no code reviews requiring your approval.</td>
				<td />
				<td />
				<td />
			</tr>
			<tr py:if="managerReviewArrayLength > 0" py:for="item in managerReviews" class="${cls.next()}">
				<!-- Set up the table with the appropriate values and then links to view the review -->
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[0]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[1]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[2]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[3]}</a></td>
			</tr>
		</tbody>
	</table>
	<br />
	<br />
	</py:if>

	<p><h2>This is a list of your currently open code reviews.</h2></p>

	<!-- Display your currently open code reviews in a table -->
	<table class="listing" id="myreviewlist">
		<thead>
			<tr>
				<td>Review</td>
				<td>Name</td>
				<td>Status</td>
				<td>Date Opened</td>
			</tr>
		</thead>
		<tbody py:with="cls=cycle(('odd', 'even'))">
			<!-- if there are no reviews open for you, state this in the table -->
			<tr py:if="reviewReturnArrayLength == 0">
				<td>Your have no code reviews currently open.</td>
				<td />
				<td />
				<td />
			</tr>
			<tr py:if="reviewReturnArrayLength > 0" py:for="item in myCodeReviews" class="${cls.next()}">
				<!-- Set up the table with the appropriate values and then links to view the review -->
					<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[0]}</a></td>
					<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[4]}</a></td>
					<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[2]}</a></td>
					<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[3]}</a></td>
			</tr>
		</tbody>
	</table>

	<br />
	<br />

	<p><h2>This is a list of code reviews currently assigned to you.</h2></p>

	<!-- Display your currently assigned code reviews in a table -->
	<table class="listing" id="assignedreviewlist">
		<thead>
			<tr>
				<td>Review</td>
				<td>Author</td>
				<td>Name</td>
				<td>My Vote</td>
				<td>Date Opened</td>
			</tr>
		</thead>
		<tbody py:with="cls=cycle(('odd', 'even'))">
			<!-- if there are no reviews open for you, state this in the table -->
			<tr py:if="assignedReturnArrayLength == 0">
				<td>There are no code reviews assigned to you.</td>
				<td />
				<td />
				<td />
				<td />
			</tr>
			<tr py:if="assignedReturnArrayLength > 0" py:for="item in assignedReviews" class="${cls.next()}">
				<!-- Set up the table with the appropriate values and then links to view the review -->
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[0]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[1]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[2]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[4]}</a></td>
				<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[3]}</a></td>
			</tr>
		</tbody>
	</table>

	<br />
	<br />
</body>

</html>