<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
	<link rel="stylesheet" href="${href.chrome('common/css/code.css')}" type="text/css" media="screen, projector, print" />
	<link rel="stylesheet" href="${href.chrome('common/css/browser.css')}" type="text/css" media="screen, projector, print" />
  </head>

  <body>
	<!-- Top Navigation Bar -->
	<div id="ctxtnav" class="nav"> 
		<h2>Peer Review Navigation</h2> 
		<ul>
			<li py:if="main == 'yes'" class="first">My Code Reviews</li>
			<li py:if="main == 'no'" class="first"><a href="${href.peerReviewMain()}">My Code Reviews</a></li>

			<li py:if="create == 'yes'">Create a Code Review</li>
			<li py:if="create == 'no'"><a href="${href.peerReviewNew()}">Create a Code Review</a></li>

			<li py:if="manager == 0 and search == 'yes'" class="last">Search Code Reviews</li>
			<li py:if="manager == 0 and search == 'no'" class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
			<li py:if="manager == 1 and search == 'yes'">Search Code Reviews</li>
			<li py:if="manager == 1 and search == 'no'"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>

			<li py:if="manager == 1 and option == 'yes'" class="last">Manager Options</li>
			<li py:if="manager == 1 and option == 'no'" class="last"><a href="${href.peerReviewOptions()}">Manager Options</a></li>
		</ul> 
	</div> 

	<p><b><h1>Code Review Search</h1></b></p>

	<form id="searchReview" action="${href.peerReviewSearch()}" method="post">
		Code Review Name:
		<input id="name" name="CodeReviewName" size="25" value="" type="text" /><br /><br />
		Reviews after date -
		<select size="1" name="DateMonth" id="Month"
			onchange="resetDays(document.getElementById('Month').options[document.getElementById('Month').selectedIndex].value,
					document.getElementById('Year').options[document.getElementById('Year').selectedIndex].value)">
			<option value="0">Select...</option>
			<option value="01">January</option>
			<option value="02">February</option>
			<option value="03">March</option>
			<option value="04">April</option>
			<option value="05">May</option>
			<option value="06">June</option>
			<option value="07">July</option>
			<option value="08">August</option>
			<option value="09">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</select>
	
		<span id="DaySpan">
			<select size="1" name="DateDay1" id="Day" onchange="setDateIndex();">
				<option value="0" selected="selected">Select...</option>
			</select>
		</span>,
		<select size="1" name="DateYear" id="Year" 
			onchange="resetDays(document.getElementById('Month').options[document.getElementById('Month').selectedIndex].value,
					document.getElementById('Year').options[document.getElementById('Year').selectedIndex].value)">
			<option selected="selected" value="0">Select...</option>
			<option py:for="item in years" value="${item}">${item}</option>
		</select>
		<br /><br />
		Status -
		<select size="1" name="Status" id="status">
			<option value="Select...">Select...</option>
			<option value="Open for review">Open for review</option>
			<option value="Reviewed">Reviewed</option>
			<option value="Ready for inclusion">Ready for inclusion</option>
			<option value="Closed">Closed</option>
		</select>
		<br /><br />
		Author -
		<select size="1" name="Author" id="author">
			<option>Select...</option>
			<option py:for="item in users" value="${item}">${item}</option>
		</select>
		<br /><br />
		<input type="hidden" name="doSearch" value="yes" />
		<!-- used by javascript to get the current day selected -->
		<input type="hidden" name="DateDay" value="0" id="dayHolder" />
		<input value="Search" type="submit" />
	</form>
	<py:if test="doSearch == 'yes'">
		<b><h2>Search Results</h2></b>
		<table class="listing" id="myreviewlist">
			<thead>
				<tr>
					<td>Review</td>
					<td>Author</td>
					<td>Status</td>
					<td>Name</td>
					<td>Date Opened</td>
				</tr>
			</thead>
			<tbody py:with="cls=cycle(('odd', 'even'))" id = "myfilebody">
				<py:for each="item in results">
					<tr py:if="item[2] != ''" class="${cls.next()}">
						<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[0]}</a></td>
						<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[1]}</a></td>
						<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[2]}</a></td>
						<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[4]}</a></td>
						<td><a href="${href.peerReviewView()}?Review=${item[0]}">${item[3]}</a></td>
					</tr>
					<tr py:if="item[2] == ''">
						<td>${item[0]}</td>
						<td>${item[1]}</td>
						<td>${item[2]}</td>
						<td>${item[4]}</td>
						<td>${item[3]}</td>
					</tr>
				</py:for>
			</tbody>
		</table>
		<br />
	</py:if>

<script language="Javascript">
var dateIndexSelected = "01";

var monthSelected = "${searchValues_month}";
var daySelected = "${searchValues_day}";
var yearSelected = "${searchValues_year}";
var statusSelected = "${searchValues_status}";
var authorSelected = "${searchValues_author}";
var nameSelected = "${searchValues_name}";

setSearchValues();

</script>
<script type="text/javascript" src="${href.chrome('hw/js/peerReviewSearch.js')}"/>
  </body>
</html>