<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="macros.html" />

  <head>
	<link rel="stylesheet" href="/trac-mysql/chrome/common/css/code.css" type="text/css" media="screen, projector, print" />
	<link rel="stylesheet" href="/trac-mysql/chrome/common/css/browser.css" type="text/css" media="screen, projector, print" />
  </head>

  <body>
	<!-- Top Navigation Bar -->
	<div id="ctxtnav" class="nav"> 
		<h2>Peer Review Navigation</h2> 
		<ul>
			<li py:if="main == 'yes'" class="first">My Code Reviews</li>
			<li py:if="main == 'no'" class="first"><a href="${href.peerReviewMain()}">My Code Reviews</a></li>

			<li py:if="create == 'yes'">Create a Code Review</li>
			<li py:if="create == 'no'"><a href="${href.peerReviewNew()}">Create a Code Review</a></li>

			<li py:if="manager == 0 and search == 'yes'" class="last">Search Code Reviews</li>
			<li py:if="manager == 0 and search == 'no'" class="last"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>
			<li py:if="manager == 1 and search == 'yes'">Search Code Reviews</li>
			<li py:if="manager == 1 and search == 'no'"><a href="${href.peerReviewSearch()}">Search Code Reviews</a></li>

			<li py:if="manager == 1 and option == 'yes'" class="last">Manager Options</li>
			<li py:if="manager == 1 and option == 'no'" class="last"><a href="${href.peerReviewOptions()}">Manager Options</a></li>
		</ul> 
	</div> 

	<p><b><h1>Manager Options</h1></b></p>
	
	<form method="post" action="${href.peerReviewOptions()}" id="thresholdForm">
		<input type="hidden" value="${percentage}" id="percentage" name="percentage" />
	</form>
	<p>
		Voting threshold: <input type="text" size="3" maxlength="3" id="percentBox" name="percentBox" value="${percentage}" />%<br />
		<input type="button" name="set" value="Set Threshold" onclick="validateInput();" />
	</p>
	<p py:if="success == 1">The Threshold has been successfuly updated.</p>
	
	<p>This setting defines the number of positive votes versus total votes necessary for an author to submit a code review for a manager's approval.</p>
	
	<script type="text/javascript" src="${href.chrome('hw/js/peerReviewOptions.js')}"/>
  </body>

</html>