<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>删除里程碑 ${milestone.name}</title>
    <link rel="stylesheet" type="text/css"
          href="${chrome.htdocs_location}css/roadmap.css" />
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#retarget").click(function(){ $("#target").enable(this.checked) });
      });
    </script>
  </head>

  <body>
    <div id="content" class="milestone">
      <h1>删除里程碑 ${milestone.name}</h1>

    <form id="edit" action="" method="post">
      <input type="hidden" name="action" value="delete" />
      <p><strong>确定删除该里程碑吗?</strong></p>
      <input type="checkbox" id="retarget" name="retarget" checked="checked" />
      <label for="target">重指定关联传票到里程碑</label>
      <select name="target" id="target">
        <option value="">无</option>
        <option py:for="m in milestones">${m.name}</option>
      </select>
      <div class="buttons">
       <input type="submit" name="cancel" value="取消" />
       <input type="submit" value="删除里程碑" />
      </div>
    </form>

    <div id="help"><strong>注:</strong> 参见
      <a href="${href.wiki('TracRoadmap')}">TracRoadmap</a> 使用路标的帮助.
    </div>

    </div>
  </body>
</html>
