<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Hours</title>
    <script type="text/javascript"
    src="${chrome.htdocs_location}js/folding.js"></script>
    <script type="text/javascript" src="${chrome.htdocs_location}js/query.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#group").change(function() {
          $("#groupdesc").enable(this.selectedIndex != 0)
        }).change();
        $("fieldset legend.foldable").enableFolding(false);
        /* Hide the filters for saved queries. */
        if ( window.location.href.search(/[?&amp;]report=[0-9]+/) != -1 )
          $("#filters").toggleClass("collapsed");
        /* Hide the columns by default. */
        $("#columns").toggleClass("collapsed");
      });
    </script>
  </head>

  <body>
    <table>
	    <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
      </tr>
	    <tr py:for="query in queries">
        <td>${query.id}</td>
        <td><a href="${req.href('hours') + '?query_id=%s&amp;%s' % (query.id, query.query)}">${query.title}</a></td>
        <td>${query.description}</td>
      </tr>
    </table>


  </body>
</html>
