<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Save Hours Query</title>
    <script type="text/javascript"
    src="${chrome.htdocs_location}js/folding.js"></script>
  </head>

  <body>

    <div id="content" class="query">

      <h1>${action == 'new' and 'New Query' or query.title}</h1>
      <form method="post" id="edit_query" action="query">
        <div>
          <input type="hidden" name="id" value="$query.id" />
          <input type="hidden" name="action" value="$action" />
          <div class="field">
            <label for="title">Query Title:</label><br />
            <input type="text" id="title" name="title" value="$query.title" size="50"/><br />
          </div>
          <div class="field">
            <label for="description">
              Description: (you may use <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here)
            </label>
            <br />
            <textarea id="description" name="description" class="wikitext" rows="10" cols="78">
$query.description</textarea>
          </div>
          <div class="field">
            <div class="system-message" py:if="error">
              <strong>Error:</strong> $error
            </div>
            <label for="query">Query for Query:</label><br />
            <textarea id="query" name="query" cols="85" rows="20">
$query.query</textarea>
          </div>
          <div class="buttons">
            <input type="submit" value="${_('Save query')}"/>
            <input type="submit" name="cancel" value="${_('Cancel')}"/>
          </div>
        </div>
        <script type="text/javascript" src="${chrome.htdocs_location}js/wikitoolbar.js"></script>
      </form>

    </div>
  </body>
</html>
