/* Navigation */
.postmeta h2, .postmeta hr { display: none }
.postmeta ul { font-size: 10px; list-style: none; margin: 0; text-align: right }
.postmeta li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.postmeta li.last { border-right: none }

