.message { 
  color:green;
  border:2px solid green;
  font-weight:bold;
  padding:5px;
  margin:5px;
}

.numberCell{ 
   text-align:right;
   border:1px solid blue !important; width:80px !important; }

.fieldLabel{ font-weight:bold; text-align:right; }

th{ font-weight:bold; } 

del, del table tr td, del table tr th{ text-decoration: line-through; }

button.up{ background: url('arrow_up.png') no-repeat center center #FFE; width:25px; }
button.down{ background: url('arrow_down.png') no-repeat center center #FFE; width:25px; }
button.delete{ background: url('delete.png') no-repeat 2px center #FFE; padding-left:20px; }
button.refresh{ background: url('arrow_refresh.png') no-repeat 2px center #FFE;
   padding-left:20px; }
button.reset{ background: url('exclamation.png') no-repeat 2px center #FFE;
   padding-left:20px; }
button.new{ background: url('add.png') no-repeat 2px center #FFE;padding-left:20px; }
button:hover{background-color:#FFC}

div.reset { float:right; margin-right:100px; width:320px;}
div.reset p {font-size:.8em;}
div.copy-block { float:right; margin-right:100px; width:320px; margin-bottom:10px; }
.buttonlink { border:1px solid #00A; color:#00A; padding:3px; float:left; }
.killfloat, .kill-float,.clearer{clear:both; font-size:0; line-height:0;}

input[type=submit].save, button.save, input[type=submit].save:hover, button.save:hover
{ background: url('accept.png') no-repeat 2px center #FFE; 
   padding-left:20px;  }
input[type=submit].save:hover, button.save:hover
{ background: url('accept.png') no-repeat 2px center #FFC; 
   padding-left:20px;  }

td.textarea-holder{width:250px; white-space:pre-wrap;}
td.buttons{width:150px; border:0 none transparent;}
.line-item .number {text-align:right;}
.line-item td {border-top: 1px solid #CCF; border-bottom: 1px solid #CCF;}
.estimateBody{width:98%;}
.estimate-page{width:800px;}


.estimate-diff { overflow-x: auto; }
.estimate-diff .diff { width: 100em; }

.save-buttons > * { float:left; margin: 0 5px;}
.save-buttons .split { border:1px solid blue; padding:3px; width:300px; }