@media screen {
 a.overlayview-rawlink {
  background: url('../common/download.png') right center no-repeat;
  padding-right: 16px;
  border-bottom: none;
 }
}

#cboxBottomLeft, #cboxMiddleLeft {
 clear: left;
}
#cboxClose {
 background: transparent url(controls.png) no-repeat 0 0;
 background-position: -50px 0px;
 cursor: pointer;
 height: 20px;
 position: absolute;
 right: 0;
 text-indent: -9999px;
 top: -22px;
 width: 20px;
}
#cboxClose:hover {
 background-position: -50px -25px;
}
#cboxContent {
 margin-top: 20px;
 border-top: 1px solid #999;
 overflow: visible;
 position: relative;
}
#cboxCurrent {
 position: absolute;
 right: 205px;
 text-indent: -9999px;
 top: -22px;
}
#cboxError {
 border: 1px solid #ccc;
 padding: 50px;
}
#cboxLoadedContent {
 background: #fff;
 overflow: auto;
}
#cboxLoadingGraphic {
 background: transparent url(loading.gif) no-repeat center center;
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
}
#cboxLoadingOverlay {
 background: transparent;
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
}
#cboxNext {
 background: url(controls.png) no-repeat 0 0;
 background-position: -25px 0px;
 cursor: pointer;
 height: 20px;
 position: absolute;
 right: 20px;
 text-indent: -9999px;
 top: -22px;
 width: 20px;
}
#cboxNext:hover {
 background-position: -25px -25px;
}
#cboxOverlay {
 background: #fff;
 height: 100%;
 left: 0;
 overflow: hidden;
 position: absolute;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 9999;
}
#cboxPrevious {
 background: url(controls.png) no-repeat 0 0;
 background-position: 0px 0px;
 cursor: pointer;
 height: 20px;
 position: absolute;
 right: 40px;
 text-indent: -9999px;
 top: -22px;
 width: 20px;
}
#cboxPrevious:hover {
 background-position: 0px -25px;
}
#cboxSlideshow {
 background: url(controls.png) no-repeat 0 0;
 cursor: pointer;
 height: 20px;
 position: absolute;
 text-indent: -9999px;
 top: -22px;
 width: 20px;
}
#cboxTitle {
 color: #000;
 left: 0;
 margin: 0;
 padding-left: 3px;
 position: absolute;
 top: -22px;
 height: 22px;
 line-height: 22px;
 white-space: nowrap;
}
#cboxTitle img { vertical-align: middle }
#cboxWrapper,
#colorbox {
 left: 0;
 overflow: hidden;
 position: absolute;
 top: 0;
 z-index: 9999;
}
#colorbox {
 border: 1px solid #999;
 background-color: #fff;
 -webkit-box-shadow: 0 0 3px 0 #333;
 -moz-box-shadow: 0 0 3px 0 #333;
 box-shadow: 0 0 3px 0 #333;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px;
}
.cboxIframe {
 background: #fff;
 border: 0;
 display: block;
 height: 100%;
 width: 100%;
}
.cboxPhoto {
 border: 0;
 display: block;
 float: left;
 margin: auto;
}
.cboxSlideshow_off #cboxPrevious,
.cboxSlideshow_on #cboxPrevious {
 right: 66px;
}
.cboxSlideshow_off #cboxSlideshow {
 background-position: -100px 0px;
 right: 40px;
}
.cboxSlideshow_off #cboxSlideshow:hover {
 background-position: -75px -25px;
}
.cboxSlideshow_on #cboxSlideshow {
 background-position: -75px -25px;
 right: 40px;
}
.cboxSlideshow_on #cboxSlideshow:hover {
 background-position: -100px -25px;
}
