<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:py="http://genshi.edgewall.org/">
  <table class="visitcounter">
    <tr>
      <py:choose>
        <py:when test="visitcounter.show_digits">
          <td py:for="digit in visitcounter.digits" class="digit digit$digit"></td>
        </py:when>
        <td py:otherwise="">${visitcounter.count}</td>
      </py:choose>
    </tr>
  </table>
</html>
