<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>关于Trac</title>
    <link rel="stylesheet" type="text/css" href="${chrome.htdocs_location}css/about.css" />
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
        $("#systeminfo table").append("<tr><th>jQuery:</th><td>"+$().jquery+"</td></tr>");
      });
    </script>
  </head>

  <body>
    <div id="content" class="about">

      <a href="http://trac.edgewall.org/"
        style="border: none; float: right; margin-left: 2em">
        <img style="display: block" src="${chrome.htdocs_location}trac_banner.png"
          alt="Trac: Integrated SCM &amp; Project Management"/>
      </a>
      <h1>About Trac</h1>
      <p>Trac是基于web的软件项目管理和缺陷/事务追踪系统.
	  强调使用方便, 而不是其外在形式.
	  它提供了集成Wiki/版本控制系统界面,
	  以及更多方便的项目管理渠道, 来掌控项目的事件和变化.
      </p>
      <p>Trac是以修订BSD许可证分发的.<br />
        查看许可证的完整内容
        <a href="http://trac.edgewall.org/wiki/TracLicense">在线版本</a>
        以及在 <tt>COPYING</tt> 文件中(包含的发布文件中).</p>
      <a href="http://www.python.org/" style="border: none; float: right">
        <img style="display: block" src="${chrome.htdocs_location}python.png"
          alt="python powered" width="140" height="56" />
      </a>
      <p>访问Trac开源项目网站:
        <a href="http://trac.edgewall.org/">http://trac.edgewall.org/</a></p>
      <p class="copyright" xml:lang="en">Copyright &copy; 2003-2007
        <a href="http://www.edgewall.org/">Edgewall Software</a>
      </p>

      <py:if test="systeminfo or config">
        <hr />

        <div py:if="systeminfo" id="systeminfo">
          <h2>系统信息</h2>
          <table class="listing">
            <tr py:for="name, value in systeminfo">
              <th>$name:</th>
              <td>$value</td>
            </tr>
          </table>
        </div>

        <div py:if="config" id="config">
          <h2>配置</h2>
          <table class="listing">
            <thead>
              <tr>
                <th class="section">项目</th>
                <th class="name">名称</th>
                <th class="value">值</th>
              </tr>
            </thead>
            <tbody>
              <div py:for="section in config" py:strip="">
                <tr py:for="idx,option in enumerate(section.options)"
                    class="${option.modified and 'modified' or None}">
                  <th py:if="idx == 0" class="section"
                      rowspan="${len(section.options)}">${section.name}</th>
                  <td class="name">${option.name}</td>
                  <td class="value">${option.value}</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </py:if>

    </div>
  </body>
</html>
