<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>日志</title>
    <script type="text/javascript">/*<![CDATA[*/
      jQuery(document).ready(function($) {
        $("#log_type").change(function() {
          $("#log_level").enable(this.selectedIndex > 0);
          $("#log_file").enable(this.options[this.selectedIndex].value == "file");
        }).change();
      });
    /*]]>*/</script>
  </head>

  <body>
    <h2>日志</h2>

    <form class="mod" id="modlog" method="post">
      <fieldset>
        <legend>配置</legend>
        <div class="field">
          <label>类型:<br />
            <select id="log_type" name="log_type">
              <option py:for="type in log.types" value="${type.name}"
                      selected="${type.selected or None}"
                      disabled="${type.disabled or None}">${type.label}</option>
            </select>
          </label>
        </div>
        <div class="field">
          <label>日志等级:<br />
            <select id="log_level" name="log_level">
              <option py:for="level in log.levels"
                      selected="${level==log.level or None}">$level</option>
            </select>
          </label>
        </div>
        <div class="field">
          <label>日志文件:<br />
            <input type="text" id="log_file" name="log_file" size="48" value="$log.file"/>
          </label>
          <p class="help">
            如果你指定相对路径, 日志文件将保存在
            <code>日志</code> 目录中, 项目环境 (<code>$log.dir</code>).
          </p>
        </div>
        <div class="buttons">
          <input type="submit" value="应用修改"/>
        </div>
      </fieldset>
    </form>
  </body>

</html>
