<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html" />
  <head>
    <title>里程碑</title>
  </head>

  <body>
    <h2>管理里程碑</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" id="modmil" method="post">
        <fieldset>
          <legend>修改里程碑:</legend>
          <div class="field">
            <label>名称:<br /> <input type="text" name="name" value="$milestone.name" /></label>
          </div>
          <div class="field">
            <label>预期:<br />
              <input type="text" id="duedate" name="duedate" size="${len(date_hint)}"
                value="${milestone.due and format_date(milestone.due)}" title="格式: $date_hint" />
              <em>格式: $date_hint</em>
            </label>
          </div>
          <div class="field">
            <label>
              <input type="checkbox" id="completed" name="completed"
                     checked="${milestone.completed or None}" />
              完成:<br />
            </label>
            <label>
              <input type="text" id="completeddate" name="completeddate"
                     size="${len(datetime_hint)}"
                     value="${format_datetime(milestone.completed)}"
                     title="格式: $datetime_hint" />
              <em>格式: $datetime_hint</em>
            </label>
            <script type="text/javascript">
              jQuery(document).ready(function($) {
                function updateCompletedDate() {
                  $("#completeddate").enable($("#completed").checked());
                }
                $("#completed").click(updateCompletedDate);
                updateCompletedDate();
              });
            </script>
          </div>
          <div class="field">
            <fieldset class="iefix">
              <label for="description" i18n:msg="">
                描述 (你在此可以使用 <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> ):
              </label>
              <p>
                <textarea id="description" name="description" class="wikitext" rows="6" cols="60">
${milestone.description}</textarea>
              </p>
            </fieldset>
          </div>
          <div class="buttons">
            <input type="submit" name="cancel" value="取消"/>
            <input type="submit" name="save" value="保存"/>
          </div>
        </fieldset>
      </form>

      <py:otherwise>

        <form class="addnew" id="addmil" method="post">
          <fieldset>
            <legend>增加里程碑:</legend>
            <div class="field">
              <label>名称:<br />
                <input type="text" name="name" id="name" size="20" />
              </label>
            </div>
            <div class="field">
              <label>
                预期:<br />
                <input type="text" name="duedate" size="${len(date_hint)}"
                       title="格式: $date_hint" />
                <em>格式: $date_hint</em>
              </label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="增加" />
            </div>
          </fieldset>
        </form>

        <py:choose>
          <form py:when="milestones" method="POST">
            <table class="listing" id="millist">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>名称</th><th>预期</th><th>已完成</th><th>缺省</th>
                </tr>
              </thead>
              <tbody><tr py:for="milestone in milestones">
                <td>
                  <input type="checkbox" name="sel" value="$milestone.name" />
                </td>
                <td>
                  <a href="${panel_href(milestone.name)}">${milestone.name}</a>
                </td>
                <td><py:if test="milestone.due">
                  ${format_date(milestone.due)}
                </py:if></td>
                <td><py:if test="milestone.completed">
                  ${format_datetime(milestone.completed)}
                </py:if></td>
                <td class="default">
                  <input type="radio" name="default" value="$milestone.name"
                         checked="${milestone.name==default or None}" />
                </td>
              </tr></tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="删除所选条目" />
              <input type="submit" name="apply" value="应用修改" />
            </div>
            <p class="hint">
              你可以从此列表中删除所有条目, 以从用户界面中隐藏此属性.
            </p>
          </form>

          <p py:otherwise="" class="hint">
            只要你没有增加条目到此列表中, 此属性将保持在用户界面中完全不可见.
          </p>
        </py:choose>
      </py:otherwise>
    </py:choose>
  </body>

</html>
