<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Clients</title>
    <style type="text/css">
      p.contextual { margin-top:0; margin-bottom:2em }
    </style>
  </head>

  <body>
    <h2>Manage Clients</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" id="modclient" method="post">
        <fieldset>
          <legend>Modify Client:</legend>
          <div class="field">
            <label>Name:<br />
            <input type="text" name="name" value="$client.name"/></label>
          </div>
          <div class="field">
            <fieldset class="iefix">
              <label for="description">
                Description (you may use
                <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a>
                here):
              </label>
              <p>
                <textarea id="description" name="description" class="wikitext"
                          rows="6" cols="60">
$client.description</textarea>
              </p>
            </fieldset>
          </div>
          <div py:if="42==1" class="field">
            <label>Currency:<br />
            <input type="text" name="currency" value="$client.currency"/></label>
            <p class="contextual help">Purely cosmetic and for display purposes only. The currency symbol to use for this client.</p>
          </div>
          <div class="field">
            <label>Default Charge Rate:<br />
            <input type="text" name="default_rate" value="$client.default_rate"/></label>
            <p class="contextual help">The default numeric hourly rate for this client (will be copied to the ticket on creation)</p>
          </div>
        </fieldset>
        <py:for each="event in events">
          <py:for each="options in (event.summary_options, event.action_options)">
            <fieldset py:if="options">
              <py:with vars="field = options==event.summary_options and 'summary' or 'action'">
                <legend py:if="'summary'==field">Client Specific Summary Options for $event.name</legend>
                <legend py:if="'action'==field">Client Specific Action Options for $event.name</legend>
                <div py:for="option in options.values()" class="field">
                  <label>$option.name</label><br />
                  <!-- Todo: Support more modes other than intput type=text... -->
                  <input type="text" name="${field}-option-${event.md5}-${option.md5}" size="60" value="$option.value"/>
                  <p class="help">$option.description</p>
                </div>
              </py:with>
            </fieldset>
          </py:for>
        </py:for>


        <fieldset>
          <legend>Change Notification Settings</legend>
          <p class="help">
            An email showing the changes made to tickets assigned to this client can be sent
            out automatically.<br />
            This email will (by default) highlight any state changes (opened, closed etc.)
            and any milestone changes (and thus an updated delivery date).<br />
            Any comments left in the ticket using the &quot;#!clients&quot; formatter will 
            also be included in this mail.
          </p>
          <p><em>Last notification sent on: ${(client.changes_lastupdate>0 and format_date(client.changes_lastupdate)) or 'Never'}</em></p>
          <div class="field">
            <label>Change Notification List (emails):<br />
            <input type="text" name="changes_list" size="60" value="$client.changes_list"/></label>
            <p class="contextual help">Comma or space separated list of email addresses</p>
          </div>
          <div class="field">
            <label>Change Notification Period:<br />
            <input type="text" name="changes_period" value="$client.changes_period"/></label>
            <p class="contextual help">Period name as used in the corresponding crontab</p>
          </div>
        </fieldset>
        <fieldset>
          <legend>Summary Notification Settings</legend>
          <p class="help">
            A summary email of tickets assigned to this client can be sent out automatically.<br />
            This email will (by default) show the current state and delivery date (by milestone)
            of all active tickets for this client.
          </p>
          <p><em>Last notification sent on: ${(client.summary_lastupdate>0 and format_date(client.summary_lastupdate)) or 'Never'}</em></p>
          <div class="field">
            <label>Summary Notification List (emails):<br />
            <input type="text" name="summary_list" size="60" value="$client.summary_list"/></label>
            <p class="contextual help">Comma or space separated list of email addresses</p>
          </div>
          <div class="field">
            <label>Summary Notification Period:<br />
            <input type="text" name="summary_period" value="$client.summary_period"/></label>
            <p class="contextual help">Period name as used in the corresponding crontab</p>
          </div>
        </fieldset>
        <div class="buttons">
          <input type="submit" name="cancel" value="Cancel" />
          <input type="submit" name="save" value="Save" />
        </div>
      </form>

      <py:otherwise>
        <form class="addnew" id="addclient" method="post">
          <fieldset>
            <legend>Add Client:</legend>
            <div class="field">
              <label>Name:<br /><input type="text" name="name" /></label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        <py:choose>
          <form py:when="clients" method="POST">
            <table class="listing" id="clientlist">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Name</th><th>Default</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="client in clients">
                  <td class="sel"><input type="checkbox" name="sel" value="$client.name" /></td>
                  <td class="name">
                    <a href="${panel_href(client.name)}">$client.name</a>
                  </td>
                  <td class="default">
                    <input type="radio" name="default" value="$client.name"
                           checked="${client.name==default or None}" />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected items" />
              <input type="submit" name="apply" value="Apply changes" />
            </div>
            <p class="help">
              You can remove all items from this list to completely hide this
              field from the user interface.
            </p>
          </form>

          <p py:otherwise="" class="help">
            As long as you don't add any items to the list, this field
            will remain completely hidden from the user interface.
          </p>
        </py:choose>
      </py:otherwise>
    </py:choose>
  </body>

</html>
