<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Clients</title>
    <style type="text/css">
      p.contextual { margin-top:0; margin-bottom:2em }
    </style>
  </head>

  <body>
    <h2>Manage Clients</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" id="modclient" method="post">
        <fieldset>
          <legend>Modify Client:</legend>
          <div class="field">
            <label>Name:<br />
            <input type="text" name="name" value="$client.name"/></label>
          </div>
          <div class="field">
            <fieldset class="iefix">
              <label for="description">
                Description (you may use
                <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a>
                here):
              </label>
              <p>
                <textarea id="description" name="description" class="wikitext"
                          rows="6" cols="60">
$client.description</textarea>
              </p>
            </fieldset>
          </div>
          <div py:if="42==1" class="field">
            <label>Currency:<br />
            <input type="text" name="currency" value="$client.currency"/></label>
            <p class="contextual help">Purely cosmetic and for display purposes only. The currency symbol to use for this client.</p>
          </div>
          <div class="field">
            <label>Default Charge Rate:<br />
            <input type="text" name="default_rate" value="$client.default_rate"/></label>
            <p class="contextual help">The default numeric hourly rate for this client (will be copied to the ticket on creation)</p>
          </div>
        </fieldset>

        <py:for each="event in events">
          <py:for each="options in (event.summary_client_options, event.action_client_options)">
            <fieldset py:if="options">
              <py:with vars="field = options==event.summary_options and 'summary' or 'action'">
                <legend py:if="'summary'==field">Client Specific Summary Options for $event.name</legend>
                <legend py:if="'action'==field">Client Specific Action Options for $event.name</legend>
                <div py:for="option in options.values()" class="field">
                  <label>$option.name</label><br />
                  <py:choose test="option.type">
                    <textarea py:when="'large'" name="${field}-option-${event.md5}-${option.md5}" rows="10" cols="70">$option.value</textarea>
                    <input py:when="'small'" name="${field}-option-${event.md5}-${option.md5}" type="text" size="5" value="$option.value" />
                    <select py:when="'list'" name="${field}-option-${event.md5}-${option.md5}">
                      <option py:for="val in option.vals" selected="${val == option.value and 'selected' or None}">$val</option>
                    </select>
                    <input py:otherwise="" name="${field}-option-${event.md5}-${option.md5}" type="text" size="60" value="$option.value" />
                  </py:choose>
                  <p class="help">$option.description</p>
                </div>
              </py:with>
            </fieldset>
          </py:for>
        </py:for>

        <div class="buttons">
          <input type="submit" name="cancel" value="Cancel" />
          <input type="submit" name="save" value="Save" />
        </div>
      </form>

      <py:otherwise>
        <form class="addnew" id="addclient" method="post">
          <fieldset>
            <legend>Add Client:</legend>
            <div class="field">
              <label>Name:<br /><input type="text" name="name" /></label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        <py:choose>
          <form py:when="clients" method="POST">
            <table class="listing" id="clientlist">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Name</th><th>Default</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="client in clients">
                  <td class="sel"><input type="checkbox" name="sel" value="$client.name" /></td>
                  <td class="name">
                    <a href="${panel_href(client.name)}">$client.name</a>
                  </td>
                  <td class="default">
                    <input type="radio" name="default" value="$client.name"
                           checked="${client.name==default or None}" />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected items" />
              <input type="submit" name="apply" value="Apply changes" />
            </div>
            <p class="help">
              You can remove all items from this list to completely hide this
              field from the user interface.
            </p>
          </form>

          <p py:otherwise="" class="help">
            As long as you don't add any items to the list, this field
            will remain completely hidden from the user interface.
          </p>
        </py:choose>
      </py:otherwise>
    </py:choose>
  </body>

</html>
