<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>Dynamic Fields Options</title>
  </head>
  <body>
    <div py:if="saved" class="system-message" id="notice">
      Your preferences have been saved.
    </div>
    <p class="hint">
    Enable/disable a rule below by checking/unchecking its checkbox.
    </p>
    <fieldset py:for="title in data">
      <legend>${title}</legend>
      <div class="field">
        <p class="hint">${data[title]['desc']}</p>
        <py:for each="pref in data[title]['prefs']">
          <br/>
          <label>
            <input type="checkbox" name="${pref['id']}" 
              value="1" checked="${pref['enabled'] == '1' or None}" />
            ${pref['label']}
          </label>
          <select py:if="pref['type']=='select'" name="${pref['id']}.value">
            <option py:for="option in pref['options']" value="${option}" selected="${(option==pref['value'] and 'selected') or None}">
                ${option}
            </option>
          </select>
        </py:for>
      </div>
    </fieldset>
  </body>
</html>
