<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>Dropbear Settings</title>
  </head>
  <body>

    <div class="field">
      <label>
        <input type="text" name="dropbears" value="$dropbears" />
        Number of dropbears
      </label>
      <p class="hint">Number of dropbears to show on each page. Setting this to 0
        will disable the dropbears.</p>
    </div>

  </body>
</html>
